{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Under 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="form-title heading-large" id="thirdparty">
        Ask "Have you previously had a job but have had to stop work through no fault of your own?"
      </h1>

      <form action="prevjob" method="get" class="form" id="theForm">
        <input type="hidden" name="page_name" value="start"/>

        <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">Ask "Have you previously had a job but have had to stop work through no fault of your own?"</legend>

            <label for="prevJobTrue" class="block-label" data-target="example_other">
              <input type="radio" name="prevJob" value="true" id="prevJobTrue" >
              Yes, they have
            </label>
            <div class="panel panel-border-narrow js-hidden" id="example_other">
              <p class="form-label">
                Ask for wage slips, P45, redundancy letter from employer or other proof of them being unable to work. You only need to see one. If they don't have any of them then change your answer to 'no'.
              </p>
            </div>
            <label for="prevJobFalse" class="block-label">
              <input type="radio" name="prevJob" value="false" id="prevJobFalse">
              No, they haven't
            </label>
          </fieldset>
        </div>

        <div class="primary-nav form-group">
          <button type="submit" class="button" id="submitButton">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
