{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Under 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="form-title heading-large" id="thirdparty">
    Do they have a job?
  </h1>

  <form action="haveaprevjob" method="get" class="form" id="theForm">

    <input type="hidden" name="page_name" value="start"/>

    <!-- Job -->
        <div class="form-group">
          <fieldset>
            <!--
            <legend class="visuallyhidden">Are you 18 or over?</legend>
            -->
            <label for="employed" class="block-label">
              <input type="checkbox" name="employed" value="true" id="employed" data-uncheck='["jobNone"]'>
              Yes, they're employed
            </label>

            <label for="selfemployed" class="block-label">
              <input type="checkbox" name="selfemployed" value="true" id="selfemployed" data-uncheck='["jobNone"]'>
              Yes, they're self-employed (work for themselves)
            </label>
            <label for="jobNone" class="block-label">
              <input type="checkbox" name="job" value="none" id="jobNone" data-uncheck='["employed", "selfemployed"]'>
              No
            </label>
          </fieldset>
        </div>

    <fieldset class="primary-nav form-group">
      <input type="submit" value="Continue" class="button" id="submitButton"/>
    </fieldset>

  </form>

    </div>
  </div>
</main>
{% endblock %}
