// the global prototyping styles get imported
// see: app/assets/sass/_global-styles.scss
@import "global-styles";

// #############################################################################
// base styles
// #############################################################################

*:not(.token) {
	font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

// #############################################################################
// layout styles
// #############################################################################

.c-global-header {
	
	background: #000;
	padding: 5px 10px;
	color: #fff;
	overflow: hidden;
	
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	
	a,
	a:visited,
	a:hover,
	a:active {
		color: #fff;
	}
	
	> *:last-child {
		margin-bottom: 0;
	}
	
	&__service-name,
	&__department-name {
		margin: 0;
		font-size: 18px;
		font-weight: bold;
		
		@include media('tablet') {
			font-size: 26px;
		}
		
	}
	
	&__service-name {
		text-align: center;
	}
	
}

.c-global-footer {
	border-top: 1px solid $border-colour;
	background: $grey-3;
	padding: 15px;
}

.c-focal-pane {
	margin: 0 auto;
	
	&__title {
		text-align: center;
	}
	
	@include media('desktop') {
		max-width: 50%;
	}
	
	&--wide {
		@include media('desktop') {
			max-width: 60%;
		}
	}
	
}

.l-subsection__navigation {
	padding: 2em 0 0;
}

.l-subsection__primary,
.l-subsection__secondary {
	margin-top: 40px;
}

.l-subsection-divider {
	background: $dwp-active-colour;
	height: 10px;
	overflow: hidden;
	margin-bottom: 15px;
}

// #############################################################################
// navigation styles
// #############################################################################

.c-global-navigation {
	background: $grey-3;
	overflow: hidden;
	&__tertiary-links {
		text-align: right;
	}
}

.c-navigation {
	
	$root: #{&};
	
	&--primary {
	
		#{$root}__list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			letter-spacing: -0.32em;
		}
		
		#{$root}__item {
			display: inline-block;
			font-size: 18px;
			letter-spacing: normal;
		}
		
		#{$root}__link {
			display: inline-block;
			padding: 15px;
			text-decoration: none;
			font-weight: bold;
			color: #000;
			
			&.is--active,
			&:hover {
				color: #fff;
			}
			
			&.is--active {
				background: darken($dwp-active-colour, 5);
			}
			
			&:hover {
				background: $dwp-active-colour;
			}
			
		}
		
	}
	
	&--tabbed {
		
		#{$root}__list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			letter-spacing: -0.32em;
			border-bottom: 1px solid $border-colour;
		}
		
		#{$root}__item {
			display: inline-block;
			font-size: 18px;
			letter-spacing: normal;
			margin: 0 7px 0 0;
			&.is--active {
				border: 1px solid $border-colour;
				margin-bottom: -1px;
				border-bottom: 1px solid #fff;
			}
		}
		
		#{$root}__link {
			margin-bottom: 7px;
			display: inline-block;
			padding: 15px 15px;
			font-size: 17px;
			background: $grey-3;
			text-decoration: none;
			font-weight: bold;
			color: #000;
			&.is--active,
			&.is--active:hover {
				background: transparent;
			}
			
			&:hover {
				background: lighten($grey-3,5);
			}
			
		}
		
	}
	
}

.tertiary-links {
      
  padding: 15px;
  letter-spacing: -0.32em;
  
  &__item {
    letter-spacing: normal;
    display: inline-block;
    border-right: 1px solid rgba(black,0.3);
    line-height: 1;
    padding: 0 10px;
		
		a {
			color: #000;
		}
		
    &:last-of-type {
      border: 0;
      padding-right: 0;
    }
    &:first-of-type {
      padding-left: 0;
    }
  }
  
}

// #############################################################################
// component styles
// #############################################################################

div.amount-field {
	position: relative;
	display: inline-block;
	padding-left: 50px;
}

.form-input-denote {
	position: absolute;
	background-color: #dee0e2;
	line-height: 2;
	text-align: center;
	z-index: 0;
	left: 0;
	top: 0;
	width: 50px;
}

.inline-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.data-table {
	thead {
		tr:first-child {
			th {
				border-top: 1px solid $border-colour;
			}
		}
	}
	th, td {
		font-size: 16px;
	}
	
	&--case {
		
		margin-bottom: 2em;
		
		td, th {
			font-size: 18px;
		}
	}
	
}

.pager {
	
	font-size: 16px;
	padding: 15px 0;

	&-controls {
		float: right;
	}

	&-items {
		display: inline;
	}

	&-items li:first-child {
		margin-left: 0;
	}

	&-items li {
		display: inline;
		margin: 0 5px;
	}

	&-next {
		margin-left: 10px;
	}

	&-next,
	&-prev {
		margin-right: 0;
	}

	&-next,
	&-prev {
		margin-right: 10px;
	}	
	
}

.dropzone {
  border: 1px solid $border-colour;
  background: $grey-3;
  padding: 50px 20px;
  text-align: center;
	margin: 0 0 20px 0;
  * {
    margin: 0;
  }
}

.meta-data {
	
	$root: #{&};
	
	&--vertical {
		
		@extend %contain-floats;
		
		#{$root}__key,
		#{$root}__val {
			margin: 0 0 10px 0;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		
		#{$root}__key {
			float: left;
			margin-right: 1em;
			width: 25%;
		}
		
	}
	
}

.button {
	&--link {
		background-color: transparent;
		color: $link-colour;
		border-colour: transparent;
		&:link,
		&:hover,
		&:active,
		&:visited {
			background-color: transparent;
			color: $link-colour;
			box-shadow: none;
		}
	}
}

// #############################################################################
// diary styles
// #############################################################################

@import "diary";

// #############################################################################
// search/find styles
// #############################################################################

.c-search-pattern {
	
	@extend %contain-floats;
	
	&__field {
		float: left;
		width: 83.5%;
	}
	
	&__action {
		float: right;
		width: 15%;
	}
	
	&__button {
		width: 100%;
		line-height: 1.15;
	}
	
}













