{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Under 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="form-title heading-large" id="thirdparty">
        What family do you have in the UK?
      </h1>

      <p>You may be able to apply for benefits through your family. Select all that apply to you.</p>

      <form action="partner" method="get" class="form" id="theForm">
        <input type="hidden" name="page_name" value="start"/>

        <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">What family do you have in the UK?</legend>

            <label for="partner" class="block-label">
              <input type="checkbox" name="partner" value="true" id="partner">
              Partner that you live with, eg civil partner or spouse
            </label>

            <label for="children" class="block-label">
              <input type="checkbox" name="children" value="false" id="children">
              Children
            </label>
            <label for="other" class="block-label">
              <input type="checkbox" name="other" value="false" id="other">
              Other relations, eg parents, uncles and aunts
            </label>
          </fieldset>
        </div>

        <div class="primary-nav form-group">
          <button type="submit" class="button" id="submitButton">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
