{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="form-title heading-large">
        How long have you lived in the UK?
      </h1>

      <form method="post" class="form">

        <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">How long have you lived in the UK?</legend>

            <label for="fiveYearsResidency-yes" class="block-label">
              <input type="radio" name="fiveYearsResidency" value="yes" id="fiveYearsResidency-yes">
              More than 5 years
            </label>

            <label for="fiveYearsResidency-no" class="block-label">
              <input type="radio" name="fiveYearsResidency" value="false" id="fiveYearsResidency-no">
              Less than 5 years
            </label>
          </fieldset>
        </div>

        <div class="primary-nav form-group">
          <button type="submit" class="button" id="submitButton">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
