{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}
  {% set attributes = '' if isPartnerFlow else ' class="inline"' %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          Are the words 'FAMILY MEMBER' or 'EU RIGHT TO RESIDE' on the biometric residence permit?
        </h1>

        <div class="form-group">
          <fieldset role="radiogroup" aria-required="true"{{ attributes | safe }}>
            <legend>
              <span class="visuallyhidden">Do the words 'FAMILY MEMBER' or 'EU RIGHT TO RESIDE' appear on the biometric residence permit?</span>
            </legend>

            <label for="family-member-yes" class="block-label selection-button-radio">
              <input type="radio" name="family-member" value="yes" id="family-member-yes">
              Yes
            </label>

            <label for="family-member-no" class="block-label selection-button-radio">
              <input type="radio" name="family-member" value="no" id="family-member-no">
              No
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
