{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}
  {% set attributes = '' if isPartnerFlow else ' class="inline"' %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          What is their relationship with the family member?
        </h1>

        <div class="form-group">
          <fieldset role="radiogroup" aria-required="true"{{ attributes | safe }}>
            <legend>
              <span class="visuallyhidden">What is their relationship with the family member?</span>
            </legend>

            <label for="relationship-spouse" class="block-label selection-button-radio">
              <input type="radio" name="relationship" value="yes" id="relationship-spouse">
              Spouse or civil partner
            </label>

            <label for="relationship-other" class="block-label selection-button-radio">
              <input type="radio" name="relationship" value="other" id="relationship-other">
              Other
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
