{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
         What’s {{ 'their partner’s nationality as shown on their partner’s passport?' if isPartnerFlow else 'their nationality as shown on the passport they’ve brought today?' }}
      </h1>

      <form method="post" class="form">
        <div class="form-group">
          <fieldset>
            <label for="nationality" class="visuallyhidden">What’s your nationality?</label>

            <select name="nationality" id="nationality" class="form-control full autocompleter">
              <option value="">Select country</option>
              {%- for country in countries %}
              <option value="{{country}}">{{country}}</option>
              {%- endfor %}
            </select>
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button" id="submitButton">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
{% endblock %}
