{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          Do they have a partner?
        </h1>

        <div class="form-group">
          <fieldset class="inline">
            <legend id="partner" class="visuallyhidden">Do you have a partner?</legend>
            <p class="form-hint">This means a husband, wife or civil partner, or someone who lives with them and they share a personal life with, for example they may have common bills or share a bank account.</p>

            <label for="partner-yes" class="block-label">
              <input type="radio" name="partner" value="yes" id="partner-yes">
              Yes
            </label>

            <label for="partner-no" class="block-label">
              <input type="radio" name="partner" value="no" id="partner-no">
              No
            </label>
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
