{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}
  {% set attributes = '' if isPartnerFlow else ' class="inline"' %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        {{ 'Is their partner' if isPartnerFlow else 'Is this person' }} a refugee?
      </h1>

      <form method="post" class="form">
        <div class="form-group">
          <fieldset{{ attributes | safe }}>
            <legend id="refugee" class="visuallyhidden">{{ 'Is their partner' if isPartnerFlow else 'Is this person' }} a refugee?</legend>

            <label for="refugee-yes" class="block-label">
              <input type="radio" name="refugee" value="yes" id="refugee-yes">
              Yes
            </label>

            <label for="refugee-no" class="block-label">
              <input type="radio" name="refugee" value="no" id="refugee-no">
              No
            </label>

            {% if isPartnerFlow %}
            <label for="refugee-unknown" class="block-label">
              <input type="radio" name="refugee" value="unknown" id="refugee-unknown">
              Don’t Know
            </label>
            {% endif %}
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button" id="submitButton">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
