{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        {{ 'Their partner will have to attend a gateway interview. Can their partner bring proof of regular self-employment income they’ve had in the last 3 months?' if isPartnerFlow else 'They will have to attend a gateway interview. Can they bring with them proof of regular self-employment income they’ve had in the last 3 months?' }}
      </h1>

     