{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

	<div class="l-subsection">
		
		{% if not page.hide.section_nav %}			
		<div class="l-subsection__navigation">
			
			{% block section_navigation %}
			{{ 
				appMacro.navigation({
					rootURL: currentApp.urlPaths.root,
					items: currentApp.subnav | d([
					{ href: "/", text: "Subnav link" },
					{ href: "/", text: "Subnav link" },
					{ href: "/", text: "Subnav link" },
					{ href: "/", text: "Subnav link" }
					]),
					activeFlag: page.subsection,
					modifiers: ['tabbed']
				})
			}}
			{% endblock %}
		</div>
		{% endif %}
		
		{% block subsection_content %}
		<div class="grid-row">
			
			<div class="column-two-thirds">
				
				<div class="l-subsection__primary">
										
					{% block subsection_primary %}
						<p>subsection primary</p>
					{% endblock %}
					
				</div>
				
			</div>
		
			<div class="column-one-third">
				
				<div class="l-subsection__secondary">
					
					{% block subsection_secondary %}
						
					{% endblock %}
					
				</div>
				
			</div>
		
		</div>
		{% endblock %}
		
	</div>
	
{% endblock %}