{#
	This is the subapp default layout. This uses the existing layouts from the
	gov.uk prototyping kit but extends them to override the stylesheet 
	and allow the addition of a supapp specific javascript file.
	
	Other layouts within the subapp should extend this file. Making sure to
	super() if using an existing block from the inheritance chain.
	
#}

{% import currentApp.filePaths.includesDir + "macros.html" as appMacro with context %}

{% extends currentApp.filePaths.layoutsDir + "admin.html" %}

{% block head %}
	{# swap out the default 'application.css' for this sub-application specific file #}
	<link href="{{ currentApp.urlPaths.stylesPath + currentApp.config.cssFile | d('sub-application.css') }}" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
	<main id="content">
		{# 
			a block to ensure the pages are always wrapped in the main content
			element. override content block if you don't want this.
		#}
		{% block main_content %}
			<p>lorem</p>
		{% endblock %}
	</main>
{% endblock %}

{% block body_end %}
	{{ super() }}
	{# a block specifically for page scripts that adds the supapp js. #}
	{% block page_scripts %}
		<script src="{{ currentApp.urlPaths.scriptsPath + currentApp.config.jsFile | d('sub-application.js') }}" charset="utf-8"></script>
	{% endblock %}
{% endblock %}