{% extends "layouts/subappindex.html" %}

{% block description %}

<h2 class="heading-medium">Overview</h2>

<p class="lede"><p class="lede">This ticket is to make changes to the formatting of instructions on outcomes pages used in live. It is based on some alternative outcome pages we prototyped and tested with work coaches as part of PYCA-593.</p>

<ul class="list list-bullet">
	<li><a href="https://jira.dwp.gov.uk/browse/PYCA-607">Jira Ticket with full details (PYCA-607)</a></li>
</ul></p>

{% endblock %}
