          <p>You will then have a short interview about whether you live and intend to stay in the UK. This will cover where you live, when you arrived and details of your daily life, for example your doctor or dentist.</p>
          <h2 class="heading-medium">If you have other family in the UK</h2>
            <p>You'll be asked questions about your children or any other family you have in the UK. This will include the dates they arrived, the school they go to and the work they do.</p>
            <p>You don't need to bring evidence of any answers you give, but you may find it handy to have these details to hand.<p>
            	