{% extends "../outcome.html" %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Do not complete the to-do",
      text: "Book a further evidence appointment",
      classes: "outcome"
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">1. Book a further evidence appointment</h2>
    <p>Choose the duration you think will be needed.</p>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">2. Say what the appointment is for</h2>
    <p>Copy this into the ‘Any further agent notes about this appointment’ box:</p>
      {% set appointments1 %}
      <p>The claimant should have brought payslips or bank statements covering their final 3 months of employment. If they do not have these, they should have a permanent contract, and payslips or bank statements covering their final month of employment. They should also have a redundancy letter from their employer, and their passport or national ID card. At the appointment, go to the ‘check if HRT interview is needed’ to-do, use the ‘prove you can apply’ service, then complete the to-do.</p>
      {% endset %}

      {{ govukInsetText({
        html: appointments1
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-7">3. Tell the claimant what to bring</h2>
      <p>Copy this into the ‘Extra information for the claimant’ box:</p>
      {% set appointments2 %}
        <p>Bring payslips or bank statements covering your final 3 months of employment. If you do not have these, bring a permanent contract, and payslips or bank statements covering your final month of employment. You must also bring a redundancy letter from your employer, and your passport or national ID card.</p>
      {% endset %}

      {{ govukInsetText({
        html: appointments2
      }) }}
    <h2 class="govuk-heading-m govuk-!-margin-top-7">4. Select 'Done'</h2>


  </div>
</div>
{% endblock %}
