{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Under 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="form-title heading-large" id="thirdparty">
    Where are you from?
  </h1>
  <p>This means a country you have a passport for or where you claim nationality.</p>

  <form action="EEA/haveajob" method="get" class="form" id="theForm">

    <input type="hidden" name="page_name" value="start"/>

    <!-- YOUR CONDITION -->
    <div class="form-group" style="margin-bottom:45px">
      <!-- <label class="form-label-bold" for="conditions-and-dis" id="">What's your condition or disability?</label> -->
      <input name="nationality" id="nationality" class="form-control full"/>
    </div>

    <fieldset class="primary-nav form-group">
      <input type="submit" value="Continue" class="button" id="submitButton"/>
    </fieldset>

  </form>
    <p><a href='nonEEA/areyouarefugee'>This is a non-EEA country</a>
    </div>
  </div>
</main>
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
<script type="text/javascript">
  var substringMatcher = function(strs)
  {
     return function findMatches(q, cb)
     {
       var matches = [];
       var substrRegex = new RegExp(q, 'i');
       $.each(strs, function(i, str) {
         if (substrRegex.test(str)) {
           matches.push(str);
         }
       });
       cb(matches);
     };
  };

  var conditions = [
    "Austria", 
    "Belgium", 
    "Bulgaria", 
    "Croatia", 
    "Republic of Cyprus", 
    "Czech Republic", 
    "Denmark", 
    "Estonia", 
    "Finland", 
    "France", 
    "Germany", 
    "Greece", 
    "Hungary", 
    "Ireland", 
    "Italy", 
    "Latvia", 
    "Lithuania", 
    "Luxembourg", 
    "Malta", 
    "Netherlands", 
    "Poland", 
    "Portugal", 
    "Romania", 
    "Slovakia", 
    "Slovenia", 
    "Spain", 
    "Sweden",
    "Iceland",
    "Liechtenstein",
    "Norway",
    "Switzerland",
    "UK"
  ];

  $(document).on('ready',function()
  {
    $('#nationality').typeahead(
      { "hint":true, "highlight":true, "minLength":1 },
      {
       name:'nationality',
       source: substringMatcher(conditions)
      }
    );
  });
</script>
{% endblock %}
