{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Under 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="form-title heading-large" id="thirdparty">
        What's your nationality?
      </h1>

      <form action="EEA/haveajob" method="get" class="form" id="theForm">
        <input type="hidden" name="page_name" value="start"/>

        <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">What's your nationality?</legend>

            <select name="nationality" class="form-control full autocompleter">
              <option value="">Select country</option>
              {%- for country in countries %}
              <option value="{{country}}">{{country}}</option>
              {%- endfor %}
            </select>
          </fieldset>
        </div>

        <div class="primary-nav form-group">
          <button type="submit" class="button" id="submitButton">Continue</button>
        </div>

      <p>
        <a href='nonEEA/areyouarefugee'>This is a non-EEA country</a>
      </p>

      </form>

    </div>
  </div>
</main>
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
{% endblock %}
