{% set page = {
	title: "BRP family member"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-full">

      <form method="post" class="form">


				<div class="grid-row">

					<div class="column-one-half">

			<h1 class="heading-large">
				Are the words 'FAMILY MEMBER' or 'EU RIGHT TO RESIDE' on the biometric residence permit?
			</h1>

        <div class="form-group">
          <fieldset role="radiogroup" aria-required="true"{{ attributes | safe }}>
            <legend>
              <span class="visuallyhidden">Do the words 'FAMILY MEMBER' or 'EU RIGHT TO RESIDE' appear on the biometric residence permit?</span>
            </legend>

            <label for="family-member-yes" class="block-label selection-button-radio">
              <input type="radio" name="familyMember" value="yes" id="family-member-yes">
              Yes
            </label>

            <label for="family-member-no" class="block-label selection-button-radio">
              <input type="radio" name="familyMember" value="no" id="family-member-no">
              No
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

					</div>
					<div class="column-one-half">

						<div class="image-toggler js-image-toggler">

							<ul class="image-toggler__nav">
								<li class="image-toggler__nav-item active"><a href="#image1">Front</a></li>
								<li class="image-toggler__nav-item"><a href="#image2">Back</a></li>
							</ul>

							<div class="image-toggler__body">

								<div class="image-toggler__item image-toggler__item--front js-image-toggler__item active" id="image1">

									<figure class="figure">
										<img src="{{ currentApp.urlPaths.imagesPath }}brp-front-demo.jpg" alt="">
										<p class="figure__caption" aria-hidden="true">Look for the wording in these places</p>
									</figure>

								</div>

								<div class="image-toggler__item image-toggler__item--back js-image-toggler__item" id="image2">

									<figure class="figure">
										<img src="{{ currentApp.urlPaths.imagesPath }}brp-back-demo.jpg" alt="">
										<p class="figure__caption" aria-hidden="true">Sometimes it can be written on the back.</p>
									</figure>

								</div>

							</div>

						</div>

					</div>
				</div>


      </form>

    </div>
  </div>

{% endblock %}
