{% set page = {
	title: "Nationality"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
           What nationality is on {{ 'their partner’s passport?' if currentApp.isPartnerFlow else 'the passport they’ve brought today?' }}
        </h1>

        <div class="form-group">
          <fieldset>
            <label for="nationality" class="visuallyhidden">What nationality is on {{ 'their partner’s passport?' if currentApp.isPartnerFlow else 'the passport they’ve brought today?' }}</label>

            <select name="nationality" id="nationality" class="form-control full autocompleter">
              <option value="">Select country</option>
              {%- for country in countries %}
              <option value="{{country.name}}"{% if country.aliases %} data-aliases='[{% for alias in country.aliases %}"{{ alias }}"{% if not loop.last %},{% endif %}{% endfor %}]'{% endif -%}>{{country.name}}</option>
              {%- endfor %}
            </select>
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}