{% set page = {
	title: "Refugee"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          {{ 'Is their partner' if currentApp.isPartnerFlow else 'Is this person' }} a refugee?
        </h1>

        <div class="form-group">
          <fieldset role="radiogroup" aria-required="true"{{ attributes | safe }}>
            <legend>
              <span class="visuallyhidden">{{ 'Is their partner' if currentApp.isPartnerFlow else 'Is this person' }} a refugee?</span>
            </legend>

            <label for="refugee-yes" class="block-label selection-button-radio">
              <input type="radio" name="refugee" value="yes" id="refugee-yes">
              Yes
            </label>

            <label for="refugee-no" class="block-label selection-button-radio">
              <input type="radio" name="refugee" value="no" id="refugee-no">
              No
            </label>

            {% if currentApp.isPartnerFlow %}
            <label for="refugee-unknown" class="block-label selection-button-radio">
              <input type="radio" name="refugee" value="unknown" id="refugee-unknown">
              Don’t know
            </label>
            {% endif %}
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
