{% set page = {
	title: "UK National"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  {% set attributes = '' if currentApp.isPartnerFlow else ' class="inline"' %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          {{ 'Does their partner' if currentApp.isPartnerFlow else 'Does this person' }} have a British passport?
        </h1>

        <div class="form-group">
          <fieldset role="radiogroup" aria-required="true"{{ attributes | safe }}>
            <legend>
              <span class="visuallyhidden">{{ 'Does their partner' if currentApp.isPartnerFlow else 'Does this person' }} have a British passport?</span>
            </legend>

            <label for="ukNational-yes" class="block-label selection-button-radio">
              <input type="radio" name="ukNational" value="yes" id="ukNational-yes">
              Yes
            </label>

            <label for="ukNational-no" class="block-label selection-button-radio">
              <input type="radio" name="ukNational" value="no" id="ukNational-no">
              No
            </label>

            {% if currentApp.isPartnerFlow %}
            <label for="ukNational-unknown" class="block-label selection-button-radio">
              <input type="radio" name="ukNational" value="unknown" id="ukNational-unknown">
              Don’t know
            </label>
            {% endif %}
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>
			
			{{ currentApp | log }}

    </div>
  </div>
{% endblock %}
