{% extends "../outcome.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Do not complete the to-do",
      text: "Book a further evidence appointment",
      classes: "outcome"
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Go to ‘Appointments’</h2>
    <ol class="govuk-list govuk-list--number">
      <li>Book a further evidence appointment.</li>
      <li>Copy the following into the ‘Any further agent notes about this appointment’ box:
        <p class="govuk-!-margin-top-2">“Claimant to bring their British passport. At the appointment, use the ‘prove you can apply’ service and complete the ‘check if HRT interview is needed’ to-do.”</p>
      </li>
      <li>Copy the following into the ‘Extra information for the claimant’ box:
        <p class="govuk-!-margin-top-2">“Bring your British passport to the appointment.”</p>
      </li>
      <li>Select ‘Done’.</li>
    </ol>
  </div>
</div>
{% endblock %}
