{% extends "layouts/layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}
  {% set attributes = '' if isPartnerFlow else ' class="inline"' %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          {{ 'Has their partner' if isPartnerFlow else 'Have they' }} been out of the UK for more than 4 weeks in the last 6 months?
        </h1>

        <div class="form-group">
          <fieldset role="radiogroup" aria-required="true"{{ attributes | safe }}>
            <legend>
              <span class="visuallyhidden">{{ 'Has their partner' if isPartnerFlow else 'Have they' }} been out of the UK for more than 4 weeks in the last 6 months?</span>
            </legend>

            <label for="out-of-uk-yes" class="block-label selection-button-radio">
              <input type="radio" name="outOfUk" value="yes" id="out-of-uk-yes">
              Yes
            </label>

            <label for="out-of-uk-no" class="block-label selection-button-radio">
              <input type="radio" name="outOfUk" value="no" id="out-of-uk-no">
              No
            </label>

            {% if isPartnerFlow %}
            <label for="out-of-uk-unknown" class="block-label selection-button-radio">
              <input type="radio" name="outOfUk" value="unknown" id="out-of-uk-unknown">
              Don’t know
            </label>
            {% endif %}
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
