{% extends "../outcome.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Do not complete the to-do",
      text: "Book a further evidence appointment",
      classes: "outcome"
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">1. Book a further evidence appointment</h2>
    <p>Choose the duration you think will be needed. Do not complete the to-do. The agent will do this at the further evidence appointment.</p>


    <h2 class="govuk-heading-m govuk-!-margin-top-7">2. Say what the appointment is for</h2>
    <p>Copy this into the ‘Why did you book this appointment’ box:</p>


    {{ govukInsetText({
    text: "Go to the ‘check if HRT interview is needed’ to-do, use the ‘prove you can apply’ service then complete the to-do. The claimant should have brought their biometric residence permit (BRP)."
    }) }}


    <h2 class="govuk-heading-m govuk-!-margin-top-7">3. Tell the claimant what to bring</h2>
    <p>Copy this into the ‘Tell the claimant why you booked this appointment’ box:</p>

    {{ govukInsetText({
    text: "Bring your biometric residence permit (BRP) to the appointment."
    }) }}


    <h2 class="govuk-heading-m govuk-!-margin-top-7">4. Select ‘Done’</h2>




  </div>
</div>
{% endblock %}
