{% extends "layout.html" %}

{% block page_title %}
  Example - Branching
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Are you a refugee?
      </h1>

      <form action="visa" method="get" class="form">

        <div class="form-group">
          <fieldset class="inline">
            <legend class="visuallyhidden">Are you a refugee?</legend>

            <label for="refugeeTrue" class="block-label">
              <input type="radio" name="refugee" value="true" id="refugeeTrue">
              Yes
            </label>

            <label for="refugeeFalse" class="block-label">
              <input type="radio" name="refugee" value="false" id="refugeeFalse">
              No
            </label>
          </fieldset>
        </div>

        <div class="primary-nav form-group">
          <button type="submit" class="button" id="submitButton">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
