{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Under 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="form-title heading-large" id="thirdparty">
        Do you have a visa that's stamped 'recourse to public funds'?
      </h1>

      <form action="partner" method="get" class="form" id="theForm">
        <input type="hidden" name="page_name" value="start"/>

        <div class="form-group">
          <fieldset class="inline">
            <legend class="visuallyhidden">Do you have a visa that's stamped 'recourse to public funds'?</legend>

            <label for="visaTrue" class="block-label">
              <input type="radio" name="visa" value="true" id="visaTrue">
              Yes
            </label>

            <label for="visaFalse" class="block-label">
              <input type="radio" name="visa" value="false" id="visaFalse">
              No
            </label>
          </fieldset>
        </div>

        <div class="primary-nav form-group">
          <button type="submit" class="button" id="submitButton">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
