// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';
@import 'partials/autocomplete';
@import 'partials/outcome';
@import 'partials/prototype';
@import 'partials/table';
