{% set page = {
  title: "BRP Type"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          What type of permit is printed on the Biometric Residence Permit?
        </h1>

        <div class="form-group">
          <fieldset role="radiogroup" aria-required="true"{{ attributes | safe }}>
            <legend>
              <span class="visuallyhidden">What type of permit is printed on the Biometric Residence Permit?</span>
            </legend>

            {{
              form.radio({
                name: 'brpType',
                label: "Limited leave to remain"
              })
            }}

            {{
              form.radio({
                name: 'brpType',
                label: "Indefinite leave to remain"
              })
            }}
            {{
              form.radio({
                name: 'brpType',
                label: "Discretionary leave to remain"
              })
            }}
            <p class="form-block">Or</p>
            {{
              form.radio({
                name: 'brpType',
                label: "None of the above"
              })
            }}
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
