{% set page = {
  title: "Family Member BRP"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  {% set attributes = '' if currentApp.isPartnerFlow else ' class="inline"' %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          Is ‘family member’ written on {{ 'their partners' if currentApp.isPartnerFlow else 'their' }} BRP?
        </h1>

        <div class="form-group">
          <fieldset role="radiogroup" aria-required="true"{{ attributes | safe }}>

            <legend>
              <span class="visuallyhidden">Is ‘family member’ written on {{ 'their partners' if currentApp.isPartnerFlow else 'their' }} BRP?</span>
            </legend>

            {{
              form.radio({
                name: 'familyMemberBrp',
                label: 'Yes'
              })
            }}

            {{
              form.radio({
                name: 'familyMemberBrp',
                label: 'No'
              })
            }}
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
