{% set page = {
  title: "Out of UK for more than 4 weeks in last 2 years"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  {% set attributes = '' if currentApp.isPartnerFlow else ' class="inline"' %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          {{ 'Has their partner' if currentApp.isPartnerFlow else 'Have they' }} been out of the country for more than 4 weeks in the last 2 years?
        </h1>

        <div class="form-group">
          <fieldset role="radiogroup" aria-required="true"{{ attributes | safe }}>

            <legend>
              <span class="visuallyhidden">{{ 'Has their partner' if currentApp.isPartnerFlow else 'Have they' }} been out of the country for more than 4 weeks in the last 2 years?</span>
            </legend>

            {{
              form.radio({
                name: 'outOfUkMoreThan4WeeksIn2Years',
                label: "Yes"
              })
            }}

            {{
              form.radio({
                name: 'outOfUkMoreThan4WeeksIn2Years',
                label: "No"
              })
            }}
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}﻿
