{% set page = {
	title: "Refugee Biometric Residence Permit Date"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">

		<div class="column-two-thirds">


      <form method="post" class="form">

	      <h1 class="heading-large">
	        Is the residence permit in date?
	      </h1>

        <div class="form-group">
          <fieldset role="radiogroup" aria-required="true"{{ attributes | safe }}>
            <legend>
              <span class="visuallyhidden">Is the residence permit in date?</span>
            </legend>

            <label for="brp-yes-today" class="block-label selection-button-radio">
              <input type="radio" name="brprefugeedate" value="yes" id="brp-yes-today">
              Yes
            </label>

            <label for="brp-no" class="block-label selection-button-radio">
              <input type="radio" name="brprefugeedate" value="no" id="brp-no">
              No
            </label>

          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>





  </div>
{% endblock %}
