{% set page = {
	title: "END001"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

<div class="grid-row">
  <div class="column-two-thirds">

		{% include currentApp.filePaths.includesDir + "header.html" %}

		<h2 class="heading-medium">Evidence to collect</h2>
		<ul class="list list-bullet">
			<li>current passport – number, nationality, date of issue and expiry date</li>
			<li>date they left the UK and returned</li>
			<li>reason they left the UK and returned</li>
		</ul>

		{% include currentApp.filePaths.includesDir + "footer.html" %}

  </div>
</div>

{% endblock %}
