{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "family-member",
        name: type + "[familyMember]",
        fieldset: {
          legend: {
            text: "Is ‘family member’ written on their visa?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Check their biometric residence permit (BRP), residence card or the visa page on their passport."
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("['" + type + "'].familyMember", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("['" + type + "'].familyMember", "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
