{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "out-of-country-more-than-4-weeks",
        name: type + "[outOfCountryMoreThan4Weeks]",
        fieldset: {
          legend: {
            text: "Have they been out of the country for more than 4 weeks at a time in the last 2 years?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("['" + type + "'].outOfCountryMoreThan4Weeks", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("['" + type + "'].outOfCountryMoreThan4Weeks", "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
