{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {{ govukRadios({
        idPrefix: "settled-confirmation",
        name: type + "[settledConfirmation]",
        fieldset: {
          legend: {
            text: "Which status was shown next to the photograph?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "settled",
            text: "Settled",
            checked: checked("['" + type + "'].settledConfirmation", "settled")
          },
          {
            value: "pre-settled",
            text: "Pre-settled",
            checked: checked("['" + type + "'].settledConfirmation", "pre-settled")
          },
          {
            divider: "or"
          },
          {
            value: "couldnt-confirm",
            text: "Could not confirm this person's status",
            checked: checked("['" + type + "'].settledConfirmation", "couldnt-confirm")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
