{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

    <h1 class="govuk-heading-l">Check this person's settlement status online</h1>

      <p class="govuk-body">To confirm that this person has settled status:</p>

      <ol class="govuk-list govuk-list--number">
        <li>Go to <a class="govuk-link" target="_blank" href="https://settlement-status-prototype.herokuapp.com/jasmine/MVP/checker/">Check someone's status in the UK</a> (this will open in a new window)</li>
        <li>Follow the steps on the tool to view this person's settled status</li>
        <li>Once you've seen the status, you can click continue on this page</li>
      </ol>

      {{ govukButton({
        text: "Continue",
        href: "./settled-confirmation",
        classes: "govuk-!-margin-top-8 govuk-!-margin-bottom-2"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
