{% extends "layout.html" %}

{% block page_title %}
  EEA citizen
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          You may be able to apply
        </h1>

        <p>Because you're a citizen of a European Economic Area and you've lived in the 'common travel area' for the last 2 years you may be eligible to apply for benefits in the UK.</p>

        <p>You need to bring the following items to a jobcentre to prove your right to live in the UK:</p>

        <ul class="list list-bullet">
          <li>your passport or national ID card</li>
          <li>proof of where you lived in the last 2 years</li>
        </ul>

        {% include "includes/interview.html" %}
        {% include "includes/whattodonext.html" %}

        <p>
          <a href="/examples/branching">Back to the branching example</a>
        </p>

    </div>
  </div>
</main>
{% endblock %}
