{% extends "layout.html" %}

{% block page_title %}
  EEA citizen
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        You have the right to apply for benefits in the UK
      </h1>

      <p>Based on your answers, as a citizen of a European Economic Area country with a job in the UK you should have the right to apply for benefits in the UK.</p>

      <p>You now need to bring the following items to a jobcentre to prove your right to live in the UK:</p>

      <ul class="list list-bullet">
        <li>your passport or national ID card</li>
        <li>proof of employment and how much you earn (eg recent wage slips or P60) or an offer of employment if you've not started working yet</li>
        <li>proof of your partner's nationality</li>
        <li>details of your partner's work, if relevant</li>
        <li>your marriage certificate or proof of civil partnership, if relevant</li>
      </ul>

      {% include "includes/interview.html" %}

      {% include "includes/whattodonext.html" %}

    </div>
  </div>
</main>
{% endblock %}
