{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Over 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        You can apply for benefits in the UK
      </h1>

      <p>Based on your answers you're a single, employed worker from a country in the European Economic Area. This  means you can apply for benefits as long as you can prove this.</p>

      <p>You now need to bring the following items to a jobcentre:</p>

      <ul class="list list-bullet">
        <li>your passport</li>
        <li>some proof of your employment that shows how much you earn, eg wage slips or employment contract</li>
        <li>some proof of where you live, eg a rent agreement or mortgage statement dated in the last 3 months</li>
      </ul>

      <h2 class="heading-medium">What to do next</h2>
      <p>Arrange your identity interview at your local jobcentre (this is in your Universal Credit 'to-do' list).</p>

      <p>When you come to your identity interview bring the evidence listed here (some of it is needed for your identity interview anyway), and mention that you need to prove your right to apply for benefits in the UK (this is often called 'habitual residency' by work coaches).</p>

      <p>You might be asked to come back later if the jobcentre is busy, otherwise you should be able to prove your right to apply straight away.</p>

      <p>At your appointment your evidence will simply be photocopied - it should take no more than 5 minutes.</p>

      <p>
        <a class="button button-start" href="/citizen/citizen" role="button">Save and return to Universal Credit</a>
      </p>

      <p>You'll be able to see this information again from your Universal Credit 'to-do' at any time.</p>

    </div>
  </div>
</main>
{% endblock %}
