{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "eu-settlement",
        name: type + "[euSettlement]",
        fieldset: {
          legend: {
            text: "Has this person applied to the EU Settlement Scheme?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "one",
            text: "Yes, but they haven't received their status",
            checked: checked("['" + type + "'].euSettlement", "one")
          },
          {
            value: "two",
            text: "Yes, but they can't provide a share code to check status",
            checked: checked("['" + type + "'].euSettlement", "two")
          },
          {
            value: "three",
            text: "No, they have not applied",
            checked: checked("['" + type + "'].euSettlement", "three")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
