{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "no-public-funds",
        name: type + "[noPublicFunds]",
        fieldset: {
          legend: {
            text: "Does the card say ‘no public funds’ or ‘no public funds/NHSOV’ on the back?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("['" + type + "'].noPublicFunds", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("['" + type + "'].noPublicFunds", "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
