{% extends "../outcome.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "You can now make a decision",
      classes: "outcome"
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Evidence to record in the ALP</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>passport – number, nationality, date of issue and expiry date</li>
      <li>BRP or residence card — issue date, unique permit number (right hand corner), type of permit, remarks, comments on the back</li>
      <li>exact date they came to live in the UK (otherwise month and year, or just year)</li>
    </ul>

    <h2 class="govuk-heading-m">Clear the Prove You Can Apply to-do</h2>
    <ol class="govuk-list govuk-list--number">
      <li>For the question ‘Is an HRT interview required?’, select ‘No’.</li>
      <li>Click ‘Done’.</li>
    </ol>

    <h2 class="govuk-heading-m">Clear the Refer to Decision Maker to-do</h2>
    <ol class="govuk-list govuk-list--number">
      <li>Download the ALP.</li>
      <li>Complete the appropriate section in the ALP using the necessary evidence.</li>
      <li>Upload the ALP.</li>
      <li>Enter the claimant’s nationality.</li>
      <li>For the question ‘Is the claimant a refugee?’, select ‘No’.</li>
      <li>For the question ‘Have you seen a Biometric Residence Permit (BRP) for the claimant’, select ‘Yes’.</li>
      <li>Input the expiry date of the Biometric Residence Permit (BRP).</li>
      <li>Click ‘Done’.</li>
    </ol>

  </div>
</div>
{% endblock %}
