{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="form-title heading-large">
        Do they have any children in school or full-time education in the UK?
      </h1>

      <form method="post" class="form">

        <div class="form-group">
          <fieldset class="inline">
            <legend class="visuallyhidden">Do they have any children in school or full-time education in the UK?</legend>

            <label for="childrenInFullTimeEduction-yes" class="block-label">
              <input type="radio" name="childrenInFullTimeEduction" value="yes" id="childrenInFullTimeEduction-yes">
              Yes
            </label>

            <label for="childrenInFullTimeEduction-no" class="block-label">
              <input type="radio" name="childrenInFullTimeEduction" value="no" id="childrenInFullTimeEduction-no">
              No
            </label>
          </fieldset>
        </div>

        <div class="primary-nav form-group">
          <button type="submit" class="button" id="submitButton">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
