{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Do they have a partner?
      </h1>

      <p class="form-hint">This means a husband, wife or civil partner, or someone who lives with them and they share a personal life with, eg they may have common bills or share a bank account.</p>

      <form method="post" class="form">
        <div class="form-group">
          <fieldset class="inline">
            <legend class="visuallyhidden">Do they have a partner?</legend>

            <label for="partner-yes" class="block-label" data-target="partnerInfo">
              <input type="radio" name="partner" value="yes" id="partner-yes">
              Yes
            </label>

            <label for="partner-no" class="block-label">
              <input type="radio" name="partner" value="no" id="partner-no">
              No
            </label>
          </fieldset>
        </div>

        <div class="panel panel-border-narrow js-hidden" id="partnerInfo">
          <div class="form-group">
            <label class="form-label-bold" for="partnerNationality">What’s their partner’s nationality?</label>

            <select name="partnerNationality" id="partnerNationality" class="form-control full autocompleter">
              <option value="">Select country</option>
              {%- for country in countries %}
              <option value="{{country}}">{{country}}</option>
              {%- endfor %}
            </select>
          </div>

          <fieldset class="form-group inline">
            <legend class="form-label-bold">Does their partner have a job in the UK?</legend>

            <label for="partnerJobUk-yes" class="block-label">
              <input type="radio" name="partnerJobUk" value="yes" id="partnerJobUk-yes">
              Yes
            </label>

            <label for="partnerJobUk-no" class="block-label">
              <input type="radio" name="partnerJobUk" value="no" id="partnerJobUk-no">
              No
            </label>
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button" id="submitButton">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
