{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="form-title heading-large">
        Why aren’t they working at the moment?
      </h1>

      <form method="post" class="form">

        <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">Why aren’t they working at the moment?</legend>

            <label for="reasonOutOfWork-neverWorked" class="block-label">
              <input type="radio" name="reasonOutOfWork" value="neverWorked" id="reasonOutOfWork-neverWorked">
              They’ve never worked in the UK
            </label>
            <label for="reasonOutOfWork-redundant" class="block-label">
              <input type="radio" name="reasonOutOfWork" value="redundant" id="reasonOutOfWork-redundant">
              They were made redundant
            </label>
            <label for="reasonOutOfWork-injury" class="block-label">
              <input type="radio" name="reasonOutOfWork" value="injury" id="reasonOutOfWork-injury">
              They had to give up work because of illness or injury
            </label>
            <label for="reasonOutOfWork-fired" class="block-label">
              <input type="radio" name="reasonOutOfWork" value="fired" id="reasonOutOfWork-fired">
              They were fired or chose to give up your last job themselves
            </label>
          </fieldset>
        </div>

        <div class="primary-nav form-group">
          <button type="submit" class="button" id="submitButton">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
