{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Are they a refugee?
      </h1>

      <form method="post" class="form">

        <div class="form-group">
          <fieldset class="inline">
            <legend class="visuallyhidden">Are they a refugee?</legend>

            <label for="refugee-yes" class="block-label">
              <input type="radio" name="refugee" value="yes" id="refugee-yes">
              Yes
            </label>

            <label for="refugee-no" class="block-label">
              <input type="radio" name="refugee" value="no" id="refugee-no">
              No
            </label>
          </fieldset>
        </div>

        <div class="primary-nav form-group">
          <button type="submit" class="button" id="submitButton">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
