{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Is the person a UK citizen?
      </h1>

      <p class="form-hint">They’re a UK citizen if they have a British or Channel Islands passport, or live in the UK and have applied for and been given nationality since arriving.</p>

      <form method="post" class="form">
        <div class="form-group">
          <fieldset>
            <legend id="ukNational" class="visuallyhidden">Is the person a UK citizen?</legend>

            <label for="ukNational-yes" class="block-label" data-target="ukNationalInfo">
              <input type="radio" name="ukNational" value="yes" id="ukNational-yes">
              Yes, they are
            </label>

            <div class="panel panel-border-narrow js-hidden" id="ukNationalInfo">
              <p class="form-label">
                You should ask them for their passport or photo ID and check their nationality. If not British then change your answer to ‘no’.
              </p>
            </div>

            <label for="ukNational-no" class="block-label">
              <input type="radio" name="ukNational" value="no" id="ukNational-no">
              No, they’re not
            </label>
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button" id="submitButton">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
