{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {{ govukSelect({
        id: "nationality",
        name: type + "[nationality]",
        attributes: {
          "data-source": "/data/location-autocomplete/source/location-autocomplete-graph.json"
        },
        label: {
          text: "What nationality is on " + ("their partner’s ID document?" if type == 'partner' else "the ID document they’ve brought today?"),
          isPageHeading: true,
          classes: "govuk-label govuk-label--l"
        },
        hint: {
          text: "This can be a passport, national identity card, biometric residence permit or travel document."
        },
        items: items
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
