{% extends "layouts/subappindex.html" %}

{% block description %}

<h2 class="heading-medium">Overview</h2>

<p class="lede">This ticket is to add the changes requested by OED for their decision making trials. These add questions and outcome pages for UK or Irish nationals who do not need a HRT decision, and for refugees for whom an easy decision can be made.</p>

<ul class="list list-bullet">
	<li><a href="https://jira.dwp.gov.uk/browse/PYCA-593">Jira Ticket with full details (PYCA-593)</a></li>
</ul>

<h3 class="heading-medium">Design iterations</h3>

<p class="lede">Alternate designs for work coach instructions</p>

<p><a href="{{ currentApp.startURL }}?iteration=1" class="button">Launch this iteration 1</a></p>

{% endblock %}
