{% set page = {
	title: "END007"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">
			
      {% include currentApp.filePaths.includesDir + "header.html" %}

      <h2 class="heading-medium">Evidence to collect</h2>
      <ul class="list list-bullet">
        <li>residence permit or residence card – dates of issue and expiry, unique number on the right corner of the card, type of permit and other details at the back of the card <strong class="bold">or</strong></li>
        <li>Home Office residence document – type of document, dates of issue and expiry and other details on the vignette</li>
      </ul>

      {% include currentApp.filePaths.includesDir + "footer.html" %}

    </div>
  </div>
	
{% endblock %}
