{% set page = {
	title: "Employee status &ndash; self employed"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

<div class="grid-row">
	<div class="column-two-thirds">

		<form method="post" class="form">

			<h1 class="heading-large">
				How many hours a week did they work as a self employed person?
			</h1>

			<div class="form-group">
				<fieldset role="radiogroup" aria-required="true">

					<legend>
						<span class="visuallyhidden">How many hours a week did they work as a self employed person?</span>
					</legend>

					{{
						form.radio({
							name: 'prevSelfEmployedHours',
							label: "1 to 10",
                            value: "1 to 10"
						})
					}}

					{{
						form.radio({
							name: 'prevSelfEmployedHours',
							label: "11 to 20",
							value: '11 to 20'
						})
					}}

                    {{
						form.radio({
							name: 'prevSelfEmployedHours',
							label: "21 to 30",
                            value: "21 to 30"
						})
					}}

                    {{
                        form.radio({
                            name: 'prevSelfEmployedHours',
                            label: "31 to 40",
                            value: "31 to 40"
                        })
                    }}

                    {{
                        form.radio({
                            name: 'prevSelfEmployedHours',
                            label: "41 to 50",
                            value: "41 to 50"
                        })
                    }}

				</fieldset>
			</div>

			<div class="form-group">
				<button type="submit" class="button">Continue</button>
			</div>

		</form>

	</div>
</div>

{% endblock %}﻿
