{% set page = {
	title: "END021"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

<!-- <<<<< FAST TRACK PREVIOUSLY SELF EMPLOYED >>>>
 -->
 <div class="grid-row">
    <div class="column-two-thirds">

         {% include currentApp.filePaths.includesDir + "header.html" %}

          <h2 class="heading-medium">Next steps</h2>

            <ul class="list list-number">
            <li>Save this page as a PDF</li>
            <li>Upload PDF to 'Refer to Decision Maker' to-do</li>
            <li>Upload all evidence 'Refer to Decision Maker' to-do</li>
            <li>For the question 'Is an HRT interview needed' select 'No'</li>
            <li>Select 'Done'</li>
            </ul>

            <div class="form-group">
            <a href="" class="button">Save page as PDF</a>
          </div>



               <table>
                  <thead>
                    <tr>
                      <td class="multiline"="col"></td>
                      <th class="numeric"scope="col"></th>
                    </tr>
                  </thead>
              </table>
<table>

                  <thead>
                    <tr>
                      <th scope="col">Question summary</th>
                      <th class="numeric" scope="col">Answer</th>
                    </tr>
                  </thead>


                  <tbody>
                    <tr>
                      <td class="row">Employer letter</th>
                      <td class="numeric">12.3.2016</td>
                    </tr>

                      <tr>
                      <td class="row">End date of employment</th>
                      <td class="numeric">12.3.2016</td>
                    </tr>

                    <tr>
                      <td class="row">Currently pregnant</th>
                      <td class="numeric">X hours</td>
                    </tr>

                    <tr>
                      <td class="row">Back to work intention</th>
                      <td class="numeric">Less than £600</td>
                    </tr>

                    <tr>
                      <td class="row">Arrival in UK</th>
                      <td class="numeric">Yes</td>
                    </tr>



                    </table>

                  </tbody>
                </table>

    </div>
  </div>

{% endblock %}
