{% set page = {
	title: "END016"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">This claimant can be fast tracked</h1>

          <h2 class="heading-medium">Next steps</h2>

            <ul class="list list-number">
            <li>Save this page as a PDF</li>
            <li>Upload PDF to 'Refer to Decision Maker' to-do</li>
            <li>Upload all evidence 'Refer to Decision Maker' to-do</li>
            <li>For the question 'Is an HRT interview needed' select 'No'</li>
            <li>Select 'Done'</li>
            </ul>

            <div class="form-group">
            <a href="" class="button">Save page as PDF</a>
          </div>


               <table>
                  <thead>
                    <tr>
                      <td class="multiline"="col"></td>
                      <th class="numeric"scope="col"></th>
                    </tr>
                  </thead>
              </table>

                  <!-- <table>
                  <thead>
                    <tr>
                      <td class="multiline" scope="col"></td>
                      <td class="numeric" scope="col"></td>
                    </tr>
                  </thead> -->
                <table>
                  <thead>
                    <tr>
                      <th class="multiline" scope="col">Question
                      </th>

                      <th class="numeric multiline" scope="col">Answer
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td class="row multiline">Start date of self employment
                      </td>
                      <td class="numeric">12.3.2016</td>
                    </tr>

                    <tr>
                      <td class="row">Hours per week working as self employed</th>
                      <td class="numeric">X hours</td>
                    </tr>

                    <tr>
                      <td class="row">Monthly average earnings</td>
                      <td class="numeric">Less than £600</td>
                    </tr>

                    <tr>
                      <td class="row">Salary to self</td>
                      <td class="numeric">Yes</td>
                    </tr>

                     <tr>
                      <td class="row">Registered to pay NIC</td>
                      <td class="numeric">Yes</td>
                    </tr>

                     <tr>
                      <td class="row">Last submitted tax return</td>
                      <td class="numeric">12.3.2016</td>
                    </tr>

                     <tr>
                      <td class="row">Accident/sick/unemployment pay</td>
                      <td class="numeric">Yes</td>
                    </tr>

                      <tr>
                      <td class="row">Employees</th>
                      <td class="numeric">Yes</td>
                    </tr>

                      <tr>
                      <td class="row">Description of service</th>
                      <td class="numeric">Joinery company</td>
                    </tr>

                      <tr>
                      <td class="row">Profit made</th>
                      <td class="numeric">Yes</td>
                    </tr>

                      <tr>
                      <td class="row">Any other periods of self employment</th>
                      <td class="numeric">Yes</td>
                    </tr>


                  </tbody>
                </table>
                          

    </div>

	</div>

{% endblock %}
