{% set page = {
  title: "END019"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

<!-- <<< FAST TRACK JOB SEEKER/STUDENT >>>
 -->

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

    {% include currentApp.filePaths.includesDir + "header.html" %}

          <h2 class="heading-medium">Next steps</h2>

            <ul class="list list-number">
            <li>In the PYCA to do select 'Yes' for "Is this a fast track referral?"</li>
            <li>Clear the to do</li>
            <li>Save this page as a PDF</li>
            <li>Upload PDF to 'Refer to Decision Maker' to-do</li>
            <li>Upload all evidence 'Refer to Decision Maker' to-do</li>
            <li>For the question 'Is an HRT interview needed' select 'No'</li>
            <li>Select 'Done'</li>
            </ul>

            <div class="form-group">
            <a href="" class="button">Save page as PDF</a>
          </div>


               <table>
                  <thead>
                    <tr>
                      <td class="multiline"="col"></td>
                      <th class="numeric"scope="col"></th>
                    </tr>
                  </thead>
              </table>

                  <!-- <table>
                  <thead>
                    <tr>
                      <td class="multiline" scope="col"></td>
                      <td class="numeric" scope="col"></td>
                    </tr>
                  </thead> -->
                <table>
                  <thead>
                    <tr>
                      <th class="multiline" scope="col">Question summary
                      </th>

                      <th class="numeric multiline" scope="col">Answer
                      </th>
                    </tr>
                  </thead>

                  <tbody>

                    <tr>
                      <td class="row">Were they previously working?</th>
                      <td class="numeric">
                        {% for propName, propValue in data['previousWork'] %}
                          {{ propValue }}
                        {% endfor %}
                      </td>
                    </tr>

                    {% if (data['studentLookForWork']) %}
                      <tr>
                        <td class="row">UK looking for work</th>
                          <td class="numeric"> {{data['studentLookForWork'] | capitalize }} </td>
                      </tr>
                    {% endif %}

                    {% if (data['lookingforwork']) %}
                      <tr>
                        <td class="row">Time looking for work</th>
                          <td class="numeric"> {{data['lookingforwork'] | capitalize }} </td>
                      </tr>
                    {% endif %}

                    {% if (data['ukstudent']) %}
                      <tr>
                        <td class="row">Are they currently a student in the UK?</th>
                          <td class="numeric"> {{data['ukstudent'] | capitalize }} </td>
                      </tr>
                    {% endif %}

                    {% if (data['studentcsi']) %}
                      <tr>
                        <td class="row">CSI policy</th>
                          <td class="numeric"> {{data['studentcsi'] | capitalize }} </td>
                      </tr>
                    {% endif %}

                    {% if (data['studentcsistart']) %}
                      <tr>
                        <td class="row">CSI policy start</th>
                          <td class="numeric"> {{data['studentcsistart'] | capitalize }} </td>
                      </tr>
                    {% endif %}

                    {% if (data['courseStarted']) %}
                      <tr>
                        <td class="row">Course Started</th>
                          <td class="numeric"> {{data['courseStarted'] | capitalize }} </td>
                      </tr>
                    {% endif %}

                    {% if (data['courseStarted']) %}
                      <tr>
                        <td class="row">Course end date</th>
                          <td class="numeric"> {{data['coursesendDay'] | capitalize }} </td>
                      </tr>
                    {% endif %}

                    {% if (data['studyhours']) %}
                      <tr>
                        <td class="row">Study Hours</th>
                          <td class="numeric"> {{data['studyhours'] | capitalize }} </td>
                      </tr>
                    {% endif %}

                    {% if (data['studyfinance']) %}
                      <tr>
                        <td class="row">Study finances</th>
                          <td class="numeric"> {{data['studyfinance'] | capitalize }} </td>
                      </tr>
                    {% endif %}

                    </table>
                  </tbody>
                </table>


    </div>

  </div>

{% endblock %}
