{% set page = {
	title: "END019"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

<!-- <<< FAST TRACK JOB SEEKER/STUDENT >>>
 -->

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

    {% include currentApp.filePaths.includesDir + "header.html" %}

          <h2 class="heading-medium">Next steps</h2>

            <ul class="list list-number">
            <li>In the PYCA to do select 'Yes' for "Is this a fast track referral?"</li>
            <li>Clear the to do</li>
            <li>Save this page as a PDF</li>
            <li>Upload PDF to 'Refer to Decision Maker' to-do</li>
            <li>Upload all evidence 'Refer to Decision Maker' to-do</li>
            <li>For the question 'Is an HRT interview needed' select 'No'</li>
            <li>Select 'Done'</li>
            </ul>

            <div class="form-group">
            <a href="" class="button">Save page as PDF</a>
          </div>


               <table>
                  <thead>
                    <tr>
                      <td class="multiline"="col"></td>
                      <th class="numeric"scope="col"></th>
                    </tr>
                  </thead>
              </table>

                  <!-- <table>
                  <thead>
                    <tr>
                      <td class="multiline" scope="col"></td>
                      <td class="numeric" scope="col"></td>
                    </tr>
                  </thead> -->
                <table>
                  <thead>
                    <tr>
                      <th class="multiline" scope="col">Question summary
                      </th>

                      <th class="numeric multiline" scope="col">Answer
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td class="row multiline">UK looking for work
                      </td>
                      <td class="numeric">{{ data['lookforwork']}}</td>
                    </tr>

                    <tr>
                      <td class="row">Time looking for work</th>
                      <td class="numeric">{{ data['lookingforwork']}}</td>
                    </tr>

                    <tr>
                      <td class="row">Student</td>
                      <td class="numeric">{{ data['ukstudent']}}</td>
                    </tr>

                    <tr>
                      <td class="row">CSI Policy</td>
                      <td class="numeric">{{ data['studentcsi'] | capitalize }}</td>
                    </tr>

                     <tr>
                      <td class="row">CSI policy start</td>
                      <td class="numeric">{{ data['studentcsistart']}}</td>
                    </tr>

                     <tr>
                      <td class="row">Course start</td>
                      <td class="numeric">{{ data['courseStarted']}}t</td>
                    </tr>

                     <tr>
                      <td class="row">Course end date</td>
                      <td class="numeric">{{ data['coursesendDay'] if currentApp.isPartnerFlow else '' }} TODO</td>
                    </tr>

                      <tr>
                      <td class="row">Study hours</th>
                      <td class="numeric">{{ data['studyhours']}}</td>
                    </tr>

                      <tr>
                      <td class="row">Study finances</th>
                      <td class="numeric">{{ data['studyfinance']}}</td>
                    </tr>


                    </table>
                  </tbody>
                </table>


    </div>

	</div>

{% endblock %}
