{% set page = {
	title: "END016"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

    {% include currentApp.filePaths.includesDir + "header.html" %}

<!-- <<< FAST TRACK ILLNESS >>>
 -->

          <h2 class="heading-medium">Next steps</h2>

            <ul class="list list-number">
            <li>Save this page as a PDF</li>
            <li>Upload PDF to 'Refer to Decision Maker' to-do</li>
            <li>Upload all evidence 'Refer to Decision Maker' to-do</li>
            <li>For the question 'Is an HRT interview needed' select 'No'</li>
            <li>Select 'Done'</li>
            </ul>

            <div class="form-group">
            <a href="" class="button">Save page as PDF</a>
          </div>


               <table>
                  <thead>
                    <tr>
                      <td class="multiline"="col"></td>
                      <th class="numeric"scope="col"></th>
                    </tr>
                  </thead>
              </table>

                  <!-- <table>
                  <thead>
                    <tr>
                      <td class="multiline" scope="col"></td>
                      <td class="numeric" scope="col"></td>
                    </tr>
                  </thead> -->
                <table>
                  <thead>
                    <tr>
                      <th class="multiline" scope="col">Question summary
                      </th>

                      <th class="numeric multiline" scope="col">Answer
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td class="row multiline">Accident/injury at work
                      </td>
                      <td class="numeric">{{ data['injuryatwork']}}</td>
                    </tr>

                    <tr>
                      <td class="row">Permanent incapacity</th>
                      <td class="numeric">{{ data['preventpermanently']}}</td>
                    </tr>

                    <tr>
                      <td class="row">Industrial Injuries Disablement Benefit</td>
                      <td class="numeric">{{ data['ijbbenefit']}}</td>
                    </tr>

                    <tr>
                      <td class="row">Employer letter for employment end date</td>
                      <td class="numeric">{{ data['illnessemployerletter']}}</td>
                    </tr>

                     <tr>
                      <td class="row">Medical certificates from first day</td>
                      <td class="numeric">{{ data['medCerts']}}</td>
                    </tr>

                     <tr>
                      <td class="row">Arrived in UK</td>
                      <td class="numeric">{{ data['lengthOfTimeInUK']}}</td>
                    </tr>


                    </table>
                  </tbody>
                </table>


    </div>

	</div>

{% endblock %}
