{% extends "../outcome.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "This person has proved they can apply for Universal Credit",
      html: "Do not refer to decision maker",
      classes: "outcome"
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Claimant status</h2>
    <p>Habitually resident non-EEA national with ‘settlement’ status</p>

    <h2 class="govuk-heading-m">Evidence to record in the ALP</h2>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">One of the following:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>biometric residence permit (BRP) – permit number (right hand corner), nationality, place of issue, issue date, expiry date, permit type, remarks on the front and back of the card</li>
      <li>residence card – card number (right hand corner), nationality, place of issue, issue date, expiry date, permit type, remarks on the front and back of the card</li>
    </ul>

    {{ govukWarningText({
      text: "If the claimant cannot provide the necessary evidence, book an HRT interview.",
      iconFallbackText: "Important"
    }) }}

    <h2 class="govuk-heading-m">Go to the ‘check if claimant needs HRT interview’ to-do</h2>
    <ol class="govuk-list govuk-list--number">
      <li>For the question “Does the ‘prove you can apply’ service say ‘this person has proved they can apply for Universal Credit’?”, select ‘Yes’.</li>
      <li>Select the category ‘Habitually resident non-EEA national with ‘settlement’ status’.</li>
      <li>Select ‘Done’.</li>
    </ol>

    <h2 class="govuk-heading-m">Complete the ‘make a decision (HRT – work coach)’ to-do</h2>
    <ol class="govuk-list govuk-list--number">
      <li>Download the ALP.</li>
      <li>Complete the appropriate section in the ALP using the necessary evidence.</li>
      <li>Upload the ALP.</li>
      <li>Enter the claimant’s nationality.</li>
      <li>Select ‘Done’.</li>
    </ol>

  </div>
</div>
{% endblock %}
