{% extends "../outcome.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set titleText = "You can now record the decision" %}
    {% set titleText = "This person has proved they can apply for Universal Credit" if variant == 'B' else titleText %}
    {% set titleText = "A DM decision is not required" if variant == 'C' else titleText %}

    {{ govukPanel({
      titleText: titleText,
      html: "Do not refer to decision maker",
      classes: "outcome"
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Claimant status</h2>
    <p>Habitually resident non-EEA national with ‘Settlement’ status</p>

    <h2 class="govuk-heading-m">Evidence to record in the ALP</h2>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">One of the following:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>biometric residence permit (BRP)</li>
      <li>residence card</li>
    </ul>

    <p>Include issue date, unique permit number (right hand corner), type of permit, remarks, comments on the back</p>

    {{ govukWarningText({
      text: "If the claimant cannot provide the necessary evidence, book an HRT interview.",
      iconFallbackText: "Important"
    }) }}

    <h2 class="govuk-heading-m">Go to the ‘prove you can apply (HRT)’ to-do</h2>
    <ol class="govuk-list govuk-list--number">
      <li>For the question ‘Does the ‘Prove you can apply’ service say you can record the decision?’, select ‘Yes’.</li>
      <li>Select the category ‘Habitually resident non-EEA national with ‘Settlement’ status’.</li>
      <li>Select ‘Done’.</li>
    </ol>

    <h2 class="govuk-heading-m">Complete the ‘make a decision (HRT – work coach)’ to-do</h2>
    <ol class="govuk-list govuk-list--number">
      <li>Download the ALP.</li>
      <li>Complete the appropriate section in the ALP using the necessary evidence.</li>
      <li>Upload the ALP.</li>
      <li>Enter the claimant’s nationality.</li>
      <li>Select ‘Done’.</li>
    </ol>

  </div>
</div>
{% endblock %}
