{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {{ govukCheckboxes({
        idPrefix: "employment-status",
        name: type + "[employmentStatus]",
        fieldset: {
          legend: {
            text: "Does " + ("their partner" if type == 'partner' else "this person") + " currently have a job?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "They are employed by someone if they can produce evidence of being paid a regular salary in the last 3 months, even if they are on maternity leave."
        },
        items: [
          {
            value: "employed",
            text: "Yes, they’re employed by someone",
            checked: checked("['" + type + "'].employmentStatus", "employed"),
            attributes: {
              "data-uncheck": '["employment-status-3"]'
            }
          },
          {
            value: "selfEmployed",
            text: "Yes, they’re self-employed (work for themselves)",
            checked: checked("['" + type + "'].employmentStatus", "selfEmployed"),
            attributes: {
              "data-uncheck": '["employment-status-3"]'
            }
          },
          {
            value: "dontWork",
            text: "No, they don’t do any work at the moment",
            checked: checked("['" + type + "'].employmentStatus", "dontWork"),
            attributes: {
              "data-uncheck": '["employment-status-1", "employment-status-2"]'
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
