{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your feedback will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Find out if you need to do a residency test interview
      </h1>

      <p>Use this service before carrying out a habitual residency test. It will tell you:</p>
      <ul class='list list-bullet'>
        <li>if you should carry out a full habitual residency interview at all</li>
        <li>what evidence you need to photocopy or scan</li>
        <li>where to send the evidence</li>
      </ul>
      <p>
        <a class="button button-start" href="/agent/citizen" role="button">Start now</a>
      </p>

    </div>
  </div>

</main>

{% endblock %}
