{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Find out if you need to conduct a residency test interview
      </h1>

      <p>Use this service before carrying out a habitual residency test. It will tell you:</p>
      <ul class='list list-bullet'>
        <li>if you should carry out a full habitual residency interview at all</li>
        <li>what evidence you need to photocopy or scan</li>
        <li>where to send the evidence</li>
      </ul>
      <p>
        <a class="button button-start" href="/agent/citizen" role="button">Start now</a>
      </p>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Help</h2>
          <p>If you're unsure about anything then call 0800 090 0800.</p>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
