{% set page = {
	title: "END003"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      {% include currentApp.filePaths.includesDir + "header.html" %}
      <h1 class="heading-medium">Clear the Prove You Can Apply to-do</h1>
      <ol class="list list-number pyca-list">
        <li>In the 'agents notes' box type: 'Not eligible for fast track'</li>
				<li>For the question 'Is a HRT interview required?', select 'Yes'</li>
				<li>Select 'done'</li>
      </ol>
			<h1 class="heading-medium">Now book the HRT</h1>

    </div>
  </div>

{% endblock %}
