{% set page = { title: "Evidence Today" } %} {% extends currentApp.filePaths.layoutsDir + "default.html" %} {% block main_content %}

<div class="grid-row">
  <div class="column-two-thirds">

    <!-- <form method="post" class="form"> -->

      <h1 class="heading-large">
          Can the claimant provide these documents today?
        </h1>

      <strong class="bold-small">All of the following options:</strong>

      <ul class="list list-bullet">
        <li>Passport or ID Card</li>
        <li>ID Card</li>
        <li>Fitnote</li>

      </ul>

      <strong class="bold-small">Along with at least one of the below:</strong>

      <ul class="list list-bullet">

        <li>3 months of bank statements</li>
        <li>3 months of accounts</li>
        <li>3 months of receipts or services</li>
        <li>3 months of record of income and expenses</li>
        <li>Tax return for the last year</li>
        <li>Letter from HMRC</li>
        <li>Proof of arrival into the UK (such as a ticket or boarding pass)</li>
      </ul>

      <div class="grid-row">
        <div class="column-two-thirds">

          <form method="post" class="form">
            <div class="form-group">
              <fieldset role="radiogroup" aria-required="true" class="inline" {{ attributes | safe }}>
                <legend>
                  <span class="visuallyhidden">{Can the claimant provide these documents today?</span>
                </legend>

                {{ form.radio({ name: 'evidenceToday', label: "Yes" }) }} {{ form.radio({ name: 'evidenceToday', label: "No" }) }}

              </fieldset>
            </div>

            <div class="form-group">
              <button type="submit" class="button">Continue</button>
            </div>

          </form>
        </div>
      </div>

  </div>
</div>

{% endblock %}
