{% set page = {
	title: "When did self employment start"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  {% set attributes = '' if currentApp.isPartnerFlow else ' class="inline"' %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          When did {{ 'the partners' if currentApp.isPartnerFlow else '' }} self employment start?
        </h1>

        <div class="form-group">
          <fieldset role="radiogroup" aria-required="true"{{ attributes | safe }}>
            <legend>
              <span class="visuallyhidden">When did {{ 'the partners' if currentApp.isPartnerFlow else '' }} self employment start?</span>
            </legend>

						{{
							form.radio({
								name: 'prevSelfEmploymentStart',
								label: "Less than 3 months ago"
							})
						}}
						{{
							form.radio({
								name: 'prevSelfEmploymentStart',
								label: "Less than 6 months ago"
							})
						}}
						{{
							form.radio({
								name: 'prevSelfEmploymentStart',
								label: "Less than 1 year ago"
							})
						}}
						{{
							form.radio({
								name: 'prevSelfEmploymentStart',
								label: "Less than 5 years ago"
							})
						}}
						{{
							form.radio({
								name: 'prevSelfEmploymentStart',
								label: "5 or more years ago"
							})
						}}

          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
