{% set page = {
	title: "Prove you can apply"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

<div class="grid-row">
	<div class="column-two-thirds">

		<form method="post" class="form">

			<h1 class="heading-large">
				When did the self-employment start?
			</h1>

			<div class="form-group">
				<fieldset role="radiogroup" aria-required="true">

					<legend>
						<span class="visuallyhidden">When did the self-employment start?</span>
					</legend>

<div class="multiple-choice" data-target="1week">
        <input id="1week" type="radio" name="radio-contact-group" value="1week">
        <label for="1week">1 week ago</label>
      </div>

      <div class="multiple-choice" data-target="1month">
        <input id="1month" type="radio" name="radio-contact-group" value="1month">
        <label for="1month">1 month ago</label>
      </div>
      
      <div class="multiple-choice" data-target="6months">
        <input id="6months" type="radio" name="radio-contact-group" value="6months">
        <label for="6-9months">6 months ago</label>
      </div>

      <div class="multiple-choice" data-target="1year">
        <input id="1year" type="radio" name="radio-contact-group" value="1year">
        <label for="1-4years">1 year ago</label>
      </div>


				</fieldset>
			</div>

			<div class="form-group">
				<button type="submit" class="button">Continue</button>
			</div>

		</form>

	</div>
</div>

{% endblock %}﻿
