{% set page = { title: "Why did self employment end" } %} {% extends currentApp.filePaths.layoutsDir + "default.html" %} {% block main_content %}

<div class="grid-row">
  <div class="column-two-thirds">

    <form method="post" class="form">

      <h1 class="heading-large">
          Why did self-employment end?
        </h1>

      <form>
        <div class="form-group">
          <fieldset class="inline">

            <!--  <legend class="visually-hidden">How do you want to be contacted?</legend> -->

            <div class="multiple-choice" data-target="1week">
              <input id="illness" type="radio" name="reasonPrevSelfEmploymentEnded" value="illness">
              <label for="illness">Illness</label>
            </div>


            <div class="multiple-choice" data-target="other">
              <input id="other" type="radio" name="reasonPrevSelfEmploymentEnded" value="other">
              <label for="other">Other</label>
            </div>


          </fieldset>
        </div>
      </form>

      <div class="form-group">
        <button type="submit" class="button">Continue</button>
      </div>

    </form>

  </div>
</div>

{% endblock %}
