{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
					Why {{ 'did their partner' if currentApp.isPartnerFlow else 'did they' }} stop working?
        </h1>

        <div class="form-group">
          <fieldset role="radiogroup" aria-required="true">
            <legend>
              <span class="visuallyhidden">Why {{ 'did their partner' if currentApp.isPartnerFlow else 'did they' }} stop working?</span>
            </legend>

            <label for="dont-work-reason-redundant" class="block-label selection-button-radio">
              <input type="radio" name="dontWorkReason" value="redundant" id="dont-work-reason-redundant">
              Made redundant
            </label>

            <label for="dont-work-reason-sick" class="block-label selection-button-radio">
              <input type="radio" name="dontWorkReason" value="sick" id="dont-work-reason-sick">
              Illness
            </label>

            <label for="dont-work-reason-other" class="block-label selection-button-radio">
              <input type="radio" name="dontWorkReason" value="other" id="dont-work-reason-other">
              Other reason
            </label>
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
