{% extends "layouts/subappindex.html" %}

{% block description %}

<h2 class="heading-medium">Overview</h2>

<p class="lede">This ticket is to add a question immediately after the nationality question asking the the claimant has a brp, with a picture of the BRP. If they say no, we will route to "do an eHRT", if they say yes, they will continue as before (with all the other questions).</p>

<ul class="list list-bullet">
	<li><a href="https://jira.dwp.gov.uk/browse/PYCA-567">Jira Ticket with full details (PYCA-567)</a></li>
</ul>

{% endblock %}
