{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Under 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="form-title heading-large" id="thirdparty">
        Do you have family in the UK who are supporting you financially?
      </h1>

      <p>You may be able to apply for benefits through family members who are supporting you, eg parents, aunts or cousins.</p>

      <form action="/citizen/EEA/nojob/fiveyears" method="get" class="form" id="theForm">
        <input type="hidden" name="page_name" value="start"/>

        <div class="form-group">
          <fieldset class="inline">
            <label for="familyTrue" class="block-label" data-target="familyInfo">
              <input type="radio" name="family" value="true" id="familyTrue">
              Yes
            </label>

            <label for="familyFalse" class="block-label">
              <input type="radio" name="family" value="false" id="familyFalse">
              No
            </label>
          </fieldset>
        </div>

        <div class="form-group panel panel-border-narrow js-hidden" id="familyInfo">
          <h2 class="heading-medium">
            How are you related to the person supporting you?
          </h2>

          <div class="form-group">
            <label for="relationship" class="visuallyhidden">How are you related to the person supporting you?</label>
            <input name="relationship" id="relationship" class="form-control full"/>
          </div>

          <h2 class="heading-medium">
            What's the nationality of the person supporting you?
          </h2>

          <fieldset>
            <legend class="visuallyhidden">What's the nationality of the person supporting you?</legend>

            <select name="nationality" class="form-control full autocompleter">
              <option value="">Select country</option>
              {%- for country in countries %}
              <option value="{{country}}">{{country}}</option>
              {%- endfor %}
            </select>
          </fieldset>

          <h2 class="heading-medium">
            Does the person supporting you have a job in the UK?
          </h2>

          <fieldset class="inline">
            <legend class="visuallyhidden">Does the person supporting you have a job in the UK?</legend>

            <label for="partnerworkingTrue" class="block-label">
              <input type="radio" name="partnerworking" value="true" id="partnerworkingTrue">
              Yes
            </label>

            <label for="partnerworkingFalse" class="block-label">
              <input type="radio" name="partnerworking" value="false" id="partnerworkingFalse">
              No
            </label>
          </fieldset>
        </div>

        <div class="primary-nav form-group">
          <button type="submit" class="button" id="submitButton">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
