{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Under 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="form-title heading-large" id="thirdparty">
    Do you have family in the UK who are supporting you financially?
  </h1>
  <p>You may be able to apply for benefits through family members who are supporting you, eg parents, aunts or cousins.</p>
  <form action="/citizen/EEA/nojob/fiveyears" method="get" class="form" id="theForm">

    <input type="hidden" name="page_name" value="start"/>

    <!-- Job -->
        <div class="form-group">
          <fieldset class='inline'>
            <!--
            <legend class="visuallyhidden">Are you 18 or over?</legend>
            
            <label for="partner" class="block-label">
              <input type="checkbox" name="partner" value="true" id="partner">
              Partner that you live with, eg civil partner or spouse
            </label>
            -->
            <label for="familyTrue" class="block-label" data-target="familyInfo">
              <input type="radio" name="family" value="true" id="familyTrue">
              Yes
            </label>

            <label for="familyFalse" class="block-label">
              <input type="radio" name="family" value="false" id="familyFalse">
              No
            </label>
          </fieldset>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="familyInfo">
                                      <h2 class="heading-medium">
                How are you related to the person supporting you?
              </h2>

              <fieldset>
                  <div class="form-group" style="margin-bottom:45px">
                    <input name="relationship" id="relationship" class="form-control full"/>
                  </div>
              </fieldset>
                            <h2 class="heading-medium">
                What's the nationality of the person supporting you??
              </h2>

              <fieldset>
                  <div class="form-group" style="margin-bottom:45px">
                    <input name="nationality" id="nationality" class="form-control full"/>
                  </div>
              </fieldset>
                <h2 class="heading-medium">
                Does the person supporting you have a job in the UK?
              </h2>
            <fieldset class='inline'>
            <label for="partnerworkingTrue" class="block-label">
              <input type="radio" name="partnerworking" value="true" id="partnerworkingTrue">
              Yes
            </label>

            <label for="partnerworkingFalse" class="block-label">
              <input type="radio" name="partnerworking" value="false" id="partnerworkingFalse">
              No
            </label>
        </div>

    <fieldset class="primary-nav form-group">
      <input type="submit" value="Continue" class="button" id="submitButton"/>
    </fieldset>

  </form>

    </div>
  </div>
</main>
{% endblock %}
