{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Under 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="form-title heading-large" id="thirdparty">
    Your family in the UK
  </h1>

  <form action="children" method="get" class="form" id="theForm">

    <input type="hidden" name="page_name" value="start"/>
    <h2 class="heading-medium">What family do you have in the UK?</h2>
    <p>This means how you're related to the family you have in the UK, eg parents, grandparents, uncles or aunts.</p> 
    <!-- YOUR CONDITION -->
    <div class="form-group" style="margin-bottom:45px">
      <!-- <label class="form-label-bold" for="conditions-and-dis" id="">What's your condition or disability?</label> -->
      <input name="nationality" id="conditions" class="form-control full"/>
    </div>
    <h2 class="heading-medium">What's their nationality?</h2>
            <div class="form-group">
          <fieldset>
            <!--
            <legend class="visuallyhidden">Are you 18 or over?</legend>
            -->
            <label for="partner" class="block-label">
              <input type="checkbox" name="partner" value="true" id="partner">
              At least one of them is a British citizen
            </label>

            <label for="other" class="block-label">
              <input type="checkbox" name="other" value="false" id="other">
              Other
            </label>
          </fieldset>
        </div>
        <!-- Job -->
      <h2 class="heading-medium">Does at least one of them have a job in the UK?</h2>
        <div class="form-group">
          <fieldset class="inline">
            <!--
            <legend class="visuallyhidden">Are you 18 or over?</legend>
            -->
            <label for="jobUKTrue" class="block-label">
              <input type="radio" name="jobUK" value="true" id="jobUKTrue">
              Yes
            </label>

            <label for="jobUKFalse" class="block-label">
              <input type="radio" name="jobUK" value="false" id="jobUKFalse">
              No
            </label>

          </fieldset>
        </div>
              <h2 class="heading-medium">Are your family able to support you financially or with a place to live in the UK if needed?</h2>
        <div class="form-group">
          <fieldset class="inline">
            <!--
            <legend class="visuallyhidden">Are you 18 or over?</legend>
            -->
            <label for="supportUKTrue" class="block-label">
              <input type="radio" name="supportUK" value="true" id="supportUKTrue">
              Yes
            </label>

            <label for="supportUKFalse" class="block-label">
              <input type="radio" name="supportUK" value="false" id="supportUKFalse">
              No
            </label>

          </fieldset>
        </div>

    <fieldset class="primary-nav form-group">
      <input type="submit" value="Continue" class="button" id="submitButton"/>
    </fieldset>

  </form>

    </div>
  </div>
</main>
{% endblock %}
