{% extends "layout.html" %}

{% block page_title %}
  EEA citizen
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        You're an EEA citizen
      </h1>

      <p>You need to bring the following items to a jobcentre to prove your right to live in the UK:</p>

      <ul class="list list-bullet">
        <li>your passport or identity card</li>
        <li>proof of your most recent employment in the UK (wageslips, P45 or P60)</li>
      </ul>

      <p>You'll also need to have a short interview about whether you live, and intend to live, in the UK.</p>

      <h2 class="heading-medium">What to do next</h2>
      <p>Once you have your evidence call 0800 900 1900 to make an appointment at your local jobcentre.</p>

      <p>
        <a href="/examples/branching">Back to the branching example</a>
      </p>

    </div>
  </div>
</main>
{% endblock %}
