{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

    <h1 class="govuk-heading-l">Check this person's digital status</h1>

      <ol class="govuk-list govuk-list--number">
        <li>Go to Check someone's status in the UK (this will open in a new window).</li>
        <li>Follow the steps to view this person's settled status.</li>
        <li>Come back to this page and click continue.</li>
      </ol>

      {{ govukButton({
        text: "Continue",
        href: "./settled-confirmation",
        classes: "govuk-!-margin-top-8 govuk-!-margin-bottom-2"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
