{% set page = {
	title: "END012"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

<div class="grid-row">
  <div class="column-two-thirds">

		{% include currentApp.filePaths.includesDir + "header.html" %}

    <h2 class="heading-medium">What to do now</h1>
    <ul class="list list-number pyca-list">
      <li>In the ‘prove you can apply’ to-do, for the question ‘Is an HRT interview required?’, select ‘No’.</li>
      <li>Click ‘done’ to complete the ‘prove you can apply’ to-do.</li>
      <li>Open ‘refer to decision maker’ to-do.</li>
      <li>Complete the ‘refer to decision maker’ ALP.</li>
      <li>For the question ‘Is this a fast-track HRT referral case?’, select ‘Yes’.</li>
      <li>Click 'done' to complete the 'refer to decision maker' to-do.</li>
      <li>Remind the person claiming, to check their Universal Credit account for updates on their claim.</li>
    </ul>


  </div>
</div>

{% endblock %}
