{% set page = {
	title: "END099"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Book a further evidence interview</h1>
      <p>Tell the person to bring their:</p>
      <ul class="list list-bullet">
		<li>passport</li>
		<li>marriage certificate</li>
      </ul>

      <div class="panel panel-border-narrow">
        <p>
          Don't complete the 'Refer to DM HRT To-Do' and ALP until the further evidence interview.
        </p>
      </div>

    </div>
  </div>

{% endblock %}
