{% set page = {
	title: "Overview"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

		  <h1 class="heading-xlarge">
		    {% if serviceName %} {{ serviceName }} {% endif %}
		  </h1>

		  <p>Use this service to find out:</p>
		  <ul class="list list-bullet">
		    <li>if this claimant should be fast-tracked or booked for HRT</li>
		    <li>what evidence you need to collect</li>
		    <li>how to fast-track or book HRT</li>
		  </ul>

		  <p><a class="button button-start" href="questions/uk-national?" role="button">Start now</a></p>
			
		</div>
	</div>

{% endblock %}