{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "employment-payslips-evidence",
        name: type + "[employmentPayslipsEvidence]",
        fieldset: {
          legend: {
            text: "Have they brought payslips or bank statements covering the last month, and a permanent contract?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
        text: "Not zero hours or fixed term"
       },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("['" + type + "'].employmentPayslipsEvidence", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("['" + type + "'].employmentPayslipsEvidence", "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
