{% set page = {
	section: "diary",
	subsection: "Rebook interview"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

<h1 class="heading-large">Rebook appointment</h1>

<br>

<div class="grid-row">
	
	<div class="column-one-third">
		
		{% set casenumber = '3687111' %}
		{% set name = 'Mr Jason Farrowash' %}
		{% set vulnerable = 'yes' %}
		
		<dl class="meta-data">
			<dt class="meta-data__key">Case number</dt>
			<dd class="meta-data__val">{{ casenumber }}</dd>
			<dt class="meta-data__key">Customer</dt>
			<dd class="meta-data__val">{{ name }}</dd>
			<dt class="meta-data__key">Vulnerable</dt>
			<dd class="meta-data__val">{{ vulnerable }}</dd>
		</dl>
		
	</div>
	
	<div class="column-two-thirds">

		<form action="{{ currentApp.urlPaths.root }}activity/appointment-preview" method="post">
			
			<input type="hidden" name="appointment-case-number" value="{{ casenumber }}">
			<input type="hidden" name="appointment-name" value="{{ name }}">
			<input type="hidden" name="appointment-vulnerable" value="{{ vulnerable }}">
			
			<div class="grid-row">
				
				<div class="column-full">
					
					<div class="form-group">
						
						<div class="grid-row">
							
							<div class="column-one-quarter">
								
								<label class="form-label" for="select-day">Day</label>
								<select class="form-control form-control-1-1" id="select-day" name="appointment-day">
										<option selected="true" disabled="disabled" value="choose">Choose day</option>
										{% for i in range(1, 31) %}
											<option{{ ' selected="true"' if currentApp.session['appointment-day'] == i }}>{{ i }}</option>
										{% endfor %}
								</select>
								
							</div>
							
							<div class="column-one-quarter">
								
								<label class="form-label" for="select-month">Month</label>
								<select class="form-control form-control-1-1" id="select-month" name="appointment-month">
									{% set months = [
											'January',
											'February',
											'March',
											'April',
											'May',
											'June',
											'July',
											'August',
											'September',
											'October',
											'November',
											'December'
										] %}
										<option selected="true" disabled="disabled" value="choose">Choose month</option>
									{% for currentMonth in months %}
										<option{{ ' selected="selected"' if currentApp.session['appointment-month'] == currentMonth }}>{{ currentMonth }}</option>
									{% endfor %}
								</select>
								
							</div>
							
							<div class="column-one-quarter">
								
								<label class="form-label" for="select-start-time">Start time</label>
								<select class="form-control form-control-1-1" id="select-start-time" name="appointment-start">
									<option selected="true" disabled="disabled" value="choose">Choose start</option>
									{% for i in range(8, 20) %}
										{% if i >= 13 %}
											{% set time = (i - 12) %}
										{% else %}
											{% set time = i %}
										{% endif %}
										{% if i >= 12 %}
											{% set clock = "pm" %}
										{% else %}
											{% set clock = "am" %}
										{% endif %}
										{% for timeslot in ['00','30'] %}
											{% set optionVal = (time + ':' + timeslot + clock) %}
											<option{{ ' selected="selected"' if currentApp.session['appointment-start'] == optionVal }} value="{{ optionVal }}">{{ optionVal }}</option>
										{% endfor %}
									{% endfor %}
								</select>
								
							</div>
							
							<div class="column-one-quarter">
								
								<label class="form-label" for="select-end-time">End time</label>
								<select class="form-control form-control-1-1" id="select-end-time" name="appointment-end">
									<option selected="true" disabled="disabled" value="choose">Choose end</option>
									{% for i in range(8, 20) %}
										{% if i >= 13 %}
											{% set time = (i - 12) %}
										{% else %}
											{% set time = i %}
										{% endif %}
										{% if i >= 12 %}
											{% set clock = "pm" %}
										{% else %}
											{% set clock = "am" %}
										{% endif %}
										{% for timeslot in ['00','30'] %}
											{% set optionVal = (time + ':' + timeslot + clock) %}
											<option{{ ' selected="selected"' if currentApp.session['appointment-end'] == optionVal }} value="{{ optionVal }}">{{ optionVal }}</option>
										{% endfor %}
									{% endfor %}
								</select>
								
							</div>
							
						</div>
						
					</div>			
					
					<div class="form-group">
						<h3 class="heading-small">
							What type of appointment are you booking?
						</h3>
					</div>
					
					<div class="form-group">
						<fieldset>
							
							<label for="radio-telephone-appointment" class="block-label selection-button-radio">
								<input id="radio-telephone-appointment" type="radio" name="appointment-type" value="telephone"{{ ' checked="checked"' if currentApp.session["appointment-type"] == 'telephone' }}>
								Telephone appointment
							</label>
							
							<label for="radio-office-visit" class="block-label selection-button-radio" data-target="office-address-fields">
								<input id="radio-office-visit" type="radio" name="appointment-type" value="visit"{{ ' checked="checked"' if currentApp.session["appointment-type"] == 'visit' }}>
								Office visit
							</label>
							
							<div class="panel panel-border-narrow js-hidden" id="office-address-fields">
								
								<h4 class="heading-medium">
									Office address
								</h4>
								
								<fieldset>
									
									<legend class="visually-hidden">
										Office address
									</legend>
									
									<div class="form-group form-group-compound">
										<label class="form-label" for="address-line-1">Street</label>
										<input type="text" class="form-control" id="address-line-1" name="appointment-address-line1" value="{{ currentApp.session["appointment-address-line1"] }}">
									</div>
									
									<div class="form-group">
										<label class="form-label visually-hidden" for="address-line-2">Street</label>
										<input type="text" class="form-control" id="address-line-2" name="appointment-address-line2" value="{{ currentApp.session["appointment-address-line2"] }}">
									</div>
									
									<div class="form-group">
										<label class="form-label" for="address-town">Town or City</label>
										<input type="text" class="form-control form-control-1-4" id="address-town" name="appointment-address-town" value="{{ currentApp.session["appointment-address-town"] }}">
									</div>
									
									<div class="form-group">
										<label class="form-label" for="address-postcode">Postcode</label>
										<input type="text" class="form-control form-control-1-8" id="address-postcode" name="appointment-address-postcode" value="{{ currentApp.session["appointment-address-postcode"] }}">
									</div>
									
								</fieldset>
								
							</div>
						</fieldset>
					</div>
					
				</div>
				
			</div>
			
			<div class="form-group">
				<input type="submit" value="Preview appointment" class="button">
			</div>
			
		</form>

		
	</div>
	
</div>
	
{% endblock %}