{% set page = { 
	section: 'Diary',
	title: 'Interview - Telephone'
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %} {% block main_content %}

	<h1 class="heading-large">Interviewing via telephone</h1>

<div class="grid-row">
  <div class="column-two-thirds">
  <h2 class="heading-small">Interview questions to validate the suspects identity</h2>
    <p>&nbsp;</p>    

      <form action="interview-security-check" method="post">
       <fieldset> 

        <div class="form-group">   
            <label class="form-label" for="ni-number">
              What is your national insurance number?
            </label>
            <input class="form-control" id="ni-number" name="interview-ni" type="text">
        </div>

        <div class="form-group">
            <div class="form-date">
              <span>What is your date of birth?</span>
              <p class="form-hint" id="dob-hint">For example, 31 3 1990</p>

              <div class="form-group form-group-day">
                <label for="dob-day">Day</label>
                <input class="form-control" id="dob-day" name="interview-dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
              </div>

              <div class="form-group form-group-month">
                <label for="dob-month">Month</label>
                <input class="form-control" id="dob-month" name="interview-dob-month" type="number" pattern="[0-9]*" min="0" max="12">
              </div>

              <div class="form-group form-group-year">
                <label for="dob-year">Year</label>
                <input class="form-control" id="dob-year" name="interview-dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
              </div>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label" for="ni-number">
              Which account is your benefit paid into?
            </label>
            <input class="form-control" id="ni-number" name="interview-paid-into" type="text">
        </div>
        <div class="form-group">
        <legend class="visuallyhidden">Validate customer</legend>
          <input type="submit" value="Validate customer" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
          </div>
        </fieldset>
      </form>
			
    <a href="{{ currentApp.urlPaths.root }}work-list">Abort interview</a>

  </div>
</div>

{% endblock %}