{% set page = { 
	section: 'Diary',
	title: 'Interview record'
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %} {% block main_content %}

	<h1 class="heading-large">Interviewing</h1>
	
  <p class="text">A copy of this document will be stored in the documents section under case view.</p>

<div class="grid-row">
  <div class="column-two-thirds">
      <form action="conduct-interview-options" method="post">
       <fieldset> 
       

         <div class="form-group">
          <legend class="visually-hidden">Type your case notes here</legend>
            <label class="form-label" for="add-comment">Type your case notes here</label>
          <textarea class="form-control form-control-1-1" id="add-comment" rows="25"></textarea>

         </div>

          <div class="form-group">
            <p>These interview notes are legally binding and form a record of the interview and require the suspect’s signature.</p>
           	<img src="{{ currentApp.urlPaths.imagesPath + 'icon-print.png' }}" width="30" class="inline-icon">
           	<a href="#" onclick="window.print();" class="heading-small">Print this form and post to the customer</a>
         </div>


         <div class="form-group">
            <legend class="visuallyhidden">Save interview</legend>
              {# <input type="submit" value="Save interview" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"> #}
							<a href="{{ currentApp.urlPaths.root }}case/" class="button">Save interview</a>
          </div>

        </fieldset>

        </form>

    
      <a href="{{ currentApp.urlPaths.root }}work-list">Abort interview</a>


{% endblock %}