{% set page = { title: "Employee status" } %} {% extends currentApp.filePaths.layoutsDir + "default.html" %} {% block main_content %}
<div class="grid-row">
    <div class="column-two-thirds">
        <form method="post" class="form">
            <h1 class="heading-large">
          {{ 'Can their partner' if currentApp.isPartnerFlow else 'Can this person' }} provide evidence that they are currently working for someone else?
        </h1>
            <!-- <p class="form-hint">They are employed by someone if they can produce evidence of being paid a regular salary in the last 3 months, even if they are on maternity leave.</p> -->
            <div class="form-group">
                <fieldset>
                    <legend>
                        <span class="visuallyhidden">{{ 'Can their partner' if currentApp.isPartnerFlow else 'Can this person' }} provide evidence that they are currently working for someone else?</span>
                    </legend>
                    <div class="multiple-choice">
                        <input type="radio" name="employeeStatus" value="employed" id="employedPayslips">
                        <label for="employedPayslips">Yes, they have payslips or bank statements for the last 3 months</label>
                    </div>
                    <div class="multiple-choice">
                        <input type="radio" name="employeeStatus" value="employed" id="employedContract">
                        <label for="employedContract">Yes, they have their most recent payslip and a contract of employment</label>
                    </div>
                    <div class="multiple-choice">
                        <input type="radio" name="employeeStatus" value="selfEmployed" id="selfEmployed">
                        <label for="selfEmployed">No, they’re self-employed</label>
                    </div>
                    <div class="multiple-choice">
                        <input type="radio" name="employeeStatus" value="dontWork" id="noEvidence">
                        <label for="noEvidence">No, they don’t have any evidence</label>
                    </div>
                    <div class="multiple-choice">
                        <input type="radio" name="employeeStatus" value="dontWork" id="dontWork">
                        <label for="dontWork">No, they’re not working at the moment</label>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <button type="submit" class="button">Continue</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
