{% macro subAppMacroTest(test) %}
	<p>subAppMacroTest {{ test | d('test var not passed') }}</p>
{% endmacro %}

{% macro pagination(config) %}
	<div class="pager border">
    <div class="pager-controls">
      <ul class="pager-items">
        <li>1</li>
        <li><a href="#">2</a></li>
      </ul>
      <a class="pager-next" href="#">Next</a>
    </div>
    <div class="pager-summary">Showing 1 &ndash; 25 of 50 cases</div>   
  </div>
{% endmacro %}

{% macro navigation(nav) %}
	{% set theNavItems = currentApp.primaryNavLinks | d(nav.items) %}
	{% if nav.items %}
		<div class="c-navigation{% for modifier in nav.modifiers if nav.modifiers %} c-navigation--{{ modifier }}{% endfor %}">
			<nav>
				<ul class="c-navigation__list">
					{% for item in theNavItems %}
						{% set isActive = true if (item.text | slug) == ((nav.activeFlag | d(page.section)) | slug) else false %}
						<li class="c-navigation__item {{ 'is--active' if isActive }}">
							<a href="{{ nav.rootURL + item.href | d('#') }}" class="c-navigation__link {{ 'is--active' if isActive }}">{{ item.text }}</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		</div>
	{% else %}
		{{ 'There were no items passed to the macro to generate the navigation links' | log }}
	{% endif %}
{% endmacro %}

{% macro casedata(data) %}
  <dl class="meta-data">
    <dt class="meta-data__key">Case number</dt>
    <dd class="meta-data__val">3687111</dd>
  	<dt class="meta-data__key">Case owner</dt>
    <dd class="meta-data__val"><a href="owner-detail">Andy Houghton</a></dd>
  	<dt class="meta-data__key">Case stage</dt>
    <dd class="meta-data__val">Information gathering</dd>
  	<dt class="meta-data__key">Activity</dt>
    <dd class="meta-data__val">Book appoinment</dd>
  	<dt class="meta-data__key">Due date</dt>
    <dd class="meta-data__val">17 Nov 2016</dd>
  </dl>
	
	{% if not data.hideActions %}
	<div class="form-group action-buttons">
		<h3 class="heading-small" style="margin: 0 0 20px 0;">Actions</h3>
		<p><a href="{{ currentApp.urlPaths.root + 'activity/appointment-book' }}" class="button button--block" title="Book">Book appointment</a></p>
		<p><a href="{{ currentApp.urlPaths.root + 'activity/interview-start' }}" class="button button--block" title="Interview">Interview</a></p>
		<p><a href="{{ currentApp.urlPaths.root + 'activity/case-reject' }}" class="button button--block" title="Abandon">Abandon case</a></p>
		<p><a href="{{ currentApp.urlPaths.root + 'activity/case-reroute' }}" class="button button--block" title="Re-route">Re-route case</a></p>
		<p><a href="{{ currentApp.urlPaths.root + 'activity/case-close' }}" class="button button--block" title="Re-route">Close case</a></p>
	</div>
	{% endif %}
{% endmacro %}