{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "out-of-country",
        name: type + "[outOfCountry]",
        fieldset: {
          legend: {
            text: "Since the card was issued, have they been out of the UK?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("['" + type + "'].outOfCountry", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("['" + type + "'].outOfCountry", "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
