{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {{ govukRadios({
        idPrefix: "out-of-country",
        name: type + "[outOfCountry]",
        fieldset: {
          legend: {
            text: "Since the card was issued, what is the longest period they spent out of the UK?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "over-two-years",
            text: "2 years or more",
            checked: checked("['" + type + "'].outOfCountry", "over-two-years")
          },
          {
            value: "up-to-two-years",
            text: "4 weeks or more, but less than 2 years",
            checked: checked("['" + type + "'].outOfCountry", "up-to-two-years")
          },
          {
            value: "up-to-four-weeks",
            text: "Less than 4 weeks",
            checked: checked("['" + type + "'].outOfCountry", "up-to-four-weeks")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
