{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form method="post">

      {{ govukRadios({
        idPrefix: "brp-type",
        name: type + "[brpType]",
        fieldset: {
          legend: {
            text: "Which of the following words are shown under ‘type of permit’?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "leave to remain",
            text: "Leave to remain",
            checked: checked("['" + type + "'].brpType", "leave to remain")
          },
          {
            value: "leave to enter",
            text: "Leave to enter",
            checked: checked("['" + type + "'].brpType", "leave to enter")
          },
          {
            value: "settlement",
            text: "Settlement",
            checked: checked("['" + type + "'].brpType", "settlement")
          },
          {
            value: "residence",
            text: "Residence",
            checked: checked("['" + type + "'].brpType", "residence")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>

  <div class="govuk-grid-column-one-half">

    <figure class="figure residence-card residence-card--example">
      <img src="{{ basePath }}/assets/images/settlement-focus.png" srcset="{{ basePath }}/assets/images/settlement-focus.png, {{ basePath }}/assets/images/settlement-focus@2x.png 1.5x" alt="Example residence permit showing “Settlement”">
      <figcaption class="figure__caption residence-card__caption" aria-hidden="true">
        Example of where these words can be found
      </figcaption>
    </figure>

  </div>

</div>
{% endblock %}
