{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Under 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="form-title heading-large" id="partner">
    Do you have a partner?
  </h1>
  <p>This means a husband, wife or civil partner, or someone who lives with you and you share a personal life with, eg you may have common bills or share a bank account.</p>
  <form action="nojob/liveincta" method="get" class="form" id="theForm">

    <input type="hidden" name="page_name" value="start"/>

    <!-- Job -->
        <div class="form-group">
          <fieldset class="inline">
            <!--
            <legend class="visuallyhidden">Are you 18 or over?</legend>
            -->
            <label for="emppartnerTrue" class="block-label" data-target="partnerInfo">
              <input type="radio" name="emppartner" value="true" id="emppartnerTrue">
              Yes
            </label>

            <label for="emppartnerFalse" class="block-label">
              <input type="radio" name="emppartner" value="false" id="emppartnerFalse">
              No
            </label>

          </fieldset>
        </div>

            <div class="panel panel-border-narrow js-hidden" id="partnerInfo">
                            <h2 class="heading-medium">
                What's your partner's nationality?
              </h2>

              <fieldset>
    <div class="form-group" style="margin-bottom:45px">
      <input name="nationality" id="nationality" class="form-control full"/>
    </div>
                            <h2 class="heading-medium">
                Does your partner have a job in the UK?
              </h2>

              <fieldset class='inline'>
            <label for="partnerworkingTrue" class="block-label">
              <input type="radio" name="partnerworking" value="true" id="partnerworkingTrue">
              Yes
            </label>

            <label for="partnerworkingFalse" class="block-label">
              <input type="radio" name="partnerworking" value="false" id="partnerworkingFalse">
              No
            </label>
          </div>

              </fieldset>

    <fieldset class="primary-nav form-group">
      <input type="submit" value="Continue" class="button" id="submitButton"/>
    </fieldset>

  </form>

    </div>
  </div>
</main>
{% endblock %}
