{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Under 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="form-title heading-large" id="thirdparty">
        Why aren't you currently working?
      </h1>

      <form action="nojob/partner" method="get" class="form" id="theForm">
        <input type="hidden" name="page_name" value="start"/>

        <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">Why aren't you currently working?</legend>

            <label for="neverworked" class="block-label">
              <input type="radio" name="prevJob" value="neverworked" id="neverworked">
              You've never worked in the UK
            </label>
            <label for="redundant" class="block-label">
              <input type="radio" name="prevJob" value="redundant" id="redundant">
              You were made redundant
            </label>
            <label for="ill" class="block-label">
              <input type="radio" name="prevJob" value="ill" id="ill">
              You had to give up work because of illness or injury
            </label>
            <label for="gaveup" class="block-label">
              <input type="radio" name="prevJob" value="gaveup" id="gaveup">
              You were fired or chose to give up your last job yourself
            </label>
          </fieldset>
        </div>

        <div class="primary-nav form-group">
          <button type="submit" class="button" id="submitButton">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
