{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Under 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="form-title heading-large" id="thirdparty">
    Have you had to stop working through no fault of your own?
  </h1>
  <p>This means if you've had to give up work involuntarily, eg becaue of illness, injury or forced redundancy.</p>
  <form action="prevjob" method="get" class="form" id="theForm">

    <input type="hidden" name="page_name" value="start"/>

    <!-- Job -->
        <div class="form-group">
          <fieldset class="inline">
            <!--
            <legend class="visuallyhidden">Are you 18 or over?</legend>
            -->
            <label for="prevJobTrue" class="block-label">
              <input type="radio" name="prevJob" value="true" id="prevJobTrue">
              Yes
            </label>

            <label for="prevJobFalse" class="block-label">
              <input type="radio" name="prevJob" value="false" id="prevJobFalse">
              No
            </label>

          </fieldset>
        </div>

    <fieldset class="primary-nav form-group">
      <input type="submit" value="Continue" class="button" id="submitButton"/>
    </fieldset>

  </form>

    </div>
  </div>
</main>
{% endblock %}
