{% set page = {
	title: "END017 v2"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">

		<div class="column-full">

      <form method="post" action="END017-finish" class="form">

	      <h1 class="heading-large">
	        Clear the 'Make a decision (HRT Fast Track) to-do'
	      </h1>

				<ol class="list list-number">
					<li style="padding-bottom:10px">For the question "Is claimant entitled?", select 'Yes'.</li>
					<li style="padding-bottom:10px">In the decision notes type 'No HRT decision required'.</li>
					<li style="padding-bottom:10px">Select 'Done' to complete the to-do.</li>
				</ol>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>

  </div>
{% endblock %}
