{% set page = {
	title: "What year did they arrive in the UK"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
					How long have {{ 'their partner' if currentApp.isPartnerFlow else 'they' }} been in the UK?
        </h1>

        <div class="form-group">
          <fieldset role="radiogroup" aria-required="true">
            <legend>
              <span class="visuallyhidden">How long have {{ 'their partner' if currentApp.isPartnerFlow else 'they' }} been in the UK?</span>
            </legend>

						{{
							form.radio({
								name: 'lengthOfTimeInUK',
								label: "Less than 6 months",
								value: 'Less than 6 months'
							})
						}}

						{{
							form.radio({
								name: 'lengthOfTimeInUK',
								label: "6 to 12 months",
								value: '6 to 12 months'
							})
						}}

						{{
							form.radio({
								name: 'lengthOfTimeInUK',
								label: "1 to 2 years"
							})
						}}

                        {{
							form.radio({
								name: 'lengthOfTimeInUK',
								label: "2 to 3 years"
							})
						}}
                        {{
                            form.radio({
                                name: 'lengthOfTimeInUK',
                                label: "3 to 4 years"
                            })
                        }}
                        {{
                            form.radio({
                                name: 'lengthOfTimeInUK',
                                label: "4 to 5 years"
                            })
                        }}
                        {{
                            form.radio({
                                name: 'lengthOfTimeInUK',
                                label: "More than 5 years"
                            })
                        }}

          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}﻿
