{% set page = {
	title: "END014"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Book a further evidence interview</h1>
      <p>Tell the person to bring their:</p>
      <ul class="list list-bullet">
        <li>current British passport</li>
      </ul>

			<p>Complete as much of the ALP as you can.</p>

      <div class="panel panel-border-narrow">
        <p>
          Don't complete the 'Refer to DM HRT To-Do'.
        </p>
      </div>

    </div>
  </div>

{% endblock %}
