{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">
      {% set brpIssueDate = "the card was issued," %}
      {% set brpIssueDate = "‘" + data[type].brpIssueDate.formatted + "’" if data[type].brpIssueDate.formatted else brpIssueDate %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "out-of-country-yes-no",
        name: type + "[outOfCountryYesNo]",
        fieldset: {
          legend: {
            text: "Since " + brpIssueDate + " have they been out of the UK?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("['" + type + "'].outOfCountryYesNo", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("['" + type + "'].outOfCountryYesNo", "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
