{% extends "../outcome.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Fast-track this person",
      classes: "outcome"
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Claimant status</h2>
    <p>British/Irish national</p>

    <h2 class="govuk-heading-m">Evidence to record in the ALP</h2>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">For each period over 4 weeks abroad in the last 2 years:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>the date they left the UK</li>
      <li>the date they returned to the UK</li>
      <li>the country they visited</li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">For the last time they travelled out of the UK:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>the date they left the UK</li>
      <li>the date they returned to the UK</li>
      <li>the country they visited</li>
      <li>the reason they went away</li>
      <li>the reason they returned</li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">All of the following:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>current passport</li>
    </ul>

    <p>Include number, nationality, issue date and expiry date</p>

    {{ govukWarningText({
      text: "If the claimant cannot provide the necessary evidence, book an HRT interview.",
      iconFallbackText: "Important"
    }) }}

    <h2 class="govuk-heading-m">Go to the ‘Prove you can apply – HRT’ to-do</h2>
    <ol class="govuk-list govuk-list--number">
      <li>For the question ‘Is an HRT interview needed?’, select ‘No’.</li>
      <li>Select ‘Done’.</li>
    </ol>

    <h2 class="govuk-heading-m">Complete the ‘Refer to Decision Maker (HRT)’ to-do</h2>
    <ol class="govuk-list govuk-list--number">
      <li>Download the ALP.</li>
      <li>Complete the appropriate section in the ALP using the necessary evidence.</li>
      <li>Upload the ALP.</li>
      <li>Enter the claimant’s nationality.</li>
      <li>For the question ‘Is the claimant a refugee?’, select ‘No’.</li>
      <li>For the question ‘Is this a fast-track HRT referral case?’, select ‘Yes’.</li>
      <li>Select ‘Done’.</li>
    </ol>

  </div>
</div>
{% endblock %}
