{% set page = {
	title: "Marriage certificate"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          Does the claimant intend to go back to work?
        </h1>

        <form>
  <div class="form-group">
    <fieldset>

     <!--  <legend class="visually-hidden">How do you want to be contacted?</legend> -->

     <div class="form-group">
        <fieldset role="radiogroup" aria-required="true">

          <legend>
            <span class="visuallyhidden">IDoes the claimant intend to go back to work?</span>
          </legend>

          {{
            form.radio({
              name: 'backtowork',
              label: "Yes",
                            value: "yes"
            })
          }}

          {{
            form.radio({
              name: 'backtowork',
              label: "No",
              value: 'no'
            })
          }}

        </fieldset>
      </div>
  </div>
</form>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
