{% set page = {
	title: "Tax Return"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
				Does the claimant have a CSI policy?
	        </h1>

		 <!-- <form> -->
		  <div class="form-group">
		    <fieldset>
		      <div class="multiple-choice" data-target="csi-policy">
		        <input id="studentcsi" type="radio" name="studentcsi" value="Yes">
		        <label for="studentcsi">Yes</label>
		      </div>

		      <div class="multiple-choice" data-target="csi">
		        <input id="studentcsi" type="radio" name="studentcsi" value="No">
		        <label for="csi">No</label>
		      </div>
		    </fieldset>
		  </div>
		<!-- </form> -->

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
