// the global prototyping styles get imported
// see: app/assets/sass/_global-styles.scss
@import "global-styles";

.pyca-list {
	> li {
		margin-bottom: 20px;
	}
}

.figure {
	&__caption {
		text-align: center;
		font-size: 0.9em;
		color: $grey-1;
	}
	&--brp {
		margin-top: 2.5em;
		img {
			max-width: 100%;
		}
	}
}

.mw-100 {
	max-width: 100%;
	display: block;
}





.multiline {
	white-space: pre-line;
	}