{% extends "layouts/subappindex.html" %}

{% block description %}

<h3 class="heading-medium">In this version</h3>

<p>This prototype consists of the following:</p>

<ul class="list list-bullet">
	<li>Login into the FES System</li>
	<li>Change password</li>
	<li>Work list</li>
	<li>Diary</li>
	<li>
		Case
		<ul class="list-bullet">
			<li>Linked cases</li>
			<li>Notes</li>
			<li>Documents</li>
			<li>Third parties</li>
			<li>Case history</li>
			<li>Actions - Abandon case, Reroute case, Close case</li>
		</ul>
	</li>
	<li>Appointment booking</li>
	<li>Interview recording</li>
	<li>Find a case</li>
</ul>

<h3 class="heading-medium">Research notes</h3>

<p>To be added</p>

{% endblock %}