{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column govuk-grid-column--custom-image">

    <form method="post">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "permit-type-refugee",
        name: type + "[permitTypeRefugee]",
        fieldset: {
          legend: {
            text: "Have they got a Biometric Residence Permit (BRP)?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("['" + type + "'].permitTypeRefugee", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("['" + type + "'].permitTypeRefugee", "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
<div class="govuk-grid-column govuk-grid-column--custom-image">

    <figure class="figure residence-card residence-card--large">
      <img src="{{ basePath }}/assets/images/brp-front-small.png" srcset="{{ basePath }}/assets/images/brp-front-small.png, {{ basePath }}/assets/images/brp-front-small@2x.png 1.5x" alt="Example biometric residence permit">
      <figcaption class="figure__caption residence-card__caption" aria-hidden="true">
        Example biometric residence permit
      </figcaption>
    </figure>

  </div>

</div>
{% endblock %}
