{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          {{ 'What is their partners' if currentApp.isPartnerFlow else 'What is their' }} employment status?
        </h1>

        <p>Select all that apply:</p>

        <div class="form-group">
          <fieldset role="group" aria-required="true">
            <legend>
              <span class="visuallyhidden">{{ 'What is their partners' if currentApp.isPartnerFlow else 'What is their' }} employment status?</span>
            </legend>

            <label for="employed" class="block-label selection-button-checkbox">
              <input type="checkbox" name="employeeStatus[employed]" value="true" id="employed" data-uncheck='["dontWork"]'>
              Employed
            </label>

            <label for="selfEmployed" class="block-label selection-button-checkbox">
              <input type="checkbox" name="employeeStatus[selfEmployed]" value="true" id="selfEmployed" data-uncheck='["dontWork"]'>
              Self-employed
            </label>
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
