{% set page = {
	title: "END016"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Print an appointment reminder</h1>
      <p>Print a reminder to tell the claimant what to bring to the further evidence interview.</p>


			<h2 class="heading-medium">Appointment details</h2>
			<form method="post" class="form">

				<div class="form-group">
				  <label class="form-label" for="appointment-date">Date</label>
				  <input class="form-control" id="appointment-date" name="appointment-date" type="text">
				</div>

				<div class="form-group">
				  <label class="form-label" for="appointment-time">Time</label>
				  <input class="form-control" id="appointment-time" name="appointment-time" type="text">
				</div>

				<p><a class="button button-print-reminder" href="{{ currentApp.urlPaths.imagesPath }}reminder.pdf" role="button">Print reminder</a></p>

			</form>

    </div>

	</div>

{% endblock %}
