{% set page = {
	section: "work list",
	subsection: "documents"
} %}

{% extends currentApp.filePaths.layoutsDir + "case.html" %}

{% block subsection_primary %}
	
<h3 class="heading-large mt-0">Current documents</h3>

	<table class="your-cases">
		<tbody>
			<tr>
				<td>Bank statement</td>
				<td>
					<a href="#" title="Rename">Rename</a>
				</td>
				<td>
					<a href="#" title="View">View</a>
				</td>
			</tr>

			<tr>
				<td>Claim forms</td>
				<td>
					<a href="#" title="Rename">Rename</a>
				</td>
				<td>
					<a href="#" title="View">View</a>
				</td>
			</tr>

			<tr>
				<td>Letters from pension provider</td>
				<td>
					<a href="#" title="Rename">Rename</a>
				</td>
				<td>
					<a href="#" title="View">View</a>
				</td>
			</tr>
		</tbody>
	</table>

	<h3 class="heading-medium">Upload a new document</h3>

	<p>
		<button class="button button-secondary">Choose files</button>
		<span class="inline-button-text">Or drag and drop</span>
	</p>

	<div class="dropzone">
		<p>Drag and drop files here</p>
	</div>

	<div class="form-group">
		<input type="submit" class="button" value="Upload and continue">
	</div>


{% endblock %}