{% set page = {
	section: "work list",
	subsection: "case history"
} %}

{% extends currentApp.filePaths.layoutsDir + "case.html" %}

{% block subsection_primary %}
		
	<h3 class="heading-large mt-0">Case history</h3>
	
	<table class="data-table">
	  
		<thead>
	      <tr>
	          <th scope="col">Recent actions</th>
	          <th scope="col">Relevant dates</th>
	      </tr>
	  </thead>
		
	  <tbody>
	      <tr>
	          <td>Referred to DM:
	          </td>
	          <td>1 November 2016</td>
	      </tr>
	      <tr>
	          <td>BF until:
	          </td>
	          <td>28 October 2016</td>
	      </tr>
	      <tr>
	          <td>Telephone appointment completed:
	          </td>
	          <td>15 October 2016</td>
	      </tr>
	      <tr>
	          <td>Telephone appointment letter issued:
	          </td>
	          <td>10 October 2016</td>
	      </tr>
	      <tr>
	          <td>Telephone appointment booking completed:
	          </td>
	          <td>2 October 2016</td>
	      </tr>

	  </tbody>
	</table>

{% endblock %}