{% set page = {
	section: "work list",
	subsection: "linked cases (1)"
} %}

{% extends currentApp.filePaths.layoutsDir + "case.html" %}

{% block subsection_primary %}
	
<h1 class="heading-large mt-0">Linked cases</h1>

  <table class="data-table">
      <thead>
          <tr>

              <th scope="col">Case No</th>
              <th scope="col">Last name</th>
              <th scope="col">First name</th>
              <th scope="col">Offence type</th>
              <th scope="col">Closed</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>
                  <a href="{{ currentApp.urlPaths.root }}case/index" title="View case">122560023</a>
              </td>
              <td>Dusttrap</td>
              <td>Nuno</td>
              <td>Living together</td>
              <td>12 Sep 2016</td>
          </tr>
      </tbody>
  </table>

{% endblock %}