{% extends "layout.html" %}

{% block page_title %}
  EEA citizen
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        You need to do a residency interview with this person
      </h1>

      <p>It looks like they don't have the right to apply for benefits themselves but they may still be able to apply because they have family here.</p>

      <h2 class="heading-medium">What to do next</h2>

      <p>1. Scan any of the following items they've brought with them:</p>

      <ul class="list list-bullet">
        <li>their passport or identity card</li>
        <li>proof of their most recent employment in the UK (wageslips, P45 or P60)</li>
        <li>proof of when they first entered the UK</li>
        <li>proof of their partner's nationality, eg passport or identity card</li>
        <li>proof of their partner's work, eg wage slips</li>
        <li>their marriage certificate or proof of civil partnership, if relevant</li>
      </ul>

      <p>If their partner isn't from the EEA, you should also scan the following:</p>

      <ul class="list list-bullet">
        <li>passport or photo ID and proof of address of any other family they have in the UK</li>
        <li>details of the school their child goes to, if relevant</li>
      </ul>

      <p>2. Carry out a residency interview using the residency tool as normal.</p>

      <p>
        <a href="/examples/branching">Back to the branching example</a>
      </p>

    </div>
  </div>
</main>
{% endblock %}
