{% extends "layout.html" %}

{% block page_title %}
  EEA citizen
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        You need to do a residency test for this person
      </h1>

      <p>They don't have the right to apply for benefits in the UK themselves, but they may be able to through their partner.</p>

      <h2 class="heading-medium">What to do next</h2>
      <p>1. Scan the following items:</p>

      <ul class="list list-bullet">
        <li>the person's passport or id card</li>
        <li>the proof of where they live</li>
        <li>proof of their employment (wage slip or similar)</li>
        <li>their partner's passport or photo id</li>
        <li>proof of their partner's employment (wage slip or similar)</li>
      </ul>

      <p>2. Carry out a residency interview using the residency tool as normal.</p>

    </div>
  </div>
</main>
{% endblock %}
