{% extends "layout.html" %}

{% block page_title %}
  EEA citizen
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        You need to do a residency test with this person
      </h1>

      <p>Because they're a national of a country in the European Economic Area but not currently working in the UK they may or may not qualify to apply for benefits in the UK. A decision maker will have to look at their case.</p>

      <h2 class="heading-medium">What to do next</h2>
      <p>1. Scan the following items:</p>

      <ul class="list list-bullet">
        <li>the person's passport or id card</li>
        <li>the proof of where they live</li>
        <li>the proof of any former employment they have</li>
      </ul>

      <p>2. Carry out the residency interview using the tool as normal.</p>

    </div>
  </div>
</main>
{% endblock %}
