{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You may not have to carry out a residency test for this person</h1>
      </div>

      <p>This person probably won’t be able to apply for benefits in the UK.</p>

      <h2 class="heading-medium">What to do next</h2>

      <div class="panel panel-border-wide">
        <p>1. Tell the person that dased on the answers you gave it doesn’t look like they’re eligible to apply for benefits in the UK.</p>

        <p>2. Ask the person if they have a reason for coming in that isn’t to do with claiming - for example their partner is claiming and they’ve been told to.</p>
      </div>

      <h2 class="heading-medium">If they have a reason to continue</h2>
      <p>Carry out a residency test as normal.</p>

    </div>
  </div>
</main>
{% endblock %}
