{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You don’t need to do a residency test for this person</h1>
      </div>

      <p>Because they’re a national of a country in the European Economic Area who is working in the UK and has a partner they qualify to apply for benefits in the UK regardless of anything in the habitual residency test.</p>

      <p>As long as you’ve seen evidence that the person is a citizen of an EEA country and is working in the UK you don’t need to carry out a full interview.</p>

      <h2 class="heading-medium">What to do next</h2>

      <div class="panel panel-border-wide">
        <p>1. Scan the following items:</p>

        <ul class="list list-bullet">
          <li>the person’s passport or id card</li>
          <li>the proof of where they live</li>
        </ul>

        <p>2. Tell the person they can leave and to check their Universal Credit account for the result of their residency check.</p>
        <p>3. Send the scanned documents to the specialist decision maker in the Stockport hub - <a href="mailto:hrtAlpha@dwp.gsi.gov.uk">hrtAlpha@dwp.gsi.gov.uk</a></p>
      </div>

    </div>
  </div>
</main>
{% endblock %}
