{% extends "layout.html" %}

{% block page_title %}
  EEA citizen
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          You need to do a residency interview with this person
        </h1>
        <p>Because they've lived in the UK for more than 5 years they should be able to apply for benefits, but they still need to do a residency test to prove they are living in the UK and intend to continue to do so.</p>
        <h2 class="heading-medium">What to do next</h2>
          <p>1. Scan the following items:</p>
          <ul class='list list-bullet'>
          <li>the person's passport or id card</li>
          <li>the proof of where they live</li>
          <li>proof of when they entered the country</li>
        </ul>
        <p>2. Carry out the residency interview using the tool as normal.</p>

    </div>
  </div>
</main>
{% endblock %}
