{% extends "layout.html" %}

{% block page_title %}
  Refugee
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        You don't need to do a residency test with this person
      </h1>

      <p>Because they've got a visa that proves their right to apply this person will qualify to apply for benefits regardless of anything in the habitual residency test.</p>

      <p>As long as you've seen the visa you don't need to carry out an interview.</p>

      <h2 class="heading-medium">What to do next</h2>
      <p>1. Scan the following items:</p>

      <ul class="list list-bullet">
        <li>the person's passport or photo ID</li>
        <li>the visa, clearly showing the section where it says the person has 'recourse to public funds'</li>
      </ul>

      <p>2. Tell the person they can leave and to check their Universal Credit account for the result of their residency check</p>

      <p>3. Send the scanned documents to the specialist decision maker in the Stockport hub - <a href="mailto:hrtAlpha@dwp.gsi.gov.uk">hrtAlpha@dwp.gsi.gov.uk</a></p>

    </div>
  </div>
</main>
{% endblock %}
