{% extends "layout.html" %}

{% block page_title %}
  EEA citizen
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          You should be able to apply for benefits in the UK
        </h1>
        <p>
          You now need to bring the following items to a jobcentre to prove your right to live in the UK:</p>
          <ul class='list list-bullet'>
          <li>your passport or national ID card</li>
          <li>proof of most recent employment (eg recent wage slips, P45 or P60) or an offer of employment if you've not started working yet</li>
        </ul>

        {% include "includes/interview.html" %}

        {% include "includes/whattodonext.html" %}

    </div>
  </div>
</main>
{% endblock %}
