{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "pre-settled-status",
        name: type + "[preSettledStatus]",
        fieldset: {
          legend: {
            text: "Does the claimant have pre-settled status?",
            hint: "They can get this status if they successfully apply to the EU Settlement Scheme",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("['" + type + "'].preSettledStatus", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("['" + type + "'].preSettledStatus", "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
