{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Under 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="form-title heading-large" id="thirdparty">
        Where's your partner from?
      </h1>

      <form action="otherfamily" method="get" class="form" id="theForm">
        <input type="hidden" name="page_name" value="start"/>

        <fieldset>
          <legend class="visuallyhidden">Where's your partner from?</legend>

          <select name="nationality" class="form-control full autocompleter">
            <option value="">Select country</option>
            {%- for country in countries %}
            <option value="{{country}}">{{country}}</option>
            {%- endfor %}
          </select>
        </fieldset>

        <div class="primary-nav form-group">
          <button type="submit" class="button" id="submitButton">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
