{% set page = {
	title: "END006"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds outcome">
      {% include currentApp.filePaths.includesDir + "header.html" %}

      <h2 class="heading-medium">Evidence to collect</h2>
      <ul class="list list-bullet">
        <li>passport – number, nationality, date of issue and expiry date</li>
        <li>bank account statement or simple cash book covering at least 3 months</li>
      </ul>

     <h3 class="heading-medium">If they haven't brought all the evidence</h3>
      <ul class="list list-bullet">
        <li>Book further evidence interview and in the 'description' field, enter 'Create prove you can apply to-do'.</li>
        <li>Tell them to bring all the evidence to the interview</li>
        <li>Click ‘done’ to complete the ‘prove you can apply’ to-do.</li>
      </ul>

      <h3 class="heading-medium">If they've brought all the evidence (fast-track)</h3>
      <ol class="list list-number">

        <li>Go to the ‘prove you can apply’ to-do and in the ‘agent notes’ box, enter:
          <ul class="list list-bullet">
            <li>the claimant status (see the top of this page for claimant status)</li>
            <li>the details of evidence you’ve collected</li>
          </ul>
        </li>
        <li>Click ‘done’ to complete the ‘prove you can apply’ to-do.</li>
        <li>Email the decision maker at <a href="mailto:stockport.pyca@dwp.gsi.gov.uk">stockport.pyca@dwp.gsi.gov.uk</a> with the full name of the person claiming.</li>
        <li>Book a habitual residency test interview in the UCFS build (not Booking Bug) using any date and time.</li>
        <li>Go to the claimant’s to-do list, open ‘Attend your habitual residency interview’ to-do, select ‘attended’ and save.</li>
        <li>Remind the person claiming to check their Universal Credit account for updates on their claim.</li>
      </ol>
    </div>
  </div>

{% endblock %}
