{% set page = {
	title: "END010"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">
      {% include currentApp.filePaths.includesDir + "header.html" %}

      <h2 class="heading-medium">Evidence to collect</h2>
      <ul class="list list-bullet">
        <li>passport – number, nationality, date of issue and expiry date</li>
        <li>redundancy letter from employer – date, reason for redundancy and other details
        <li>payslips from the last 3 months – name of employer and earnings (including dates) <strong class="bold">or</strong></li>
        <li>bank statement showing earnings from the last 3 months <strong class="bold">or</strong></li>
        <li>contract or letter from employer confirming type and duration of contract, hours of work and earnings</li>
      </ul>

      {% include currentApp.filePaths.includesDir + "footer.html" %}
    </div>
  </div>

{% endblock %}
