{% set page = {
	title: "END013"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include currentApp.filePaths.includesDir + "header.html" %}

			<h2 class="heading-medium">Evidence to collect</h2>
      <ul class="list list-bullet">
        <li>passport - number, nationality, date of issue and expiry date</li>
				<li>family member residence permit or residence card – issue date, unique permit number on the right corner of the card, type of permit, remark and comments at the back of the card</li>
				<li>date they came to live in the UK (exact date, otherwise month and year, or just year)</li>
        <li>marriage or civil partnership certificate - couple's names, date of marriage, country of marriage</li>
      </ul>

		{% include currentApp.filePaths.includesDir + "footer.html" %}

    </div>
  </div>

{% endblock %}
