{% set page = {
	title: "Not Eligible"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include currentApp.filePaths.includesDir + "header.html" %}

      <h1 class="heading-medium">What to do next</h1>
      <ol class="list list-number">
        <li>In the ‘Prove you can apply’ to-do, type this in the ‘agent notes’ box: ‘Not eligible for fast-track’.</li>
        <li>For the question ‘Is an HRT interview required?’, select ‘Yes’.
        <li>Click ‘done’ to complete the ‘Prove you can apply’ to-do.</li>
        <li>Book the HRT.</li>
      </ol>

    </div>
  </div>

{% endblock %}
