{% set page = {
	title: "END017 v2"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">

		<div class="column-full">

      <form method="post" class="form">

	      <h1 class="heading-large">
	        Make a HRT decision
	      </h1>

				<p>This person needs a HRT decision.</p>
				<p>Continue and follow the instructions here on what to do next.</p>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>

  </div>
{% endblock %}
