{% extends "layout.html" %}

{% block page_title %}
  EEA citizen
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          You must speak to your work coach
        </h1>

        <p>It looks like you don't have the right to apply for benefits in the UK yourself but you may still be able to apply because you have family here.</p> 
          <p>You need to bring the following items to a jobcentre to prove your right to live in the UK:</p>
          <ul class='list list-bullet'>
          <li>your passport or identity card</li>
          <li>proof of where you live, eg rental agreement, mortgage statement or utility bills</li>
        </ul>
        <h2 class="heading-medium">Your family information</h2>
          <p>You also need to bring proof of any of the following that applies to you:</p>
          <ul class='list list-bullet'>
              <li>your partner's nationality, eg their passport or identity card</li>
              <li>your partner's work, eg their wage slips</li>
              <li>your marriage or civil partnership</li>
              <li>details of any other family you have living in the UK, including information about where they work and when they entered the UK</li>
              <li>the school your child goes to</li>
          </ul>
          <p>You'll also have an interview about whether your home is in the UK, and you intend to stay. This will cover details of your life in the UK, for example the name and address of your doctor or dentist.</p>
          <h2 class="heading-medium">What to do next</h2>
          <p>Once you have gathered all your evidence or information call 0800 900 1900 to make an appointment at your local jobcentre.</p>

        <p>
          <a href="/examples/branching">Back to the branching example</a>
        </p>

    </div>
  </div>
</main>
{% endblock %}
