{% extends "layout.html" %}

{% block page_title %}
  EEA citizen
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          Your case is complicated
        </h1>

        <p>
          You don't have the right to reside here yourself but may be able to get it from your family.</p> 
          <p>You need to bring the following items to a jobcentre to prove your right to live in the UK:</p>
          <ul class='list list-bullet'>
          <li>your passport or identity card</li>
          <li>proof of your most recent employment in the UK (wageslips, P45 or P60)</li>
          <li>proof of when you entered the UK</li>
        </ul>
        <h2 class="heading-medium">Your family information</h2>
          <p>You also need to bring evidence of any of the following that applies to you:</p>
          <ul class='list list-bullet'>
              <li>your partner's nationality, eg passport or identity card</li>
              <li>your partner's work, eg wage slips</li>
              <li>proof of marriage or civil partnership</li>
              <li>details of your other family in the UK, including information about where they work and when they entered the UK</li>
              <li>details of the school your child goes to, if relevant</li>
          </ul>
          <p>You'll also need to have an extended interview about whether your home is in the UK, and you intend to continue living in the UK.</p>
          <h2 class="heading-medium">What to do next</h2>
          <p>Once you have your evidence call 0800 900 1900 to make an appointment at your local jobcentre.</p>

        <p>
          <a href="/examples/branching">Back to the branching example</a>
        </p>

    </div>
  </div>
</main>
{% endblock %}
