{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Over 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          You can apply for benefits in the UK
        </h1>
        <p>Based on your answers you're a single, employed worker from a country in the European Economic Area. This  means you can apply for benefits as long as you can prove this.</p>
        <p>
          You now need to bring the following items to a jobcentre:</p>
          <ul class='list list-bullet'>
          <li>your passport</li>
          <li>some proof of your employment, eg wage slips or employment contract</li>
          <li>some proof of where you live, eg a rent agreement or mortgage statement dated in the last 3 months</li>
        </ul>
          <h2 class="heading-medium">What to do next</h2>
          <p>Once you have your evidence call 0800 900 1900 to make an appointment at your local jobcentre.</p>
          <p>Simply bring your evidence. It will be photocopied. Your appointment should take no more than 5 minutes.</p>

        <p>
          <a href="/examples/branching">Back to the branching example</a>
        </p>

    </div>
  </div>
</main>
{% endblock %}
