{% extends "layout.html" %}

{% block page_title %}
  EEA citizen
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          You may be able to apply for benefits in the UK
        </h1>
        <p>You don't have the right to apply for benefits in the UK yourself, but you may be able to through your partner.</p>
        <p>
          You need to bring the following items to a jobcentre to prove your right to live in the UK:</p>
          <ul class='list list-bullet'>
          <li>your passport</li>
          <li>proof of employment (wage slip or similar)</li>
          <li>your partner's passport</li>
          <li>proof of your partner's employment (wage slip or similar)</li>
          <li>proof of your marriage or civil partnership</li>
          <li>proof of dates both of you arrived in the country, if not stamped in your passport</li>
        </ul>

        {% include "includes/interview.html" %}

        {% include "includes/whattodonext.html" %}

    </div>
  </div>
</main>
{% endblock %}
