{% extends "layout.html" %}

{% block page_title %}
  EEA citizen
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          Your partner is an EEA citizen
        </h1>
        <p>You don't have the right to apply for benefits in the UK yourself, but you may be able to through your partner.</p>
        <p>
          You need to bring the following items to a jobcentre to prove your right to live in the UK:</p>
          <ul class='list list-bullet'>
          <li>your passport</li>
          <li>proof of employment (wage slip or similar)</li>
          <li>your partner's passport</li>
          <li>proof of your partner's employment (wage slip or similar)</li>
          <li>proof of your marriage or civil partnership</li>
        </ul>
          <h2>If you have other family in the UK</h2>
            <p>You'll be asked questions about your children or any other family you have in the UK. This will include the dates they arrived, the school they go to and the work they do.</p>
            <p>You don't have to give evidence of this, but you may find it handy to have these details to hand.<p>
            <p>
          <h2 class="heading-medium">What to do next</h2>
          <p>Once you have your evidence call 0800 900 1900 to make an appointment at your local jobcentre.</p>

        <p>
          <a href="/examples/branching">Back to the branching example</a>
        </p>

    </div>
  </div>
</main>
{% endblock %}
