{% extends "layout.html" %}

{% block page_title %}
  EEA citizen
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        You should have the right to apply for benefits in the UK
      </h1>

      <p>As a citizen of a European Economic Area country with a job in the UK you should be able to apply for benefits in the UK.</p>

      <p>You now need to bring the following items to a jobcentre to prove your right to live in the UK:</p>

      <ul class="list list-bullet">
        <li>your passport or national ID card</li>
        <li>proof of your self-employment, for example your accounts and company registration if relevant</li>
      </ul>

      {% include "includes/interview.html" %}

      {% include "includes/whattodonext.html" %}

    </div>
  </div>
</main>
{% endblock %}
