{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Fast-track this person</h1>
      </div>

      <h2 class="heading-medium">Claimant status</h2>
      <p>Non-EEA deriving rights from EEA spouse</p>

      <h2 class="heading-medium">Evidence to collect</h2>
      <ul class="list list-bullet">
        <li>passport - number, nationality, date of issue, expiry date and visa status</li>
	<li>residence permit or residence card - issue date, unique permit number on the right corner of the card, type of permit, remark and comments at the back of the card</li>
	<li>marriage or civil partnership certificate - couple's names, date of marriage and country of marriage</li>
      </ul>

      {% include "citizen/outcomes/includes/outcome_footer.html" %}

    </div>
  </div>
</main>
{% endblock %}
