 {% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You need to book a residency test for this person</h1>
      </div>

      <p>They may be able to apply because they have family here.</p>

     <h2 class="heading-medium">Book HRT appointment</h2>
	
      <p>Book a HRT appointment for them and explain what it is.</p>

      <h2 class="heading-medium">Put evidence list in their journal</h2>

        <p>Ask them to bring the following to their HRT appointment:</p>

	<div class="panel panel-border-wide">
        <ul class="list list-bullet">
          <li>passport, residence card or BRP </li>
	  <li>proof of accommodation</li>
          <li>proof of marriage, civil partnership or relationship (if you're not single)</li>
          <li>proof that a family member supports you financially</li>
          <li>proof of employment of the family member supporting you financially</li>
	  <li>passport, residence card or BRP of family member supporting you</li>
        </ul>
      </div>

      <p>Then copy and paste the evidence list in their Universal Credit account journal. Let them know you have done this and that they can refer to it later.</p>

      {% include "includes/whattodonext.html" %}

    </div>
  </div>
</main>
{% endblock %}