{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Refer this case to the decision maker</h1>
      </div>

        <p>1. Scan the part of the person's passport or BRP showing their visa status</p>
	<p>2. Upload it in the HRT to-do and refer to the decision maker</p>
	<p>3. Remind the person to check their Universal Credit journal later for decision</p>

      {% include "includes/whattodonext.html" %}

    </div>
  </div>
</main>
{% endblock %}
