{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">Book a further evidence interview for the claimant to bring: </h1>
      <ul class="list list-bullet">
        <li>current passport</li>
      </ul>
      <h2 class="heading-small">Do not complete the Refer to DM HRT To-Do and ALP until the further evidence interview</h2>
			{% include "citizen/outcomes/includes/unsure-of-evidence.html" %}

    </div>
  </div>
</main>
{% endblock %}
