{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You need to book a HRT for this person</h1>
      </div>

      <p>They may be able to apply for benefits because they’ve lived in the UK for more than 5 years. They need to do a residency test to prove they’ve been living in the UK for at least 5 years.</p>

</main>
{% endblock %}
