{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Fast-track this {{ 'couple' if isPartnerFlow else 'person' }}</h1>
      </div>

      <div class="panel panel-border-wide">
        <h2 class="heading-small">Not sure if you’ve been given the right evidence?</h2>
        <p>
          Call Petros on 01227 591204 (ext 02715) or Janice on 0161 9684612 (ext 78224) to check.
        </p>
      </div>

      <h2 class="heading-medium">Evidence you need</h2>
      <ul class="list list-bullet">
        <li>current passport or residence card</li>
        <li>date they first arrived in the UK</li>
        <li>3 months’ proof of employment that shows how much they earn, such as recent wage slips, P60, employment contract or bank statement</li>
      </ul>

      <h3 class="heading-medium">What to do next</h3>

      <ol class="list list-number">
        <li>Copy and paste the above evidence list into the ‘prove you can apply’ to do.</li>
        <li>Open the HRT entitlement action to do.</li>

        <li>In the agent notes box, enter the details of the evidence you’ve collected:
          <ul class="list list-bullet">
            <li>passport – number, date of issue and expiry date</li>
            <li>date they first arrived in the UK (exact date, otherwise month and year, or just year)</li>
            <li>payslip – name of employer and earnings (including dates)</li>
            <li>employment contract – type and duration of contract, hours of work and earnings</li>
            <li>bank statement – earnings and period covered</li>
          </ul>
        </li>

        <li>Download HRT entitlement action ALP.</li>
        <li>Enter ‘HRT trial’ in the final box (leave other boxes blank).</li>
        <li>Save and upload the edited ALP.</li>

        {%- if isPartnerFlow %}
        <li>Open the partner’s HRT entitlement action to do.</li>
        <li>Add a note to the agent notes field stating: ‘Partner part of Stockport Trial, claimant must be referred to Stockport DM’.</li>
        {% endif -%}

        <li>Email the decision maker at <a href="mailto:stockport.pyca@dwp.gsi.gov.uk">stockport.pyca@dwp.gsi.gov.uk</a> with the full name of the person claiming.</li>
        <li>Remind the person claiming to check their Universal Credit account for a decision.</li>
        <li>Book a ‘mock interview’ in the customer account and then immediately delete it so that it no longer appears as an outstanding task. You don’t need to book a slot in Booking Bug, so you can use any date.</li>
      </ol>

    </div>
  </div>
</main>
{% endblock %}

