{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Don't do a HRT with this person</h1>
      </div>

     <div class="panel panel-border-wide">
  <p>
    If you’re not sure whether the claimant has brought the right evidence, before you do anything else make sure you call Petros on 01227 591204 (ext 02715) or Janice on 0161 9684612 (ext 78224)
  </p>
</div>

   <h2 class="heading-medium">Evidence you need</h2>
<ul class="list list-bullet">
          <li>passport or residence card</li>
	  <li>date they came into the UK</li>
	  <li>3 months' proof of employment that shows how much they earn, such as recent wage slips, P60, employment contract or bank statement</li>
        </ul>
	
      <h3 class="heading-medium">What to do next</h3>

<ol class="list list-number">
  <li>Copy and paste the evidence list in the ‘prove you can apply’ to do</li>

  <li>Open the HRT entitlement action to do</li>

  <li>In the agent notes box, type in details of the evidence you've collected such as:
	      <ul class="list list-bullet">
          	<li>passport number, date of issue and expiry date</li>
		<li>date they came into the UK (if they don't remember exact dates, note month and year, or just the year)</li>
          	<li>name of employer and amount of earnings shown on payslips (including dates) or</li>
	        <li>contract of employment if they've not yet started work (including type of contract, duration of contract, name of employer, hours of work and earnings) or</li>
		<li>bank statement showing earnings and dates</li>
        </ul></li>

  <li>Download HRT entitlement action ALP and in the final box, type in ‘HRT trial’ (leave the other boxes blank)</li>

  <li>After you've saved and uploaded the pdf, close the HRT entitlement action to do</li>
 
<div class="panel panel-border-wide">
  <p>
    Don't create agent ‘refer to decision maker (HRT)’ to do
  </p>
</div>

  <li>Email the decision maker at stockport.pyca@dwp.gsi.gov.uk and give the full name of the person claiming</li>

  <li>Remind the person claiming to check their Universal Credit account later for a decision</li>

</ol>        

  </div>
</main>
{% endblock %}

