{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Claimant may be able to apply for benefits in the UK</h1>
      </div>

      <p>The claimant doesn’t have the right to apply for benefits in the UK, but they may be able to through their partner.</p>

      <h2 class="heading-medium">Book HRT appointment</h2>
	
      <p>Book a HRT appointment for the claimant and explain what it is.</p>

      <h2 class="heading-medium">Put evidence list in claimant’s journal</h2>

      <div class="panel panel-border-wide">
        <p>Ask the claimant to bring the following evidence to their HRT appointment:</p>

        <ul class="list list-bullet">
          <li>their passport, ID card, residence card or BRP </li>
	  <li>proof of accommodation</li>
          <li>proof of employment if they work, such as recent wage slips, P60 or employment contract</li>
          <li>proof of your marriage, civil partnership or relationship</li>
          <li>proof of dates the couple arrived in the country</li>
        </ul>
      </div>

      <p>Then copy and paste the evidence list in the claimant’s Universal Credit account journal. Let them know you have done this and that they can refer to it later.</p>

      {% include "includes/whattodonext.html" %}

    </div>
  </div>
</main>
{% endblock %}
