{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Book a further evidence interview</h1>
      <p>Tell the person to bring their:</p>
      <ul class="list list-bullet">
        <li>current British passport</li>
      </ul>

      <div class="panel panel-border-narrow">
        <p>
          Don't complete the 'Refer to DM HRT To-Do' and ALP until the further evidence interview.
        </p>
      </div>

			<!--{% include "citizen/outcomes/includes/unsure-of-evidence.html" %}-->

    </div>
  </div>
</main>
{% endblock %}
