{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Fast-track this {{ 'couple' if isPartnerFlow else 'person' }}</h1>
      </div>

      <h2 class="heading-medium">Claimant status</h2>
      <p>Refugee {{ 'with a qualifying partner' if isPartnerFlow}}</p>

      <h2 class="heading-medium">Evidence to collect</h2>
      <ul class="list list-bullet">
            <li>passport or travel document (if they have one) – number, nationality, date of issue, expiry date and visa status</li>
            <li>BRP card - issue date, unique permit number on the right corner of the card, type of permit and any details at the back of the card or</li>
            <li>Home Office document - date on the document and any refugee status details</li>
      </ul>

      <div class="panel panel-border-wide">
        <h2 class="heading-small">Not sure if you’ve been given the right evidence?</h2>
        <p>Call Petros on 01227 591204 (ext 02715) or Janice on 0161 9684612 (ext 78224) to check.</p>
      </div>

      <h3 class="heading-medium">How to fast-track</h3>

      <ol class="list list-number">

	<li>Go to the ‘prove you can apply’ to-do and in the ‘agent notes’ box, enter: 
		
            <ul class="list list-bullet">
            <li>the claimant status (see the top of this page for claimant status)</li>
            <li>the details of each evidence you've collected</li>
          </ul>

        </li>

        <li>Click ‘done’ to complete the ‘prove you can apply’ to-do.</li>
        <li>Email the decision maker at <a href="mailto:stockport.pyca@dwp.gsi.gov.uk">stockport.pyca@dwp.gsi.gov.uk</a> with the full name of the person claiming.</li>
        <li>Book a habitual residency test interview in the UCFS build (not Booking Bug) using any date and time.</li>
        <li>Go to the claimant’s to-do list, open ‘Attend your habitual residency interview’ to-do, select ‘attended’ and save.</li>

        {%- if isPartnerFlow %}
        <li>Open the partner’s ‘verify claimant identity’ to-do and in the agent notes box, write: ‘This person is the partner of a fast-tracked HRT claimant and they must also be fast-tracked.’</li>
        {% endif -%}

        <li>Remind the person claiming to check their Universal Credit account for updates on their claim.</li>

      </ol>

    </div>
  </div>
</main>
{% endblock %}

