{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Don't do a HRT with this person</h1>
      </div>

      <p>They can apply for benefits in the UK as long as their visa doesn’t say ‘no recourse to public funds’ or ‘no public funds’.</p>

   <h2 class="heading-medium">What to do next</h2>

        <p>1. Ask them for:</p>

  <div class="panel panel-border-wide">
        <ul class="list list-bullet">
          <li>the visa page of their passport or BRP card (it must not say'no recourse to public funds' or 'no public funds')</li>
	  <li>details of employment in the last 5 years</li>
          <li>proof of accommodation</li>
        </ul>
      </div>

      {% include "includes/whattodonext.html" %}
	
	<p>2. In the HRT to-do, record details from their passport or BRP, including date issued, unique permit number from the right hand corner on the front of the card and the type of permit from the front of the card (see how to check these documents)</p></p>

	<p>3. Send an email to the decision maker (stockport.pyca@dwp.gsi.gov.uk), giving details such as name of the person claiming</p>

	<p>4. Remind the person claiming to check their Universal Credit account later for decision</p>

  </div>
</main>
{% endblock %}       
