{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You may be able to apply for benefits in the UK</h1>
      </div>

      <p>Because you’re a citizen of a European Economic Area and you’ve lived in the ‘common travel area’ for the last 2 years you may be eligible to apply for benefits in the UK.</p>

      <h2 class="heading-medium">What to do next</h2>

      <div class="panel panel-border-wide">
        <p>Go to the jobcentre on the date of your habitual residency interview and bring the following items with you:</p>

        <ul class="list list-bullet">
          <li>your passport, identity card or biometric residence permit (BRP) </li>
          <li>proof of where you lived in the last 2 years</li>
        </ul>
      </div>

      <p>You will have a short interview about whether you live and intend to stay in the UK. This will cover where you live, when you arrived and details of your daily life, for example your doctor or dentist.</p>

      <h2 class="heading-medium">If you have other family in the UK</h2>
      <p>At your interview you’ll also be asked questions about your children or any other family you have in the UK. This will include the dates they arrived, the school they go to and the work they do.</p>

      {% include "includes/whattodonext.html" %}

    </div>
  </div>
</main>
{% endblock %}
