{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You need to book a residency test for this person</h1>
      </div>

      <p>They are from a country in the European Economic Area and they’ve lived in the 'common travel area' for the last 2 years. As long as they can prove this, they may qualify for benefits in the UK.</p>

</main>
{% endblock %}