{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Fast-track this {{ 'couple' if isPartnerFlow else 'person' }}</h1>
      </div>

      <h2 class="heading-medium">Claimant status</h2>
      <p>Temporarily Sick EEA Citizen {{ 'with a qualifying partner' if isPartnerFlow}}</p>

      {% include "citizen/outcomes/includes/outcome_footer.html" %}

    </div>
  </div>
</main>
{% endblock %}
