{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      {% include "citizen/outcomes/includes/header.html" %}

      <h2 class="heading-medium">Evidence to collect</h2>
      <ul class="list list-bullet">
        <li>current passport – number, nationality, date of issue and expiry date</li>
        <li>date they left the UK and returned</li>
        <li>reason they left the UK and returned</li>
      </ul>

      {% include "citizen/outcomes/includes/footer.html" %}

    </div>
  </div>
</main>
{% endblock %}
