{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      {% include "citizen/outcomes/includes/header.html" %}

      <h2 class="heading-medium">Evidence to collect</h2>
      <ul class="list list-bullet">
        <li>passport – number, nationality, date of issue and expiry date</li>
        <li>date they stopped working</li>
        <li>payslips from their last 3 months of employment – name of employer and earnings (including dates) <strong class="bold">or</strong></li>
        <li>bank statement showing earnings from the last 3 months of their employment <strong class="bold">or</strong></li>
        <li>contract or letter from employer confirming type and duration of contract, hours of work and earnings</li>
        <li>details from current fit note - start and end dates, type of sickness </li>
      </ul>

      {% include "citizen/outcomes/includes/footer.html" %}

    </div>
  </div>
</main>
{% endblock %}
