{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You can apply for benefits in the UK</h1>
      </div>

      <p>Based on your answers you're an employed worker from a country in the European Economic Area. This means you can apply for benefits as long as you can prove this.</p>

      <h2 class="heading-medium">What to do next</h2>

      <div class="panel panel-border-wide">
        <p>Go to the jobcentre on the date of your next interview and bring the following items with you:</p>

        <ul class="list list-bullet">
          <li>proof of your employment that shows how much you earn, such as recent wage slips, P60 or employment contract if you've not started working yet</li>
          <li>proof of relationship if you have a partner (this could be your marriage certificate, proof of civil partnership or 2 years' proof of relationship)</li>
        </ul>
      </div>

      {% include "includes/whattodonext.html" %}

    </div>
  </div>

 <h2 class="heading-medium">Save this information</h2>
</div>

      <p>Please save a copy of the items list or write them down. You won’t be able to return to this page after you’ve closed it. If you leave this page without saving the information you need, you’ll have to answer the questions again before you can return to this page.</p>

</main>
{% endblock %}
