{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      {% include "citizen/outcomes/includes/header.html" %}

      <h2 class="heading-medium">Evidence to collect</h2>
      <ul class="list list-bullet">
        <li>passport or travel document (if they have any) – number, nationality, date of issue, expiry date and visa status <strong class="bold">or</strong></li>
        <li>residence permit card - issue date, unique permit number on the right corner of the card, type of permit and any details at the back of the card <strong class="bold">or</strong></li>
        <li>Home Office document that says they're a refugee, including dates</li>
      </ul>

      {% include "citizen/outcomes/includes/footer.html" %}

    </div>
  </div>
</main>
{% endblock %}
