{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You need to book a HRT for this {{ 'couple' if isPartnerFlow else 'person' }}</h1>
      </div>

      <p>This {{ 'couple claim' if isPartnerFlow else 'claim' }} is not eligible for fast-track.</p>

      <h3 class="heading-medium">What to do next</h3>

      <ol class="list list-number">
        <li>Open the HRT entitlement action to-do.</li>
        <li>In the 'agent notes' box, type a note which says: ‘Not eligible for fast-track, do not use 'Prove You Can Apply' service, book HRT appointment’.

          <div class="panel panel-border-wide">
            <h2 class="heading-small">Don’t write in the ‘decision notes’ box or select ‘Is this person entitled?’</h2>
          </div>
        </li>

        {%- if isPartnerFlow %}
        <li>Open the partner’s ‘verify claimant identity’ to-do.</li>
        <li>Add a note to the agent notes field stating: ‘Partner not eligible for fast-track, do not use Prove You Can Apply service, book HRT appointment’.</li>
        {% endif -%}
      </ol>

    </div>
  </div>
</main>
{% endblock %}
