{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Refer this person to the decision maker</h1>
      </div>

        <p>1. Scan the part of the claimant’s passport or BRP showing their visa status</p>
	<p>2. Upload it in the HRT to-do and refer to the decision maker.</p>

	<div class="panel panel-border-wide">
        <ul class="list list-bullet">
          <li>their passport, residence card or BRP </li>
	  <li>proof of accommodation</li>
          <li>proof of employment if they work, such as recent wage slips, P60 or employment contract</li>
          <li>proof of your marriage, civil partnership or relationship</li>
          <li>proof of dates the couple arrived in the country</li>
        </ul>
      </div>

      <p>Then copy and paste the evidence list in the claimant’s Universal Credit account journal. Let them know you have done this and that they can refer to it later.</p>

      {% include "includes/whattodonext.html" %}

    </div>
  </div>
</main>
{% endblock %}
