{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You must speak to a work coach to find out if you can apply</h1>
      </div>

      <p>It looks like you don’t have the right to apply for benefits in the UK yourself but you may still be able to apply because you have family here.</p>

      <h2 class="heading-medium">What to do next</h2>
      <p>Go to the jobcentre on the date of your habitual residency interview and bring the items in the list below with you.</p>

      <h3 class="heading-small">Your information</h3>

      <div class="panel panel-border-wide">
        <p>Bring:</p>
        <ul class="list list-bullet">
          <li>your passport, identity card or biometric residence permit (BRP) </li>
          <li>proof of where you live, eg rental agreement, mortgage statement or utility bills</li>
        </ul>
      </div>

      <h3 class="heading-small">Your family information</h3>

      <div class="panel panel-border-wide">
        <p>Bring proof of any of the following that applies to you:</p>
        <ul class="list list-bullet">
          <li>your partner’s nationality, eg their passport, identity card or biometric residence permit (BRP)</li>
          <li>your partner’s work, eg their wage slips</li>
          <li>your marriage or civil partnership</li>
          <li>the passport, identity card or BRP of family member supporting you</li>
          <li>the family member’s employment (wage slips or similar)</li>
          <li>proof that a family member supports you financially</li>
        </ul>
      </div>

      <p>You will have a short interview about whether you live and intend to stay in the UK. This will cover where you live, when you arrived and details of your daily life, for example your doctor or dentist.</p>

      {% include "includes/whattodonext.html" %}

    </div>
  </div>
</main>
{% endblock %}
