{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Fast-track this {{ 'couple' if isPartnerFlow else 'person' }}</h1>
      </div>

      <h2 class="heading-medium">Claimant status</h2>
      <p>Self-employed EEA citizen {{ 'with a qualifying partner' if isPartnerFlow}}</p>

      <h2 class="heading-medium">Evidence to collect now</h2>
      <ul class="list list-bullet">
        <li>passport – number, nationality, date of issue and expiry date</li>
      </ul>

      <div class="panel panel-border-wide">
        <h2 class="heading-small">Not sure if you’ve been given the right evidence?</h2>
        <p>Speak to your UC full service Single Point of Contact (SPOC).</p>
      </div>

      <h3 class="heading-medium">How to fast-track</h3>
      <ol class="list list-number">

        <li>Go to the ‘prove you can apply’ to-do and in the ‘agent notes’ box, enter:
          <ul class="list list-bullet">
            <li>the claimant status (see the top of this page for claimant status)</li>
            <li>the details of evidence you've collected</li>
          </ul>
        </li>

        <li>Click ‘done’ to complete the ‘prove you can apply’ to-do.</li>
        <li>Remind this person to bring at least 3 months' bank account statement or cash book to their gateway interview.</li>
      </ol>

      <h3 class="heading-medium">Gateway interview to-do</h3>

      <p>You need to leave some PYCA instructions for the self-employment gateway interview work coach.</p>
      <ol class="list list-number">
        <li>Go to the ‘Gateway self-employment interview’ to-do</li>
        <li>In the ‘agent notes’ box, copy and paste the following:

          <div class="panel panel-border-wide">
            <p>For PYCA (Prove You Can Apply) purposes, gateway work coach should do the following before filling the ‘decision notes’ box:</p>

            <ul class="list list-bullet">
              <li>collect bank account statement or simple cash book covering at least 3 months</li>
              <li>type here details of the item collected (for example, ‘I have seen the claimant’s bank statement from July-October 2016 and it shows earnings and regular business activity’)</li>
              <li>email decision maker at <a href="mailto:stockport.pyca@dwp.gsi.gov.uk">stockport.pyca@dwp.gsi.gov.uk</a> with the full name of the person claiming</li>
            </ul>
          </div>
        </li>

        <li>Save and close the ‘verify self-employment’ to-do</li>
      </ol>
    </div>
  </div>
</main>
{% endblock %}
