{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You can apply for benefits in the UK</h1>
      </div>

      <p>You said you were a UK citizen which usually means you can apply for benefits. However, when you set up your Universal Credit account you said you spent significant time outside the UK in the last 2 years. This means you need to prove you’re currently living in the UK.</p>

      <h2 class="heading-medium">What to do next</h2>

      <div class="panel panel-border-wide">
        <p>You now need to bring the following items to a jobcentre:</p>

        <ul class="list list-bullet">
          <li>your passport or identity card</li>
          <li>some proof of where you live, eg a rent agreement or mortgage statement dated in the last 3 months</li>
          <li>details of any trips outside the UK that lasted more than 4 weeks</li>
        </ul>
      </div>

      {% include "includes/whattodonext.html" %}

    </div>
  </div>
</main>
{% endblock %}
