{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Don't do a residency test with this person</h1>
      </div>

      <p>They can apply for benefits in the UK as long as their visa doesn’t say ‘no recourse to public funds’ or ‘no public funds’.</p>

       <h2 class="heading-medium">Gather evidence documents</h2>

        <p>Ask them for:</p>

 <div class="panel panel-border-wide">
        <ul class="list list-bullet">
          <li>the visa page of their passport or BRP card (it must not say'no recourse to public funds' or 'no public funds')</li>
	  <li>details of employment in the last 5 years</li>
          <li>proof of accommodation</li>
        </ul>
      </div>

      {% include "includes/whattodonext.html" %}
   
 <h2 class="heading-medium">Save and refer to the decision maker</h2>
	
<p>Copy this page and paste in the HRT to-do. Then refer this case to the decision maker.</p>
    </div>
  </div>
</main>
{% endblock %}
