{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_prototype.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Fast-track this {{ 'couple' if isPartnerFlow else 'person' }}</h1>
      </div>

      <h2 class="heading-medium">Evidence you need</h2>
      <ul class="list list-bullet">
        <li>current passport</li>
      </ul>

      <div class="panel panel-border-wide">
        <h2 class="heading-small">Not sure if you’ve been given the right evidence?</h2>
        <p>
          Call Petros on 01227 591204 (ext 02715) or Janice on 0161 9684612 (ext 78224) to check.
        </p>
      </div>

      <h3 class="heading-medium">What to do next</h3>

      <ol class="list list-number">
        <li>Copy the above evidence list and paste into the ‘agent notes’ box in ‘prove you can apply’ to-do. Click ‘done’ to save.</li>
        <li>Open the ‘HRT entitlement action’ to-do and in the agent notes box, enter the details of the evidence documents you’ve collected:
          <ul class="list list-bullet">
            <li>passport – number, nationality, date of issue and expiry date</li>
            <li>reason for their return to the UK</li>
          </ul>
        </li>
	
	<div class="panel panel-border-wide">
        <h2 class="heading-small">Don’t write in the ‘decision notes’ box and don’t select ‘Is this person entitled?’</h2>
      </div>

        <li>Email the decision maker at <a href="mailto:stockport.pyca@dwp.gsi.gov.uk">stockport.pyca@dwp.gsi.gov.uk</a> with the full name of the person claiming.</li>
	<li>Book a mock 'habitual residency test interview’ in the UCFS build (not Booking Bug) using any date and time. Then go to the claimant's to-do list, open ‘Attend your Habitual Residency Interview’ to-do, select ‘attended’ and save.</li>

        {%- if isPartnerFlow %}
        <li>Open the partner’s ‘verify claimant identity’ to-do.</li>
        <li>In the agent notes box, write: ‘This person is the partner of a fast-tracked HRT claimant and they must also be fast-tracked.’</li>
        {% endif -%}

        <li>Remind the person claiming to check their Universal Credit account for a decision.</li>
        
      </ol>

    </div>
  </div>
</main>
{% endblock %}

