{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">You should be able to apply for benefits in the UK</h1>
      </div>

      <p>You have the right to apply for benefits in the UK as long as you remain a refugee.</p>

      <h2 class="heading-medium">What to do next</h2>

      <div class="panel panel-border-wide">
        <p>Go to the jobcentre on the date of your habitual residency interview and bring the following items with you:</p>

        <ul class="list list-bullet">
          <li>passport or other proof of your identity</li>
          <li>your letter from the UK Home Office that says you’re a refugee</li>
        </ul>
      </div>

      {% include "includes/whattodonext.html" %}

    </div>
  </div>
</main>
{% endblock %}
