{% extends "layout.html" %}

{% block page_title %}
  Refugee
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/phase_banner_alpha.html" %}
  {% include "includes/backlink_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        You can't apply for benefits in the UK
      </h1>

      <p>Based on the answers you gave it doesn't look like you're eligible to apply for benefits in the UK.</p>

      <h2 class="heading-medium">What to do next</h2>
      <p>If you need more information on your options make an appointment at your local jobcentre. They may be able to help you find work in the UK.</p>

    </div>
  </div>
</main>
{% endblock %}
