{% set page = {
	hide: {
		globalnav: true
	}
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}
	
	<div class="c-focal-pane">
		
		<h1 class="heading-large">Change your password</h1>
	  
	  <form action="login" method="post">
	    
	  	<div class="form-group">
	  	  <label class="form-label" for="password">Current password</label>
	  	  <input class="form-control form-control-1-1" id="password" name="password" type="password" autocomplete="off">
	  	</div>
			
	  	<div class="form-group">
	  	  <label class="form-label" for="password">New password</label>
	  	  <input class="form-control form-control-1-1" id="password" name="password" type="password" autocomplete="off">
	  	</div>
			
	  	<div class="form-group">
	  	  <label class="form-label" for="password">Confirm new password</label>
	  	  <input class="form-control form-control-1-1" id="password" name="password" type="password" autocomplete="off">
	  	</div>

	    <fieldset class="primary-nav form-group">
	      <legend class="visuallyhidden">Form Navigation</legend>
	      <input type="submit" value="Change password" class="button" id="submitButton" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
	    </fieldset>

	  </form>
		
	</div>
	
{% endblock %}