{% set page = {
	section: 'Work list'
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

	<h1 class="heading-large">Your work list</h1>
	<p>Select a case to work on.</p>

	{{ appMacro.pagination() }}

	<table class="data-table">
		<thead>
			<tr>
				<th scope="col">Case<br>created</th>
				<th scope="col">Case No</th>
				<th scope="col">Last name</th>
				<th scope="col">First name</th>
				<th scope="col">Offence<br>type</th>
				<th scope="col">Stage</th>
				<th scope="col">Activity</th>
				<th scope="col">Due date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">167926789</a>
				</td>
			<td>Farrowash<br>
				<td>Jason</td>
				<td>Work in receipt</td>
				<td>New</td>
				<td>Book appoinment</td>
				<td>15 Nov 2016</td>
			</tr>
			<tr>
				<td>1 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">129350328</a>
				</td>
				<td>Steelcreek</td>
				<td>David</td>
				<td>Living together</td>
				<td>Int. under caution</td>
				<td>Suspended</td>
				<td>15 Nov 2016</td>
			</tr>
			<tr>
				<td>1 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">122560023</a>
				</td>
				<td>Dusttrap</td>
				<td>Ross</td>
				<td>Capital</td>
				<td>Info gathering</td>
				<td>Obtain bank state.</td>
				<td>15 Nov 2016</td>
			</tr>
			<tr>
				<td>2 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">999871112</a>
				</td>
				<td>Whitfist</td>
				<td>Matthew</td>
				<td>Capital</td>
				<td>Info gathering</td>
				<td>Suspended</td>
				<td>16 Nov 2016</td>
			</tr>
			<tr>
				<td>2 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">445771235</a>
				</td>
				<td>Doomglory</td>
				<td>Liza</td>
				<td>Capital</td>
				<td>New</td>
				<td>Suspended</td>
				<td>16 Nov 2016</td>
			</tr>
			<tr>
				<td>3 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">938471190</a>
				</td>
				<td>Bronzejumper</td>
				<td>Laurence</td>
				<td>Capital</td>
				<td>Info gathering</td>
				<td>Book appoinment</td>
				<td>17 Nov 2016</td>
			</tr>
			<tr>
				<td>3 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">090933585</a>
				</td>
				<td>Forestvale</td>
				<td>Steven</td>
				<td>Living together</td>
				<td>Info gathering</td>
				<td>Obtain bank state.</td>
				<td>17 Nov 2016</td>
			</tr>
			<tr>
				<td>3 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">11225977</a>
				</td>
				<td>Grizzlypike</td>
				<td>Peter</td>
				<td>Work in receipt</td>
				<td>Int. under caution</td>
				<td>Book appoinment</td>
				<td>17 Nov 2016</td>
			</tr>
			<tr>
				<td>3 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">444294872</a>
				</td>
				<td>Dawnheart</td>
				<td>Brian</td>
				<td>Capital</td>
				<td>Info gathering</td>
				<td>Suspended</td>
				<td>17 Oct 2016</td>
			</tr>
			<tr>
				<td>3 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">444429155</a>
				</td>
				<td>Bronzestrike</td>
				<td>Andrew</td>
				<td>Capital</td>
				<td>Info gathering</td>
				<td>Suspended</td>
				<td>17 Nov 2016</td>
			</tr>
			<tr>
				<td>4 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">111092210</a>
				</td>
				<td>Blueglow</td>
				<td>Madeline</td>
				<td>Work in receipt</td>
				<td>Info gathering</td>
				<td>Suspended</td>
				<td>18 Nov 2016</td>
			</tr>
			<tr>
				<td>4 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">222009287</a>
				</td>
				<td>Fistroar</td>
				<td>David</td>
				<td>Living together</td>
				<td>Info gathering</td>
				<td>Book appoinment</td>
				<td>18 Nov 2016</td>
			</tr>
			<tr>
				<td>4 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">444000926</a>
				</td>
				<td>Clearhorn</td>
				<td>Maureen</td>
				<td>Capital</td>
				<td>Info gathering</td>
				<td>Obtain bank state.</td>
				<td>18 Nov 2016</td>
			</tr>
			<tr>
				<td>4 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">111552999</a>
				</td>
				<td>Cliffbelly</td>
				<td>Nancy</td>
				<td>Work in receipt</td>
				<td>Info gathering</td>
				<td>Obtain bank state.</td>
				<td>18 Nov 2016</td>
			</tr>
			<tr>
				<td>4 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">666092669</a>
				</td>
				<td>Fullrock</td>
				<td>Sean</td>
				<td>Capital</td>
				<td>Info gathering</td>
				<td>Suspended</td>
				<td>18 Nov 2016</td>
			</tr>

			<tr>
				<td>4 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">222003335</a>
				</td>
				<td>Truthash</td>
				<td>Gary</td>
				<td>Capital</td>
				<td>Info gathering</td>
				<td>Suspended</td>
				<td>18 Nov 2016</td>
			</tr>
			<tr>
				<td>5 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">320494678</a>
				</td>
				<td>Frozenwatcher</td>
				<td>Edward</td>
				<td>Capital</td>
				<td>Info gathering</td>
				<td>Book appoinment</td>
				<td>19 Nov 2016</td>
			</tr>
			<tr>
				<td>5 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">888325987</a>
				</td>
				<td>Softfang</td>
				<td>Pamela</td>
				<td>Capital</td>
				<td>Info gathering</td>
				<td>Suspended</td>
				<td>19 Nov 2016</td>
			</tr>
			<tr>
				<td>5 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">333493435</a>
				</td>
				<td>Whitesnarl</td>
				<td>Jon</td>
				<td>Capital</td>
				<td>Info gathering</td>
				<td>Suspended</td>
				<td>19 Nov 2016</td>
			</tr>
			<tr>
				<td>6 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">225455676</a>
				</td>
				<td>Terrawound</td>
				<td>David</td>
				<td>Living together</td>
				<td>Info gathering</td>
				<td>Suspended</td>
				<td>20 Nov 2016</td>
			</tr>

			<tr>
				<td>6 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">888856563</a>
				</td>
				<td>Bearbash</td>
				<td>Sharman</td>
				<td>Work in receipt</td>
				<td>Info gathering</td>
				<td>Book appoinment</td>
				<td>20 Nov 2016</td>
			</tr>
			<tr>
				<td>6 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">214353534</a>
				</td>
				<td>Lie</td>
				<td>Lei</td>
				<td>Capital</td>
				<td>Int. under caution</td>
				<td>Suspended</td>
				<td>20 Nov 2016</td>
			</tr>
			<tr>
				<td>6 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">667090888</a>
				</td>
				<td>Silentcrag</td>
				<td>Mark</td>
				<td>Capital</td>
				<td>Info gathering</td>
				<td>Obtain bank state.</td>
				<td>20 Nov 2016</td>
			</tr>
			<tr>
				<td>7 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">345678731</a>
				</td>
				<td>Downrun</td>
				<td>Fred</td>
				<td>Work in receipt</td>
				<td>New</td>
				<td>Preview</td>
				<td>21 Nov 2016</td>
			</tr>
			<tr>
				<td>7 Nov 2016</td>
				<td>
					<a href="{{ currentApp.urlPaths.root + 'case/' | d('#case') }}" title="Open case">354567671</a>
				</td>
				<td>Crowash</td>
				<td>Carol</td>
				<td>Living together</td>
				<td>New</td>
				<td>Preview</td>
				<td>21 Nov 2016</td>
			</tr>
		</tbody>
	</table>

	{{ appMacro.pagination() }}

{% endblock %}