{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  {% set attributes = '' if currentApp.isPartnerFlow else ' class="inline"' %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          Is ‘family member’ written on {{ 'their partner’s' if currentApp.isPartnerFlow else 'their' }} visa?
        </h1>

        {%- if not currentApp.isPartnerFlow %}
        <p class="form-hint">Check their biometric residence permit (BRP), residence card or the visa page on their passport.</p>
        {% endif -%}

        <div class="form-group">
          <fieldset role="radiogroup" aria-required="true"{{ attributes | safe }}>
            <legend>
              <span class="visuallyhidden">Is ‘family member’ written on {{ 'their partner’s' if currentApp.isPartnerFlow else 'their' }} visa?</span>
            </legend>

            <label for="family-member-yes" class="block-label selection-button-radio">
              <input type="radio" name="familyMember" value="yes" id="family-member-yes">
              Yes
            </label>

            <label for="family-member-no" class="block-label selection-button-radio">
              <input type="radio" name="familyMember" value="no" id="family-member-no">
              No
            </label>

            {% if isPartnerFlow %}
            <label for="family-member-unknown" class="block-label selection-button-radio">
              <input type="radio" name="familyMember" value="unknown" id="family-member-unknown">
              Don’t know
            </label>
            {% endif %}
          </fieldset>
        </div>

        <div class="form-group">
          <button type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
