{% extends "layouts/subappindex.html" %}

{% block description %}

<h3 class="heading-medium">Overview</h3>

<p class="lede">In this version we're attempting to prototype a simpler outcome page for EEA claimants. If the claimant doesn't have the relevant documents with them the journey now includes prompts to book further evidence interviews.</p>

<ul class="list list-bullet">
	<li><a href="https://jira.dwp.gov.uk/browse/PYCA-534">Jira Ticket with full details (PYCA-534)</a></li>
</ul>

{% endblock %}
