{% set page = {
	title: "END018"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

			{% include currentApp.filePaths.includesDir + "header.html" %}

			<!--<h2 class="heading-medium">Evidence to collect</h2>
			<ul class="list list-bullet pyca-list">
				<li>Biometric residence permit card</li>
			</ul>-->

			<!--<h2 class="heading-medium">What to do next</h1>-->
			<h2 class="heading-medium">Clear the PYCA to-do</h2>
			<ul class="list list-number pyca-list">
				<li>For the question "Is a HRT interview required", select NO.</li>
				<li>Click done to complete the to-do.</li>
			</ul>
			<h2 class="heading-medium">Clear the Refer to Decision Maker to-do</h2>
			<div class="notice">
				<i class="icon icon-information">
					<span class="visually-hidden">For information</span>
				</i>
				<strong class="bold">
					You'll need the biometric residence permit card for this.
				</strong>
			</div>
			<ul class="list list-number pyca-list" style="padding-top:20px;">
				<li>Download the ALP.</li>
				<li>Fill in section 2.</li>
				<li>Upload the ALP.</li>
				<li>For the question "Is this a Fast-Track HRT referral case", select YES.</li>
				<li> Click done to complete the to-do.</li>
			</ul>
			<h2 class="heading-medium">Clear the Make a decision (HRT Fast-Track) to-do</h2>
			<ul class="list list-number pyca-list">
				<li>For the question "Is claimant entitled?", select YES.</li>
				<li>In the decision notes type "Refugee with a valid Biometric Residence Permit card".</li>
				<li>Click done to complete the to-do.</li>
			</ul>
			<h2 class="heading-medium">Create a review and refer to decision maker (HRT)</h2>
			<ul class="list list-number pyca-list">
				<li>Create an agent to-do.</li>
				<li>Select 'Review and refer to Decision Maker (HRT)' template.</li>
				<li>Input the date due (the date due is the valid until date written on the Biometric Residence Permit).</li>
				<li>Select create to-do.</li>
				<li>In the agent notes type 'BRP expired, review HRT required'.</li>
				<li>Save notes.</li>
				<li>Do NOT close this to-do.</li>
			</ul>
			<h2 class="heading-medium">Add a note to the claimant journal</h2>
			<ul class="list list-number pyca-list">
				<li>Type 'HRT passed' in the claimant journal.</li>
			</ul>
	  </div>
	</div>

{% endblock %}
