{% set page = {
	title: "END018"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

			{% include currentApp.filePaths.includesDir + "header.html" %}

			<h2 class="heading-medium">Evidence to collect</h2>
			<ul class="list list-bullet pyca-list">
				<li>Biometric residence permit card</li>
			</ul>

			<h2 class="heading-medium">Clear the Prove You Can Apply to-do</h2>
			<ul class="list list-number pyca-list">
				<li>For the question "Is a HRT interview required", select 'No'.</li>
				<li>Click 'Done''</li>
			</ul>
			<h2 class="heading-medium">Clear the Refer to Decision Maker to-do</h2>
			<ul class="list list-number pyca-list" style="padding-top:20px;">
				<li>Download the ALP.</li>
				<li>Complete the appropriate section in the ALP using the necessary evidence</li>
				<li>Upload the ALP</li>
				<li>For the question 'Is the claimant a refugee?' select 'Yes'.</li>
				<li>For the question 'Have you seen a Biometric Residence Permit (BRP) for the claimant', select 'Yes'.</li>
				<li>Input the expiry date of the Biometric Residence Permit (BRP)</li>
				<li>Click 'done'.</li>
			</ul>
	  </div>
	</div>

{% endblock %}
