{% set page = {
	title: "Marriage certificate"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form method="post" class="form">

        <h1 class="heading-large">
          Can the claimant provide these documents today?
        </h1>

        <strong class="bold-small">One of the following options:</strong>

        <ul class="list list-bullet">
        <li>Passport</li>
        <li>ID Card</li>
        </ul>

        <strong class="bold-small">Along with one of the below:</strong>

        <ul class="list list-bullet">
        <li>3 months of bank statements</li>
        <li>3 months of accounts</li>
        <li>3 months of receipts or services</li>
        <li>3 months of record of income and expenses</li>
        <li>Tax return for the last year</li>
        <li>Letter from HMRC</li>
        </ul>

        <form>
          <div class="form-group">
            <fieldset class="inline">

              <legend class="visually-hidden">Can the claimant provide these documents today?</legend>

              <div class="multiple-choice">
                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                <label for="radio-inline-1">Yes</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                <label for="radio-inline-2">No</label>
              </div>

            </fieldset>
          </div>
        </form>


      <div class="form-group">
        <button type="submit" class="button">Continue</button>
        </div>
      

    </div>
  </div>

{% endblock %}
