{% set page = { title: "Looking for work" } %} {% extends currentApp.filePaths.layoutsDir + "default.html" %} {% set attributes = '' if currentApp.isPartnerFlow else ' class="inline"' %} {% block main_content %}

<div class="grid-row">
  <div class="column-two-thirds">

    <form method="post" class="form">

      <h1 class="heading-large">
          Was this person actively looking for work in this time?
        </h1>

      <div class="form-group">
        <fieldset role="radiogroup" aria-required="true" {{ attributes | safe }}>

          <legend>
            <span class="visuallyhidden">Was this person actively looking for work in this time?</span>
          </legend>

          {{ form.radio({ name: 'lookingforwork', label: 'Yes' }) }} { { form.radio({ name: 'lookingforwork', label: 'no' }) }} {% endif %}

        </fieldset>
      </div>

      <div class="form-group">
        <button type="submit" class="button">Continue</button>
      </div>

    </form>

  </div>
</div>

{% endblock %}
