{% set page = {
	title: "Employee status &ndash; self employed"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

<div class="grid-row">
	<div class="column-two-thirds">

		<form method="post" class="form">

			<h1 class="heading-large">
				What is their monthly average earnings?
			</h1>

			<div class="form-group">
				<fieldset role="radiogroup" aria-required="true">

					<legend>
						<span class="visuallyhidden">What is their monthly average earnings?</span>
					</legend>

					{{
						form.radio({
							name: 'monthlyAverageEarnings',
							label: "Less than £600",
                            value: "Less than £600"
						})
					}}

					{{
						form.radio({
							name: 'monthlyAverageEarnings',
							label: "More than £600",
							value: 'More than £600'
						})
					}}

				</fieldset>
			</div>

			<div class="form-group">
				<button type="submit" class="button">Continue</button>
			</div>

		</form>

	</div>
</div>

{% endblock %}﻿
