{% set page = {
	title: "END004"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include currentApp.filePaths.includesDir + "header.html" %}

      <h2 class="heading-medium">Evidence to collect</h2>
      <ul class="list list-bullet">
        <li>passport – number, nationality, date of issue, expiry date and visa status</li>
        <li>BRP or residence card – issue date, unique permit number on the right corner of the card, type of permit and other details at the back of the card</li>
      </ul>
		{% include currentApp.filePaths.includesDir + "footer.html" %}
    </div>
  </div>

{% endblock %}
