{% set page = {
	title: "END006"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds outcome">

			{% include currentApp.filePaths.includesDir + "header.html" %}

      <h2 class="heading-medium">Evidence to collect</h2>
      <ul class="list list-bullet">
        <li>passport – number, nationality, date of issue and expiry date</li>
        <li>bank account statement or simple cash book covering at least 3 months</li>
      </ul>

     <h3 class="heading-medium">If they haven't brought all the evidence</h3>
      <ul class="list list-bullet">
        <li>book further evidence interview and in the 'description' field, enter 'Create prove you can apply to-do'.</li>
        <li>tell them to bring all the evidence to the interview</li>
        <li>click ‘done’ to complete the ‘prove you can apply’ to-do.</li>
      </ul>

		{% include currentApp.filePaths.includesDir + "footer.html" %}

    </div>
  </div>

{% endblock %}
