{% set page = {
  title: "END016"
} %}

{% extends currentApp.filePaths.layoutsDir + "default.html" %}

{% block main_content %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Book a further evidence interview</h1>
      <p>Tell the person to bring their:</p>
      <ul class="list list-bullet">
        <li>biometric residence permit</li>
        <li>marriage certificate</li>
      </ul>

      <p>Complete as much of the ALP as you can.</p>

      <div class="panel panel-border-narrow">
        <p>
          Don't complete the 'Refer to DM HRT To-Do'.
        </p>
      </div>

      <br/>

      <p><a class="button button-print-reminder" href="print-reminder?claimant" role="button">Print a reminder</a></p>

    </div>

  </div>

{% endblock %}