{% extends "../question.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post">

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "type-of-redundancy",
        name: type + "[typeOfRedundancy]",
        fieldset: {
          legend: {
            text: "What type of redundancy did this person take?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "compulsory",
            text: "Compulsory",
            checked: checked("['" + type + "'].typeOfRedundancy", "compulsory")
          },
          {
            value: "voluntary",
            text: "Voluntary",
            checked: checked("['" + type + "'].typeOfRedundancy", "voluntary")
          },
          {
            value: "no",
            text: "Not Known",
            checked: checked("['" + type + "'].typeOfRedundancy", "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
