{% extends "layouts/subappindex.html" %}

{% block description %}

<h3 class="heading-medium">Overview</h3>

<p class="lede">
	In this version we've added a set of questions and instructions to guide the user through a further interview page.
</p>
<!-- <p class="lede">In this version we've added a question to check the nationality of a British passport holder. With this we will only fast track British passport holders if they're a British citizen.</p> -->

<ul class="list list-bullet">
	<li><a href="https://jira.dwp.gov.uk/browse/PYCA-566">Jira Ticket with full details (PYCA-566)</a></li>
</ul>

{% endblock %}
