@import 'colours';
@import 'conditionals';

select.autocompleter {

  .js-enabled & {
    display: none;
  }
}

.twitter-typeahead {
  width: 100%;
}

.tt-menu {
  width: 100%;
  width: calc(100% - 4px);
  max-height: 342px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 2px solid $grey-1;
}

.tt-hint {
  color: $border-colour;
}

.tt-suggestion {
  position: relative;
  display: block;
  margin-bottom: -2px;
  padding: 8px;

  border: solid $border-colour;
  border-width: 2px 0;
  @include bold-19;
  color: $text-colour;
  cursor: pointer;

  &:first-of-type {
    border-top-width: 0;
  }

  &:hover,
  &.tt-cursor {
    z-index: 1;
    background-color: $link-active-colour;
    border-color: $link-active-colour;
    color: white;
  }
}

.tt-highlight {
  font-weight: 700;
}

@media (min-width: 641px) {

  .tt-menu {
    width: 50%;
    width: calc(50% - 4px);
  }
}
