{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Prove you can apply for benefits in the UK</h1>

      <p>
        You need to prove you're allowed to live in the UK and have the right to apply for benefits here.
      </p>

      <p>
        You'll need to prepare some evidence and take it to a face to face meeting at a jobcentre.
      </p>

      <h2 class="heading-medium">What you need to bring</h2>
			<ol class="list list-number">
				<li>your Visa - it must be stamped 'recourse to public funds'</li>
				<li>your passport or nationaly identity card</li>
				<li>a signed rental agreement for where you live</li>
				<li>a utility bill from the last 2 months</li>
			</ol>
      <p>
        Once you've gathered the evidence together call 0800 0900 1800 to book a face to face meeting at your local jobcentre. On the day you'll have to bring original copies of your evidence with you. It will be photocopied and handed back to you.
      </p>

    </div>
  </div>
</main>

{% endblock %}


