{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Under 18
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="form-title heading-large" id="thirdparty">
    Are you going to tell the truth in this application?
  </h1>

  <form action="EEA" method="get" class="form" id="theForm">

    <input type="hidden" name="page_name" value="start"/>

    <!-- YOUR CONDITION -->
        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">Are you going to tell the truth in this application?</legend>

            <label class="block-label" for="honestJohn" data-target="honestJohn_example">
              <input type="radio" name="liarTom" value="honesty" id="honestJohn">
              Yes
            </label>

            <label class="block-label" for="liarTom" data-target="liarTom_example">
              <input type="radio" name="liarTom" value="honesty" id="liarTom">
              No
            </label>

            <div class="panel panel-border-narrow js-hidden" id="honestJohn_example">
              <p>We'd rather you were honest. But we assume everyone's lying in the face to face assessment anyway so it's not really a problem.</p>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="liarTom_example">
              <p>Thanks. But we'll still assume you're lying in the face to face assessment anyway so it doesn't really matter.</p>
            </div>

          </fieldset>
        </div>

    <fieldset class="primary-nav form-group">
      <input type="submit" value="Continue" class="button" id="submitButton"/>
    </fieldset>

  </form>

    </div>



  </div>
</main>
{% endblock %}
