{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK prototype kit
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {{ govukHeader() }}
  <div class="homepage-top">
    <div class="homepage-top-content">
      <h1 class="govuk-heading-xl">
        {{serviceName}}
        <span>Prototypes</span>
      </h1>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {# Start of most recent box #}
    <div class="most-recent">

      {# Start of prototype write up #}
      <div class="prototype-write-up">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Date of release</dt>
              <dd class="govuk-body">21 March 2018</dd>
            </dl>
          </div>

          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Feature</dt>
              <dd class="govuk-body">UK nationals not been out of the country in the last 6 months (trial)</dd>
            </dl>
          </div>

          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Related stories</dt>
              <dd class="govuk-body">JIRA-745</dd>
            </dl>
          </div>
        </div>

        <h3 class="govuk-heading-s">Changes</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec aliquam mi, at faucibus neque.
        </p>

        <h3 class="govuk-heading-s">Hypothesis</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec aliquam mi, at faucibus neque. Pellentesque finibus, neque quis efficitur pellentesque, lacus turpis mollis dui, ut fermentum metus eros a metus.
        </p>

        <h3 class="govuk-heading-s">Research notes</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>

        {{ govukButton({
          text: "View prototype",
          href: "/prototype",
          classes: "govuk-button--start"
        }) }}
      </div>
      {# End of prototype write up #}

    </div>
    {# End of most recent box #}

    <h2 class="govuk-heading-l">All versions</h2>
    {# Start of hidden panel #}
    <details class="govuk-details all-versions">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Show all versions
        </span>
      </summary>
      <div class="govuk-details__text">

        {# Start of prototype write up #}
        <div class="prototype-write-up">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date of release</dt>
                <dd class="govuk-body">TBC</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Feature</dt>
                <dd class="govuk-body">Quick wins</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Related stories</dt>
                <dd class="govuk-body">PYCA-873/859</dd>
              </dl>
            </div>
          </div>

          <h3 class="govuk-heading-s">Changes</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec aliquam mi, at faucibus neque.
          </p>

          <h3 class="govuk-heading-s">Hypothesis</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec aliquam mi, at faucibus neque. Pellentesque finibus, neque quis efficitur pellentesque, lacus turpis mollis dui, ut fermentum metus eros a metus.
          </p>

          <h3 class="govuk-heading-s">Research notes</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>

          {{ govukButton({
            text: "View prototype",
            href: "/PYCA-823",
            classes: "govuk-button--start"
          }) }}
        </div>
        {# End of prototype write up #}


        {# Start of prototype write up #}
        <div class="prototype-write-up">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date of release</dt>
                <dd class="govuk-body">TBC</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Feature</dt>
                <dd class="govuk-body">Move non-EEA with No Recourse to Public Funds to a WC decision</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Related stories</dt>
                <dd class="govuk-body">JIRA-925</dd>
              </dl>
            </div>
          </div>

          <h3 class="govuk-heading-s">Changes</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec aliquam mi, at faucibus neque.
          </p>

          <h3 class="govuk-heading-s">Hypothesis</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec aliquam mi, at faucibus neque. Pellentesque finibus, neque quis efficitur pellentesque, lacus turpis mollis dui, ut fermentum metus eros a metus.
          </p>

          <h3 class="govuk-heading-s">Research notes</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>

          {{ govukButton({
            text: "View prototype",
            href: "/PYCA-925",
            classes: "govuk-button--start"
          }) }}
        </div>
        {# End of prototype write up #}

      </div>
    </details>
    {# End of hidden panel #}


  </div>
</div>

{% endblock %}
