{% extends "layout.html" %}

{% block pageTitle -%}
  {{ serviceName }}
{%- endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: "/"
  }) }}
  <div class="homepage-top">
    <div class="homepage-top-content">
      <h1 class="govuk-heading-xl">
        {{serviceName}}
        <span>Prototypes</span>
      </h1>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {# Start of most recent box #}
    <div class="most-recent">

      {# Start of prototype write up #}
      <div class="prototype-write-up">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Date of release</dt>
              <dd class="govuk-body">TBC</dd>
            </dl>
          </div>

          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Feature</dt>
              <dd class="govuk-body">Multiple “out of UK” questions are confusing work coaches</dd>
            </dl>
          </div>

          <div class="govuk-grid-column-one-third">
            <dl>
              <dt class="govuk-heading-s">Related stories</dt>
              <dd class="govuk-body">
                PYCA-1061<br>
                PYCA-1063<br>
                PYCA-1074<br>
                PYCA-1114
              </dd>
            </dl>
          </div>
        </div>

        <h3 class="govuk-heading-s">Changes</h3>
        <p>Includes the following tickets:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>PYCA-1061: Multiple “out of UK” questions are confusing work coaches</li>
          <li>PYCA-1063: Amended outcome pages to match revised ALP</li>
          <li>PYCA-1074: Add new variant for “You can now record the decision” outcome</li>
          <li>PYCA-1114: Update content in END015 to match updated claimant todo</li>
        </ul>

        <h3 class="govuk-heading-s">Hypothesis</h3>
        <p>We think work coaches read the “2 years out of the UK” question the same as the “4 weeks in the last 2 years” question, picking the wrong answer.</p>

        <h3 class="govuk-heading-s">Research notes</h3>
        <p>Three work coaches in Rusholme all read the new question wrong. One work coach corrected themselves after a pause.</p>

        {{ govukButton({
          text: "View prototype",
          href: "/PYCA-1061",
          classes: "govuk-button--start"
        }) }}
      </div>
      {# End of prototype write up #}

    </div>
    {# End of most recent box #}

    <h2 class="govuk-heading-l">All versions</h2>

    {# Start of hidden panel #}
    <details class="govuk-details all-versions">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Show all versions
        </span>
      </summary>
      <div class="govuk-details__text">

        {# Start of prototype write up #}
        <div class="prototype-write-up">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date of release</dt>
                <dd class="govuk-body">TBC</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Feature</dt>
                <dd class="govuk-body">Non-EEA with ‘Refugee’ card</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Related stories</dt>
                <dd class="govuk-body">PYCA-972</dd>
              </dl>
            </div>
          </div>

          <h3 class="govuk-heading-s">Changes</h3>
          <p>Moves refugees into the non-EEA journey.</p>

          <h3 class="govuk-heading-s">Hypothesis</h3>
          <p>None.</p>

          <h3 class="govuk-heading-s">Research notes</h3>
          <p>Some users have fed back that the question “Are you a refugee?” seems to comes out of the blue after the first question we ask someone.</p>

          {{ govukButton({
            text: "View prototype",
            href: "/PYCA-972",
            classes: "govuk-button--start"
          }) }}
        </div>
        {# End of prototype write up #}

        {# Start of prototype write up #}
        <div class="prototype-write-up">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date of release</dt>
                <dd class="govuk-body">TBC</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Feature</dt>
                <dd class="govuk-body">Non-EEA with ‘Permanent Residence’</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Related stories</dt>
                <dd class="govuk-body">PYCA-1101</dd>
              </dl>
            </div>
          </div>

          <h3 class="govuk-heading-s">Changes</h3>
          <p>Allow non-EEA with ‘Permanent Residence’ to be fast-tracked (END009) rather than going to HRT interview (END003).</p>
          <p>Also includes new “5 years” statistics gathering question from PYCA-1002.</p>

          <h3 class="govuk-heading-s">Hypothesis</h3>
          <p>None.</p>

          <h3 class="govuk-heading-s">Research notes</h3>
          <p>Home Office have confirmed confusion between Regulation 10 and Regulation 15.</p>

          {{ govukButton({
            text: "View prototype",
            href: "/PYCA-1101",
            classes: "govuk-button--start"
          }) }}
        </div>
        {# End of prototype write up #}

        {# Start of prototype write up #}
        <div class="prototype-write-up">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date of release</dt>
                <dd class="govuk-body">5 December 2018</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Feature</dt>
                <dd class="govuk-body">Check whether the BRP card has expired</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Related stories</dt>
                <dd class="govuk-body">PYCA-1120</dd>
              </dl>
            </div>
          </div>

          <h3 class="govuk-heading-s">Changes</h3>
          <p>Add new “Has the card expired?” question for those with cards.</p>

          <h3 class="govuk-heading-s">Hypothesis</h3>
          <p>None.</p>

          <h3 class="govuk-heading-s">Research notes</h3>
          <p>None.</p>

          {{ govukButton({
            text: "View prototype",
            href: "/PYCA-1120",
            classes: "govuk-button--start"
          }) }}
        </div>
        {# End of prototype write up #}

        {# Start of prototype write up #}
        <div class="prototype-write-up">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date of release</dt>
                <dd class="govuk-body">28 November 2018</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Feature</dt>
                <dd class="govuk-body">Living in UK statistics question</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Related stories</dt>
                <dd class="govuk-body">PYCA-1002</dd>
              </dl>
            </div>
          </div>

          <h3 class="govuk-heading-s">Changes</h3>
          <p>Add new EEA “5 years” living in the UK statistics gathering question.</p>

          <h3 class="govuk-heading-s">Hypothesis</h3>
          <p>None.</p>

          <h3 class="govuk-heading-s">Research notes</h3>
          <p>None.</p>

          {{ govukButton({
            text: "View prototype",
            href: "/PYCA-1002",
            classes: "govuk-button--start"
          }) }}
        </div>
        {# End of prototype write up #}

        {# Start of prototype write up #}
        <div class="prototype-write-up">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date of release</dt>
                <dd class="govuk-body">TBC</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Feature</dt>
                <dd class="govuk-body">Outcome page changes</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Related stories</dt>
                <dd class="govuk-body">
                  PYCA-1006<br>
                  PYCA-1079
                </dd>
              </dl>
            </div>
          </div>

          <h3 class="govuk-heading-s">Changes</h3>
          <p>Amend outcome pages for 31st October ALP release (claimant status, evidence changes and consolidation of END009/END007).</p>

          <h3 class="govuk-heading-s">Hypothesis</h3>
          <p>None.</p>

          <h3 class="govuk-heading-s">Research notes</h3>
          <p>None.</p>

          {{ govukButton({
            text: "View prototype",
            href: "/PYCA-1006",
            classes: "govuk-button--start"
          }) }}
        </div>
        {# End of prototype write up #}

        {# Start of prototype write up #}
        <div class="prototype-write-up">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date of release</dt>
                <dd class="govuk-body">TBC</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Feature</dt>
                <dd class="govuk-body">Remove “out of UK” question</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Related stories</dt>
                <dd class="govuk-body">PYCA-1061b</dd>
              </dl>
            </div>
          </div>

          <h3 class="govuk-heading-s">Changes</h3>
          <p>Temporarily skip confusing non-EEA “out of the UK for more than 2 years at a time” question for next release.</p>

          <h3 class="govuk-heading-s">Hypothesis</h3>
          <p>None.</p>

          <h3 class="govuk-heading-s">Research notes</h3>
          <p>None.</p>

          {{ govukButton({
            text: "View prototype",
            href: "/PYCA-1061b",
            classes: "govuk-button--start"
          }) }}
        </div>
        {# End of prototype write up #}

        {# Start of prototype write up #}
        <div class="prototype-write-up">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date of release</dt>
                <dd class="govuk-body">TBC</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Feature</dt>
                <dd class="govuk-body">Quick wins (without work coach decisions)</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Related stories</dt>
                <dd class="govuk-body">
                  PYCA-859<br>
                  PYCA-873<br>
                  PYCA-968<br>
                  PYCA-969<br>
                  PYCA-970<br>
                  PYCA-1047<br>
                  PYCA-1051
                </dd>
              </dl>
            </div>
          </div>

          <h3 class="govuk-heading-s">Changes</h3>
          <p>For each quick win change:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>PYCA-859: Add new return to UK date check branching</li>
            <li>PYCA-873: Add new biometric residence type check and outcome</li>
            <li>PYCA-968: New question for Habitual Residency element</li>
            <li>PYCA-970: Outcome page updates for Universal Credit changes</li>
            <li>PYCA-1047: Residence status must be permanent for fast-track</li>
            <li>PYCA-1051: Quick wins release (without work coach decisions)</li>
          </ul>

          <p>Including additional changes from PYCA-969 following a content review.</p>

          <h3 class="govuk-heading-s">Hypothesis</h3>
          <p>We’ve identified various “quick wins” to improve the journey. Including additional clarifying questions to avoid an incorrect fast-track or to let work coaches make decisions themselves.</p>

          <h3 class="govuk-heading-s">Research notes</h3>
          <p>None.</p>

          {{ govukButton({
            text: "View prototype",
            href: "/PYCA-1051",
            classes: "govuk-button--start"
          }) }}
        </div>
        {# End of prototype write up #}

        {# Start of prototype write up #}
        <div class="prototype-write-up">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date of release</dt>
                <dd class="govuk-body">TBC</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Feature</dt>
                <dd class="govuk-body">Quick wins</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Related stories</dt>
                <dd class="govuk-body">
                  PYCA-859<br>
                  PYCA-873<br>
                  PYCA-968<br>
                  PYCA-969<br>
                  PYCA-970<br>
                  PYCA-1047
                </dd>
              </dl>
            </div>
          </div>

          <h3 class="govuk-heading-s">Changes</h3>
          <p>For each quick win change:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>PYCA-859: Add new return to UK date check branching</li>
            <li>PYCA-873: Add new biometric residence type check and outcome</li>
            <li>PYCA-968: New question for Habitual Residency element</li>
            <li>PYCA-970: Outcome page updates for Universal Credit changes</li>
            <li>PYCA-1047: Non-EEA Permanent residence status must get full HRT</li>
          </ul>

          <p>Including additional changes from PYCA-969 following a content review.</p>

          <h3 class="govuk-heading-s">Hypothesis</h3>
          <p>We’ve identified various “quick wins” to improve the journey. Including additional clarifying questions to avoid an incorrect fast-track or to let work coaches make decisions themselves.</p>

          <h3 class="govuk-heading-s">Research notes</h3>
          <p>None.</p>

          {{ govukButton({
            text: "View prototype",
            href: "/PYCA-873",
            classes: "govuk-button--start"
          }) }}
        </div>
        {# End of prototype write up #}

        {# Start of prototype write up #}
        <div class="prototype-write-up">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date of release</dt>
                <dd class="govuk-body">19 September 2018</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Feature</dt>
                <dd class="govuk-body">Update EEA employee status flow</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Related stories</dt>
                <dd class="govuk-body">PYCA-955</dd>
              </dl>
            </div>
          </div>

          <h3 class="govuk-heading-s">Changes</h3>
          <p>Add an additional question to require evidence of employment to fast-track EEA employees (or for previous employment due to illness or redundancy).</p>

          <h3 class="govuk-heading-s">Hypothesis</h3>
          <p>None.</p>

          <h3 class="govuk-heading-s">Research notes</h3>
          <p>Work coaches don’t know whether they can fast track an EEA national who has been working for less than 3 months.</p>

          {{ govukButton({
            text: "View prototype",
            href: "/prototype",
            classes: "govuk-button--start"
          }) }}
        </div>
        {# End of prototype write up #}

        {# Start of prototype write up #}
        <div class="prototype-write-up">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Date of release</dt>
                <dd class="govuk-body">5 September 2018</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Feature</dt>
                <dd class="govuk-body">Treaty changes require full HRT</dd>
              </dl>
            </div>

            <div class="govuk-grid-column-one-third">
              <dl>
                <dt class="govuk-heading-s">Related stories</dt>
                <dd class="govuk-body">PYCA-924</dd>
              </dl>
            </div>
          </div>

          <h3 class="govuk-heading-s">Changes</h3>
          <p>Due to recent treaty changes (CESC and ECSMA) claimants from countries including Macedonia, Turkey, Croatia and Norway require a full HRT.</p>

          <h3 class="govuk-heading-s">Hypothesis</h3>
          <p>None.</p>

          <h3 class="govuk-heading-s">Research notes</h3>
          <p>None.</p>

          {{ govukButton({
            text: "View prototype",
            href: "/PYCA-924",
            classes: "govuk-button--start"
          }) }}
        </div>
        {# End of prototype write up #}

      </div>
    </details>
    {# End of hidden panel #}

  </div>
</div>

{% endblock %}
