{% extends "../outcome.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Fast-track this person",
      text: "Refer to decision maker",
      classes: "outcome"
    }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Claimant status</h2>
    <p>Immigration status – other</p>

    <h2 class="govuk-heading-m">Evidence to record in the ALP</h2>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">For each period over 4 weeks abroad in the last 2 years:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>the date they left the UK</li>
      <li>the date they returned to the UK</li>
      <li>the country they visited</li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">For the last time they travelled out of the UK:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>the date they left the UK</li>
      <li>the date they returned to the UK</li>
      <li>the country they visited</li>
      <li>the reason they went away</li>
      <li>the reason they returned</li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">All of the following:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>residence card – card number (right hand corner), nationality, place of issue, issue date, expiry date, permit type, remarks on the front and back of the card</li>
    </ul>

    {{ govukWarningText({
      text: "If the claimant cannot provide the necessary evidence, book an HRT interview.",
      iconFallbackText: "Important"
    }) }}

    <h2 class="govuk-heading-m">Go to the ‘check if HRT interview is needed’ to-do</h2>
    <ol class="govuk-list govuk-list--number">
      <li>For the question “Does the ‘prove you can apply’ service say ‘this person has proved they can apply for Universal Credit’?”, select ‘No’.</li>
      <li>Select the category ‘Fast-track this person’.</li>
      <li>Select ‘Done’.</li>
    </ol>

    <h2 class="govuk-heading-m">Complete the ‘refer to decision maker (HRT)’ to-do</h2>
    <ol class="govuk-list govuk-list--number">
      <li>Download the ALP.</li>
      <li>Complete the appropriate section in the ALP using the necessary evidence.</li>
      <li>Upload the ALP.</li>
      <li>Enter the claimant’s nationality.</li>
      <li>Select ‘Done’.</li>
    </ol>

  </div>
</div>
{% endblock %}
