// the global prototyping styles get imported
// see: app/assets/sass/_global-styles.scss
@import "global-styles";

.pyca-list {
	> li {
		margin-bottom: 20px;
	}
}

.figure {
	&__caption {
		text-align: center;
		font-size: 0.9em;
		color: $grey-1;
	}

  img {
    max-width: 100%;
  }
	&--brp {
		margin-top: 2.5em;
	}
}

.mw-100 {
	max-width: 100%;
	display: block;
}

.image-toggler {

  * {
    box-sizing: border-box;
  }

	&__nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    letter-spacing: -0.32em;
    border-bottom: 1px solid #bfc1c3;
    margin-bottom: 15px;
    text-align: center;

		&-item {
      display: inline-block;
      font-size: 18px;
      letter-spacing: normal;
      margin: 0 7px 0 0;

      a {
        margin-bottom: 7px;
        display: inline-block;
        padding: 15px 25px;
        font-size: 17px;
        background: #dee0e2;
        text-decoration: none;
        font-weight: bold;
        color: #000;
      }

      &.active {
        border: 1px solid #bfc1c3;
          margin-bottom: -2px;
          border-bottom: 1px solid #fff;
          a {
            background-color: #fff;
          }
      }

		}
	}

  &__body {
    @include aspect-ratio(249,247);
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;

    -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);

    &--front, &--back {

      &.active {

        -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);

      }

    }

  }

}
