{% set page = { 
	section: 'Diary' 
} %} 

{% extends currentApp.filePaths.layoutsDir + "default.html" %} {% block main_content %}

<h1 class="heading-large">Your diary</h1>
<p>Here is a list of your appointments.</p>

<div class="c-diary">

<div class="grid-row">

	<div class="column-full diary">

		<div class="cal-nav">
			<ul>
				<li>
					<span class="prev"><a href="#" title="Next week"><span class="back">&#9664;</span> Previous week</a>
					</span>
				</li>
				<li>
					<span class="date">26 September - 1 October</span>
				</li>
				<li>
					<span class="next"><a href="#" title="Next week">Next week <span class="forward">&#9654;</span></a>
					</span>
				</li>
			</ul>
		</div>

		<div class="cal-container">
			<ul class="border-fix">
				<li class="dayrow"><span class="day">Mon 26/9</span></li>
				<li>
					<span class="time">8:00 - 9:00</span>
					<span class="odd">
          	<span class="blank"></span>
					<span class="interview wrapper">8:30 - 9:00 <br>Phone interview<br>
							<div class="tooltip">
								<span class="name">Jason Farrowash</span>
					<span class="tel">01691-528187</span>
					<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
					<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
		</div>
		</span>
		</span>
		</li>

		<li>
			<span class="time">9:00 - 10:00</span>
			<span class="even">
				<span class="interview wrapper">
					9:00 - 9:30 <br>Phone interview<br>
          <div class="tooltip">
						<span class="name">David Steelcreek</span>
			<span class="tel">02360-550179</span>
			<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
			<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	<span class="interview wrapper">
					9:30 - 10:00 <br>Phone interview<br>
					<div class="tooltip">
						<span class="name">Ross Dusttrap</span>
	<span class="tel">01261-363578</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
</div>
</span>
</span>
</li>

<li>
	<span class="time">10:00 - 11:00</span>
	<span class="odd"></span>
</li>

<li>
	<span class="time">11:00 - 12:00</span>
	<span class="even">
                <span class="interview wrapper">
                  11:00 - 11:30 <br>Phone interview<br>

                   <div class="tooltip">
                      <span class="name">Liza Doomglory</span>
	<span class="tel">07587-287029</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	</span>
</li>

<li>
	<span class="time">12:00 - 1:00</span>
	<span class="odd">
                <span class="blank"></span>
	<span class="interview wrapper">
                  12:30 - 1:00 <br>Phone interview<br>
  
                   <div class="tooltip">
                      <span class="name">Matthew  Whitfist</span>
	<span class="tel">07876-081705</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	</span>
</li>

<li>
	<span class="time">1:00 - 2:00</span>
	<span></span>
</li>

<li>
	<span class="time">2:00 - 3:00</span>
	<span class="odd"></span>
</li>

<li>
	<span class="time">3:00 - 4:00</span>
	<span></span>
</li>

<li>
	<span class="time">4:00 - 5:00</span>
	<span class="interview wrapper">
                  4:00 - 4:30 <br>Phone interview<br>
                   
                   <div class="tooltip">
                      <span class="name">Laurence Bronzejumper</span>
	<span class="tel">07893-386911</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	<span class="interview wrapper">
                  4:30 - 5:00 <br>Phone interview<br>

                   <div class="tooltip">
                      <span class="name">Steven Forestvale</span>
	<span class="tel">01614-471570</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
</li>
<li>
	<span class="time">5:00 - 6:00</span>
	<span></span>
</li>

</div>





<div class="cal-container">
	<ul>
		<li class="dayrow"><span class="day">Tue 27/9</span></li>
		<li>
			<span class="even">
            
            <span class="face wrapper">
                  8:00 - 9:00 <br>Office interview<br>
                
                   <div class="tooltip">
                      <span class="name">Peter Grizzlypike</span>
			<span class="interview-address">6 Ludgate Cl, Birmingham Rd, Water Orton, Birmingham B46 1RP, UK</span>
			<span class="tel"></span>
			<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
			<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
</div>
</span>
</span>
</li>
<li>
	<span class="odd">
                <span class="interview wrapper">
                  9:00 - 9:30 <br>Phone interview<br>
               
                  <div class="tooltip">
                      <span class="name">Brian Dawnheart</span>
	<span class="tel">01522-243467</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	<span class="interview wrapper">
                  9:30 - 10:00 <br>Phone interview<br>
                
                   <div class="tooltip">
                      <span class="name">Andrew Bronzestrike</span>
	<span class="tel">01545-084654</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	</span>
</li>
<li>
	<span class="even">
            <span class="interview wrapper">
                10:00 - 10:30 <br>Phone interview<br>
  
                 <div class="tooltip">
                      <span class="name">Madeline Blueglow</span>
	<span class="tel">07978-868348</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>

	</span>
</li>
<li>
	<span class="odd">
            <span class="face wrapper">
                  11:00 - 12:00 <br>Office interview<br>
                   
                   <div class="tooltip">
                      <span class="name">David Fistroar </span>
	<span class="interview-address">10 Cross View, Norham, Berwick-upon-Tweed TD15 2LH, UK</span>
	<span class="tel"></span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	</span>
</li>
<li>
	<span class="even">
            
            <span class="blank"></span>
	<span class="interview wrapper">
                  12:30 - 1:00 <br>Phone interview<br>

                   <div class="tooltip">
                      <span class="name">Maureen Clearhorn</span>
	<span class="tel">07753-137699</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	</span>
</li>
<li>
	<span class="odd"></span>
</li>
<li>
	<span class="even"></span>
</li>
<li>
	<span class="odd">
            <span class="interview wrapper">
                  3:00 - 3:30 <br>Phone interview<br>
                 
                  <div class="tooltip">
                      <span class="name">Nancy Cliffbelly</span>
	<span class="tel">07417-004923</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	<span class="interview wrapper">
                  4:00 - 4:30 <br>Phone interview<br>

                  <div class="tooltip">
                      <span class="name">Sean Fullrock</span>
	<span class="tel">01497-508608</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	</span>
</li>
<li>
	<span class="even"></span>
</li>
<li>
	<span class="odd"></span>
</li>
</div>


<div class="cal-container">
	<ul>
		<li class="dayrow"><span class="day">Wed 28/9</span></li>
		<li>
			<span class="odd"></span>
		</li>
		<li>
			<span class="even">
           
          </span>
		</li>
		<li>
			<span class="odd">
           
          </span>
		</li>
		<li>
			<span class="even">
            <span class="face wrapper">
                  11:00 - 12:00 <br>Office interview<br>
                   
                   <div class="tooltip">
                      <span class="name">Gary Truthash</span>
			<span class="interview-address">2562 Anchor Square, Bakewell DE45, UK</span>
			<span class="tel"></span>
			<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
			<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
</div>
</span>
</span>
</li>
<li>
	<span class="odd">
            <span class="blank"></span>
	<span class="interview wrapper">
                  12:30 - 1:00 <br>Phone interview<br>
                
                  <div class="tooltip">
                      <span class="name">Edward Frozenwatcher</span>
	<span class="tel">01467-290816</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>

	</span>
</li>
<li>
	<span class="even"></span>
</li>
<li>
	<span class="odd"></span>
</li>
<li>
	<span class="even"></span>
</li>
<li>
	<span class="odd">
             <span class="interview wrapper">
                  4:00 - 4:30 <br>Phone interview<br>
                   
                   <div class="tooltip">
                      <span class="name">Pamela Softfang</span>
	<span class="tel">01623-672630</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	<span class="interview wrapper">
                  4:30 - 5:00 <br>Phone interview<br>
                
                   <div class="tooltip">
                      <span class="name">Jon Whitesnarl</span>
	<span class="tel">07793-924007</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	</span>
</li>
<li>
	<span class="even"></span>
</li>
</div>


<div class="cal-container">
	<ul>
		<li class="dayrow"><span class="day">Thu 29/9</span></li>
		<li>
			<span class="even">
            
             <span class="blank">

                </span>
			<span class="interview wrapper">
                  8:30 - 9:00 <br>Phone interview<br>

                   <div class="tooltip">
                      <span class="name">David Terrawound</span>
			<span class="tel">07822-032700</span>
			<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
			<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
</div>
</span>
</span>
</li>
<li>
	<span class="odd">
            
          </span>
</li>
<li>
	<span class="even">
            
            <span class="interview wrapper">
                10:00 - 10:30 <br>Phone interview<br>
             
                 <div class="tooltip">
                      <span class="name">Sharman Bearbash</span>
	<span class="tel">07660-920655</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	</span>
</li>
<li>
	<span class="odd">
            <span class="face wrapper">
                  11:00 - 12:00<br>Office interview<br>
               
                   <div class="tooltip">
                      <span class="name">Lei Lie</span>
	<span class="interview-address">121 The Fairway, Banbury OX16 0QY, UK</span>
	<span class="tel"></span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>

	</span>
</li>
<li>
	<span class="even">
            <span class="blank"></span>
	<span class="interview wrapper">
                  12:30 - 1:00 <br>Phone interview<br>
  
                   <div class="tooltip">
                      <span class="name">Mark Silentcrag</span>
	<span class="tel">01344-828386</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	</span>
</li>
<li>
	<span class="odd"></span>
</li>
<li>
	<span class="even">
                <span class="blank"></span>
	<span class="face wrapper">
                  2:30 - 3:30 Interview<br>Office interview<br>
                  
                   <div class="tooltip">
                      <span class="name">Fred Downrun</span>
	<span class="interview-address">4 Forge Way, Garboldisham, Diss IP22 2QG, UK</span>
	<span class="tel"></span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	</span>
</li>
<li>
	<span class="odd"></span>
</li>
<li>
	<span class="even">
            
             <span class="interview wrapper">
                  4:00 - 4:30 <br>Phone interview<br>
             
                  <div class="tooltip">
                      <span class="name">Carol Crowash </span>
	<span class="tel">01866-908413</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	<span class="interview wrapper">
                  4:30 - 5:00 <br>Phone interview<br>
               
                  <div class="tooltip">
                      <span class="name">Andrew Bronzestrike</span>
	<span class="tel">01687-749926</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	</span>
</li>
<li>
	<span class="odd"></span>
</li>
</div>


<div class="cal-container">
	<ul>
		<li class="dayrow"><span class="day">Fri 30/9</span></li>
		<li>
			<span class="odd">
            
              <span class="interview wrapper">
                  8:00 - 8:30 <br>Phone interview<br>
                   
                   <div class="tooltip">
                      <span class="name">Nancy Cliffbelly</span>
			<span class="tel">07748-596521</span>
			<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
			<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
</div>
</span>
<span class="interview wrapper">
                  8:30 - 9:00 <br>Phone interview<br>
               
                   <div class="tooltip">
                      <span class="name">Sean Fullrock</span>
<span class="tel">07440-946113</span>
<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebookk interview</a>
</div>
</span>
</span>
</li>
<li>
	<span class="even">
            
          </span>
</li>
<li>
	<span class="odd">
           
          </span>
</li>
<li>
	<span class="even">
            <span class="face wrapper">
                  11:00 - 12:00 <br>Office interview<br>
             
                  <div class="tooltip">
                      <span class="name">Gary Truthash</span>
	<span class="interview-address">11 Millport Rd, Wolverhampton WV4 6BQ, UK</span>
	<span class="tel"></span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	</span>
</li>
<li>
	<span class="odd">
            <span class="blank"></span>
	<span class="interview wrapper">
                  12:30 - 1:00 <br>Phone interview<br>
                  
                  <div class="tooltip">
                      <span class="name">Laurence Bronzejumper</span>
	<span class="tel">07874-298213</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>

	</span>
</li>
<li>
	<span class="even"></span>
</li>
<li>
	<span class="odd"></span>
</li>
<li>
	<span class="even"></span>
</li>
<li>
	<span class="odd">
             <span class="interview wrapper">
                  4:00 - 4:30<br>Phone interview<br>
                  
                   <div class="tooltip">
                      <span class="name">Jason Farrowash</span>
	<span class="tel">01539-602383</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	<span class="interview wrapper">
                  4:30 - 5:00 <br>Phone interview<br>
            
                   <div class="tooltip">
                      <span class="name">David Steelcreek</span>
	<span class="tel">01697-735795</span>
	<a href="{{ currentApp.urlPaths.root + 'case/' }}" title="Open case">Open case</a>
	<a href="{{ currentApp.urlPaths.root + 'activity/' }}interview-rebook" title="Open case">Rebook interview</a>
	</div>
	</span>
	</span>
</li>
<li>
	<span class="even"></span>
</li>
</div>


<div class="cal-container">
	<ul>
		<li class="dayrow"><span class="day">Sat 1/10</span></li>
		<li>
			<span class="even"></span>
		</li>
		<li>
			<span class="odd"></span>
		</li>
		<li>
			<span class="even"></span>
		</li>
		<li>
			<span class="odd"></span>
		</li>
		<li>
			<span class="even"></span>
		</li>
		<li>
			<span class="odd"></span>
		</li>
		<li>
			<span class="even"></span>
		</li>
		<li>
			<span class="odd"></span>
		</li>
		<li>
			<span class="even"></span>
		</li>
		<li>
			<span class="odd"></span>
		</li>
</div>

</div>
</div>
	
	
</div>

{% endblock %}