{% import "includes/macros/global.html" as macros %}
{% import "includes/macros/forms.html" as form %}

{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}

{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block footer_support_links %}
  {% if useAutoStoreData %}
    <ul>
      <li>
        <a href="/prototype-admin/clear-data">Clear data</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block body_end %}

  {% include "includes/scripts.html" %}

  {% if page.hasLocationPicker %}

    <link rel="stylesheet" href="/public/javascripts/lib/openregister-picker/location-picker.min.css">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/lib/openregister-picker/picker-engine.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/lib/openregister-picker/location-picker.min.js"></script>

    <script type="text/javascript">
      var dataFilePath = '/public/data/picker-data-4.json'
      openregisterLocationPicker({
        defaultValue: '',
        selectElement: document.getElementById('location-picker'),
        url: dataFilePath
      })
    </script>

  {% endif %}

  <script type="text/javascript">
    function addauth(username, password) {
      var value = 'Basic ' + btoa(username + ":" + password);

      (function(send) {
        XMLHttpRequest.prototype.send = function(data) {
          this.setRequestHeader('Authorization', value);
          send.call(this, data);
        };
      })(XMLHttpRequest.prototype.send);

      (function(fetch) {
        var headers = new Headers();
        headers.set('Authorization', value);
        window.fetch = function(data) {
          fetch.call(this, data, { headers: headers });
        };
      })(window.fetch);

    };

    addauth('{{ 'USERNAME' | getENV }}', '{{ 'PASSWORD' | getENV }}')

  </script>

  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
  {{ currentApp | log if currentApp }}
{% endblock %}
