{% import "includes/macros/global.html" as macros %}
{% import "includes/macros/forms.html" as form %}

{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}

{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block footer_support_links %}
  {% if useAutoStoreData %}
    <ul>
      <li>
        <a href="/prototype-admin/clear-data">Clear data</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block body_end %}

  {% include "includes/scripts.html" %}

  {% if page.hasLocationPicker %}

    <link rel="stylesheet" href="https://unpkg.com/accessible-typeahead@0.4.1/dist/styled.min.css">

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/registers-picker-engine@0.0.2"></script>
    <script type="text/javascript" src="https://unpkg.com/accessible-typeahead@0.4.1"></script>

    <script type="text/javascript">
      var dataFilePath = '/public/data/picker-data-4.json'
      AccessibleTypeahead.enhanceSelectElement({
        autoselect: true,
        selectElement: document.getElementById('location-select-dropdown'),
        minLength: 2,
        source: locationPickerSuggestions(dataFilePath)
      })
    </script>

  {% endif %}

  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
  {{ currentApp | log if currentApp }}
{% endblock %}
